{% extends "base.twig" %}

{% block title %}Liste des réservations / Administration{% endblock %}

{% block content %}
        <div class="column clearboth" id="discoverContainer">
            <iframe id="frameResalys" src="{{ path('resalys_wrapper', {
                display: 'edit_customer_info',
                webuser: 'web_ce_cpc_fr',
                session: app.session.get('resalys_user').session,
            }) }}" width="960px" height="700px"></iframe>
        </div>
{% endblock %}
