    <div id="results" class="clear">
    {% if list.type == 1 and list.contrePropos == 1 %}
        <div class="important">
            <p>{{ "general.contre_proposition" | trans | raw }}</p>
        </div>
    {% endif %}
    {% for etab in list.element %}
        {% if etab.model.id != '238' %}
		    {% set nomEtab = 'fiche.camping' | trans ~ ' ' ~ etab.model.name | replace({ ('fiche.camping' | trans ~ ' ' ): '' }) %}
        {% else %}
            {% set nomEtab = etab.model.name %}
        {% endif %}
		{% include 'Camping/list_item.twig' %}
    {% else %}
    <h2>{{ "listing.no_results_title" | trans }}</h2>
    <p>{{ "listing.no_results" | trans }}</p>
    {% endfor %}

</div><!-- // #result -->
{% if list.element|length > 0 %}
<button id="btPlusResults" class="bt big sombre">{{ "listing.plus_resultats" | trans }}</button>
{% endif %}
