/composer.phar
/vendor/
/node_modules/
/app/cache/*
/app/logs/*
/app/config/languages.yml
/app/config/settings.yml
/app/config/Propel/databases.xml
/app/config/Propel/generated/*
/app/config/Resalys/client.yml
/app/config/Cungfoo/users.yml
/app/resources/data/sql/*
/web/uploads/*
/web/portfolio/*
.idea/
.vagrant
Vagrantfile
/migrations
/portfolio/
/app/config/VacancesDirectes/locales/de.yml
/app/config/VacancesDirectes/locales/fr.yml
/app/config/VacancesDirectes/locales/nl.yml
/app/config/memcache.yml
