/composer.phar
/vendor/
/app/cache/*
/app/logs/*
/app/config/languages.yml
/app/config/Propel/databases.xml
/app/config/Propel/generated/*
/app/config/Resalys/client.yml
/app/config/Cungfoo/users.yml
/app/resources/data/sql/*
/web/uploads/*
/web/portfolio/.thumbs/*
/web/portfolio/images/*
.idea/
.vagrant
Vagrantfile
/migrations
/portfolio/
