{% extends "base.twig" %}

{% block title %}Packages{% endblock %}

{% block content %}
        <div class="column">
            <iframe src="{{ path('resalys_wrapper', {
                iframe: 1,
                display: 'default',
                template: 'search_product_results',
                criterias_object_name: 'search_form',
                product_CMSCriteria_ALL: 'ALL',
                product_start_date: "02/04/2012",
                webuser: 'web_ce_achat_fr',
                session: app.session.get('resalys_user').session
            }) }}" width="960px" height="700px"></iframe>
        </div>
{% endblock %}