{% extends "base.twig" %}

{% block title %}Packages{% endblock %}

{% block content %}
        <div class="column clearboth" id="discoverContainer">

            <iframe id="frameResalys" src="{{ path('resalys_wrapper', {
                webuser: 'web_ce_achat_fr',
                display: 'default',
                tokens: 'ignore_token',
                session: app.session.get('resalys_user').session,
                template: 'search_product_results',
                actions: 'updateProductCriterias;getProductProposals',
                criterias_object_name: 'search_form',
                product_CMSCriteria_ALL: 'ALL',
                search_page: '1',
                product_CMSCriteria_PHS: '',
                product_start_date: "now" | date("d/m/Y"),
            }) }}" width="960px" height="700px"></iframe>
        </div>
{% endblock %}
