languages:
    fr:
        name:  locale.french
        domain: ##domain_fr##
        resalys_username: web_fr
    de:
        name:  locale.german
        domain: ##domain_de##
        resalys_username: web_de
