assets_base_url:
    default: "##assets_base_url##"
    css: "##assets_base_url_css##"
    js: "##assets_base_url_js##"
google_webmaster_id: "##google_webmaster_id##"
smtp:
    host: "##smtp_host##"
    port: "##smtp_port##"
    user: "##smtp_user##"
    pass: "##smtp_pass##"