{% extends "base.twig" %}

{% block leftColumn %}
    <h1>{{ 'err404.title' | trans }}</h1>
    <p>{{ 'err404.content' | trans({'%link%': path('homepage')}) | raw }}</p>
{% endblock %}

{% block rightColumn %}
<div id="greyBoxes">
    {% include 'Bloc/sejour_reussi.twig' %}
</div>
{% endblock %}
