{% extends "base.twig" %}

{% block leftColumn %}
    <h1>{{ 'err500.title' | trans }}</h1>
    <p>{{ 'err500.content' | trans({'%link%': path('homepage')}) | raw }}</p>
{% endblock %}

{% block rightColumn %}
<div id="greyBoxes">
    {{ esi(path('widget', {'name': 'sejour_reussi'})) }}
</div>
{% endblock %}
