{% extends "base.twig" %}

{% block title %}{{ etablissement.name }}{% endblock %}

{% block content %}
        <div class="row">
            <div class="span8">
                <blockquote>CAMPING CONTENT</blockquote>
                <h1>{{ etablissement.name }}</h1>
            </div>
            <div class="span4">
                <blockquote>SIDEBAR</blockquote>
            </div>
        </div>
{% endblock %}
