<ul>
    {% for domaine in app.config.getDimensions['site'][app.context.getSite].domaines %}
        <li>
            <a href="{{ path ('homepage', {'domaine': domaine}) }}"><img src="{{ asset ( "famfamfam/%s.gif"|format (domaine) ) }}"/></a>
        </li>
    {% endfor %}
</ul>
