{% extends "base.twig" %}
{% block bodyClass %} annulation{% endblock %}

{% block content %}
    <div id="wrap" class="fixed-width clear">
        <div class="column left">
            {% block leftColumn %}
            {% endblock %}
        </div>
        <aside class="column right">
            {% block topRightColumn %}
                {% include 'Form/_search_engine.twig' %}
                <div id="greyBoxes">
                    {{ esi(path('widget', {'name': 'sejour_reussi'})) }}
                    {{ esi(path('widget', {'name': 'reassurance'})) }}
                </div>
            {% endblock %}
        </aside>
    </div>
{% endblock %}