{% extends "Annulation/base.twig" %}

{% block leftColumn %}
    <h1>{{ "demande_annulation.confirmation.title" | trans }}</h1>
    <p>{{ "demande_annulation.confirmation.content" | trans }}</p>
{% endblock %}
