services:
    modele:
        location: ##url##/rsl/clickbooking
    catalogue:
        location: ##url##/rsl/wsdl_distrib
        default_envelope:
            base_id:  ##base_id##
            username: web_fr
            password: DInan22101
    disponibilite:
        location: ##url##/rsl/dwsdl?namespace=search_engine
        default_envelope:
            base_id:  ##base_id##
            username: web_fr
            password: DInan22101
    prix:
        location: ##url##/rsl/wsdl_flow
        default_envelope:
            base_id:  ##base_id##
            username: web_fr
            password: DInan22101
            flow_name: prix_min
            nb_products: 9999
    auth:
        location: ##url##/rsl/dwsdl?namespace=webresCustomer
        default_envelope:
            base_id:  ##base_id##
            username: web_ce_achat_fr
            password: web_ce_achat_fr
    auth_indiv:
        location: ##url##/rsl/dwsdl?namespace=webresCustomer
        default_envelope:
            base_id:  ##base_id##
            username: web_fr
            password: DInan22101
