{% extends 'base.twig' %}

{% block bodyClass %}result{% endblock %}

{% block leftColumn %}
    <span class="nbResult"><span class="nb">{{ list.element | length }}</span>Résultat(s)</span>
    <div class="typeAff">
        <span>Affichage résultats</span>
        <button class="button picto active">Liste</button>
        <button class="button picto">Carte</button>
    </div>
    <div id="widgetRange">
        Budget(s) proposé(s)
        <div id="noUiSlider" class="noUiSlider" data-range='{"minScale":0, "maxScale":500, "minStart":"0", "minStop":"500"}'></div>
    </div>

    <form id="filterTri" action="">
        <fieldset>
            <label for="">Trier par</label>
        </fieldset>
    </form>

    {% include 'Listing/_gmap.twig' %}

    <span class="infoComp">Comparateur</span>
    {% include 'Listing/_listing.twig' %}
{% endblock %}

{% block rightColumn %}
    {% include 'Form/_search_engine.twig' %}
{% endblock %}
