/* Project: NOMPROJET - Date: 20120806 - Author: C2iS.fr > TRI */

/*Variables*/
@colorGris0: #8c8a8a; /* Gris 0 */
@colorGris1: #5f5f5f; /* Gris 1 */
@colorGris2: #464545; /* Gris 2 */
@colorGris3: #e6e5e5; /* Gris 3 */
@colorGris4: #606060; /* Gris 4 */
@colorBlanc: #fff;
@colorFushia: #ed145b;
@colorVert: #b0c700;
@colorBleu: #009ab0;
@colorBleuF:#005ea6;
@colorBleuFB: #00549e;
@colorOrange: #f58220;
@colorJaune: #ffd503;

@colorRubricFushia: #c60b46;
@colorRubricJaune: #e8a713;
@colorRubricOrange: #f58220;
@colorRubricVert: #8dc63f;
@colorRubricViolet: #9a4d9e;

@colorBgGrisF: #464545; /* bg gris sombre */
@colorBgGrisM: #8c8a8a; /* bg gris moyen sombre */
@colorBgGrisM2: #b2b1b1; /* bg gris moyen clair */
@colorBgGrisC: #e6e5e5; /* bg gris clair */


@colorBgBlanc: #ffffff; /* bg blanc */
@colorBgBleu: #009ab0; /* bg bleu */

@colorBorderGris: #c6c5c5; /* border gris */

@radius:4px;
@gutter:24px;

@arial:Arial, Helvetica, sans-serif;
@ptnarrow: 'PT Sans Narrow', @arial;

._border-radius(@radius:@radius) {
  -webkit-border-radius:@radius;
  border-radius:@radius;
}
._margin(left, @dist:@gutter) {
  margin-left:@dist;
}
._margin(right, @dist:@gutter) {
  padding-left:@dist;
}
._box-shadow(@shadow:3px 3px 10px 0px rgba(0,0,0,0.3)) {
  -webkit-box-shadow:@shadow;
  box-shadow:@shadow;
}
._text-shadow(@blur:10px, @horz:0px, @vert:0px, @rgba:rgba(0,0,0,0.7), @offx:0, @offy:0, @hex:#666) {
  text-shadow:@horz @vert @blur @rgba;
//filter:glow(color=@hex,strength=@blur);
//filter:dropshadow(color=@hex, offx=@offx, offy=@offy);
}
._transition(@transition) {
  -webkit-transition:@transition;
  -o-transition:@transition;
  transition:@transition;
}
._transform(@transform) {
  -webkit-transform:@transform;
  -moz-transform:@transform;
  -ms-transform:@transform;
  -o-transform:@transform;
  transform:@transform;
}
/* Centrer verticalement dans un conteneur de hauteur fixe */
._verticalCenter(@height, @lineHeight:inherit) {
  height: @height;                                                            /* Centrer verticalement une ligne de texte */
  line-height: @height;
  &>* {vertical-align:middle;display:inline-block;line-height:@lineHeight;}   /* Centrer verticalement plusieurs lignes de texte */
  &>img {vertical-align:middle;}                                               /* Centrer verticalement une image de taille variable */
}

.bt{display:block;border:0;text-transform:uppercase;text-decoration:none;font:bold 14px @ptnarrow;padding:3px 10px;._border-radius(7px);
  &.gris{background-color:@colorBgGrisC;color:@colorFushia;}
  &.gris2{background-color:@colorBgGrisC;color:@colorGris2;}
  &.sombre{background-color:@colorBgGrisF;color:@colorBlanc;}
  &.fushia{background-color:@colorFushia;color:@colorBlanc;}
  &.orange{background-color:@colorOrange;color:@colorBlanc;}
  &.trans{background:transparent;padding:0;}
  &.link{background:transparent;padding:0;text-decoration:underline !important;border-radius:0;}
  &.cfushia{color:@colorFushia;}
  &.big{padding:5px 10px;}
  &.small{padding:1px 10px;font-size:12px;._border-radius(10px)}
  &.full{clear:both;width:100%;text-align:center;font-size:26px;margin:15px 0;}
  &.ib{display:inline-block;}
}

@ptnarrow:'PT Sans Narrow', @arial;

/*GLOBAL RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary,time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;	border-spacing: 0;}

/*HTML5 RESET*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/*GLOBAL STYLING*/
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;/* *behavior: url(../js/libs/boxsizing.htc);*/}
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
button, input, select, textarea { font-family: sans-serif; color: @colorGris1; }

/*::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }*/

/*LINKS*/
a { color: @colorGris2; text-decoration: underline;  }
a:hover { text-decoration: none; }

/*DEFAULT ELM*/
b, strong { font-weight: bold; }
em {font-style:normal;}
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; -ms-interpolation-mode: bicubic; }
svg:not(:root) { overflow: hidden; }

/*FORMS*/
legend { border: 0; *margin-left: -7px; }
//label{cursor:pointer;}
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto;  resize: vertical; }

/*PLACEHOLDER*/
::-webkit-input-placeholder { color:@colorGris1; }
*:-moz-placeholder { color:@colorGris1; }
*:-ms-placeholder { color:@colorGris1; }
*.placeholder { color:@colorGris1; }
/* :focus - lighten() for dark bg & light text || darken() for light bg & dark text */
*:focus::-webkit-input-placeholder{color:lighten(@colorGris1, 50%);-webkit-transition:all .5s ease;}
*:focus:-moz-placeholder{color:lighten(@colorGris1, 50%);transition:all .5s ease;}
*:focus:-ms-placeholder{color:lighten(@colorGris1, 50%);transition:all .5s ease;}

/* MICRO CLEARFIX : http://nicolasgallagher.com/micro-clearfix-hack/ */
.clear:before, .clear:after, .bloc:before, .bloc:after{content:"";display:table;}
.clear:after, .bloc:after{clear:both;}
.clear, .bloc{zoom:1;}
/* + clearboth */
.clearboth{clear:both;}
.left{float:left;}
.right{float:right;}
.h1-like, .h2-like, .h3-like, .h4-like, .h5-like, .h6-like{display:block;}
h1, .h1-like{dismargin:20px 0 0;color:@colorFushia;font:bold 30px @ptnarrow;text-transform:uppercase;}
h2, .h2-like{color:@colorGris2;font:bold 20px @arial;line-height:22px;}
h3, .h3-like{color:@colorGris1;font:bold 25px/24px @ptnarrow;text-transform:uppercase;margin:20px 0 5px;}
h4, .h4-like{color:@colorFushia;font:bold 19px/18px @ptnarrow;text-transform:uppercase;margin-top:25px;margin-bottom:15px;}
h5, .h5-like{color:@colorGris1;font:bold 16px/15px @ptnarrow;text-transform:uppercase;margin-bottom:10px;}
h6, .h6-like{color:@colorFushia;}

body.clear{background:#fff;color:@colorGris2;font:12px @arial;margin:0;}
#homePage{margin:0;}
.full-width{position:relative;min-width:100%;float:left;z-index:0;}
.fixed-width{position:relative;width:976px;margin:0 auto;}
.column{width:928px;margin:0 @gutter;position:relative;
  &.left{width:616px;margin:0 0 0 @gutter;}
  &.right{width:288px;margin:0 @gutter 0 0;}
  .ratio-33{width:300px;margin-right:16px;
    &.clear{margin-right:0;}
  }
}

/*GENERAL*/
.stain{width:131px;._verticalCenter(55px);background:url("../../images/vacancesdirectes/common/sprites/stain.png") no-repeat 0 -439px transparent;text-align:center;font-size:10px;color:@colorBlanc;left:130px;bottom:0px;position:absolute;
  &>span{margin-top:15px;}
  .price{font-size:27px;font-weight:bold;display:block;margin:8px 0 -8px;letter-spacing:normal;}
}

.stamp{position:relative;text-align:center;
  &.blue{background-color:@colorBgBleu;}
  &.grey{background-color:@colorBgGrisM;}
  &.fushia{background-color:@colorFushia;}
  &.orange{background-color:@colorOrange;}
  &:before{content:url('../../images/vacancesdirectes/common/ui/stamp-left-blanc.png');width:12px;height:24px;position:absolute;left:0;top:50%;margin-top:-12px;}
  &:after{content:url('../../images/vacancesdirectes/common/ui/stamp-right-blanc.png');width:12px;height:24px;position:absolute;right:0;top:50%;margin-top:-12px;}

  h2{color:@colorBlanc;text-align:center;text-transform:uppercase;position:relative;display:inline-block;}
}


.radiusBox{._border-radius(10px);padding:15px 20px;margin:15px 0;position:relative;
  &.greyC{background-color:@colorBgGrisC;color:@colorGris2;}
  &.fushia{background-color:@colorFushia;color:@colorBlanc;
    &.arrowLeft:after{right:100%;top:50%;border:solid transparent;content:"";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(140, 138, 138, 0);border-right-color:@colorFushia;border-width:18px;margin-top:-18px;margin-left:-18px;}
  }
  .stamp{color:@colorBlanc;._verticalCenter(38px);padding:0 20px;display:block;
    &:before{content:url('../../images/vacancesdirectes/common/ui/stamp-left.png');}
    &:after{content:url('../../images/vacancesdirectes/common/ui/stamp-right.png');}
    &>h2{text-transform:uppercase;font:bold 22px @ptnarrow;line-height:inherit;}
    &.no{background:none;padding:0;._verticalCenter(38px,22px);
      &>h2{color:@colorGris1;}
    }
  }
}

.tooltip {outline:none;position:relative;display:inline-block;}
.tooltip strong {line-height:30px;}
.tooltip:hover {text-decoration:none;}
.tooltip span.bubble {font:bold 12px/35px @arial;background:@colorBgGrisM;color:@colorBlanc;text-transform:none;padding:10px;text-decoration:none;text-align:center;._border-radius(10px);z-index:10;display:none;margin:0;width:auto; line-height:16px;left:150px;bottom:-5px;white-space:nowrap;}
.tooltip.datepicker span.bubble{left: 294px;}
.tooltip span.bubble:after{right:100%;border:solid transparent;content:"";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(140, 138, 138, 0);border-right-color:@colorBgGrisM;border-width:5px;top:50%;margin-top:-5px;}
.tooltip:hover span.bubble{
  display:inline; position:absolute;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:50%;}


/*CSS3 extras*/
.tooltip span.bubble{._box-shadow(0 10px 10px -12px @colorGris2);}

.indication {font:bold 12px/35px @arial;background:@colorBgBlanc;color:@colorBgGrisM;border:4px solid @colorBgGrisM;text-transform:uppercase;padding:5px 10px;margin-bottom:35px;text-decoration:none;._border-radius(10px);position:relative;line-height:16px;}
.warning, .error {font:bold 12px/35px @arial;background:@colorBgBlanc;color:@colorFushia;border:4px solid @colorFushia;text-transform:uppercase;padding:5px 10px;margin-bottom:35px;text-decoration:none;._border-radius(10px);position:relative;line-height:16px;}

form .errors {position:relative;outline:none;text-decoration:none;display:inline-block;margin: 0;}
form .errors strong {line-height:30px;}
form .errors p {position:absolute;top:-4px;left:100%;font:bold 12px/35px @arial;background:@colorBgBlanc;color:@colorFushia;border:4px solid @colorFushia;text-transform:uppercase;padding:5px 10px;text-decoration:none;text-align:left;._border-radius(10px);z-index:10;display:inline;margin:0;line-height:16px;white-space:nowrap;padding:5px 7px;margin-left:5px;}
form .errors p:before {right:100%;top:50%;border:solid transparent;content:"";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(138, 140, 138, 0);border-right-color:@colorFushia;border-width:5px;margin-top:-5px;margin:-4px 4px 0 0;}
#contentContener.detail #reservation form p {margin: 0;}

input,
textarea{font:bold 12px @arial;color:@colorGris0;}
input[type="text"],input[type="password"]{background-color:@colorBgBlanc;width:216px;._verticalCenter(27px);padding: 0 7px;border:0 none;}
textarea{background-color:@colorBgBlanc;width:216px;height:81px;padding: 0 7px;border:0 none;}
.label{font:bold 15px @ptnarrow;color:@colorGris0;text-transform:uppercase;display:inline-block;}
//h4{font-size:15px;line-height:17px;}
.bold{font-weight:bold;}


/*LEFT*/
#contentContener{
  .radiusBox{margin-bottom:35px;padding-top:15px;
    .stamp{margin: 0 -20px 15px;padding-left:48px;text-align:left;
      &:before,
      &:after{content:"";}
      h2{text-transform:uppercase;font:bold 22px @ptnarrow;._verticalCenter(38px);position:static;color:@colorBlanc;
        &>span{
          background-color:@colorFushia;
          color: @colorBlanc;
          display: block;
          width:38px;
          height: 38px;
          font-size:28px;
          line-height: 34px;
          margin-top: 0;
          position: absolute;
          top: 0;
          left: 0;
        }
        &>small{font-size:17px;margin-top:-3px;}
      }
    }
  }

  p{margin-bottom:10px;}
  table{width:100%;}
  .whiteBg{background-color:@colorBgBlanc;padding: 20px 20px 20px 38px;clear:both;}

// step 1 & 2
  .proposal{
  //    font:normal 14px/19px @arial;padding-bottom:60px;text-align:left;
    .stamp h2 > span{background-color:@colorGris2;}
    .proposalCamping{font:bold 20px/22px @arial;color:@colorGris2;}
    .proposalDates{font:bold 18px/23px @arial;color:@colorGris2;}
    .proposalPicture{width:200px;min-height:143px;}
    .total{
      span{font:bold 16px/17px @ptnarrow;
        .price{font:normal 19px/18px @ptnarrow;margin:0;}
      }
    }
    table{border-collapse:separate;border-spacing: 0 10px;}
    tr{font-size:12px;
      hr{
        border:1px outset @colorBgGrisM2;
        border:1px inset @colorBgGrisM;
      }
      &.productDiscounts{font-weight:bold;}
      &.productsNotSelectedYet{font-weight:normal;height:30px;}
      td{vertical-align:middle;
        &.optionQuantity{width:27px;}
        &.optionLabel{width:400px;padding:5px;
          &.staySummary{background-color:@colorBgBlanc;color:@colorGris0;
            table{border-spacing: 0 !important;border-collapse: collapse !important;}
          }
          .costsIncluded{font-style:italic;font-size:11px;}
        }
        &.price{width:110px;font:bold 19px/18px @ptnarrow;text-align:right;border:0 none !important;
          >div{background-color:@colorBgBlanc;padding:0 10px;display:block;height:30px;line-height:30px;}
        }
        &.action{text-align:right;width:27px;}
        .control_checkbox{margin-top:0;margin-right:5px;}
        .hiddenIfCheckbox{display:none;}
        .deleteLink{position:relative;display:block;width:27px;height:24px;background:url("../../images/vacancesdirectes/common/sprites/sprite-27.png") no-repeat 5px -243px transparent;float:left;
          span{display:none;}
        }
      }
    }
  }
  #stayPrice{
    .staySummary{background-color:@colorBgBlanc;color:@colorGris0;
      table{border-spacing: 0 !important;border-collapse: collapse !important;font-weight: normal !important;}
    }
  }

// step 1
  &.detail{
    #reservation{
      table{border-collapse:separate;border-spacing: 0 10px;}
      tr{
        &.productDiscounts{font-weight:bold;}
        &.productsNotSelectedYet{font-weight:normal;height:30px;}
        td{vertical-align:middle;
          &.optionQuantity{width:27px;}
          &.optionLabel{width:400px;padding:5px;
            .insurance{position:relative;display:inline;width:375px;
              .insuranceInfo{background: url("../../images/vacancesdirectes/common/sprites/sprite-27.png") no-repeat scroll 0 -324px transparent;display:block;width:27px;height:27px;position:absolute;top:-7px;right:-27px;cursor:pointer;
                &.tooltip span.bubble{width:308px;white-space:normal;position:absolute;bottom:32px;left:-142px;text-align:left;
                  &:after{top:100%;right:auto;margin-top:0;border:solid transparent;content:"";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(140, 138, 138, 0);border-top-color: #8C8A8A;border-width:5px;left:50%;margin-left:-5px;}
                }
              }
            }
          }
          &.price{width:110px;font:bold 19px/18px @ptnarrow;text-align:right;border:0 none !important;
            >div{background-color:@colorBgBlanc;padding:0 10px;display:block;height:30px;line-height:30px;}
          }
          &.action{text-align:right;width:27px;}
          .control_checkbox{margin-top:0;margin-right:5px;}
          .hiddenIfCheckbox{display:none;}
          .deleteLink{position:relative;display:block;width:27px;height:24px;background:url("../../images/vacancesdirectes/common/sprites/sprite-27.png") no-repeat 5px -243px transparent;float:left;
            span{display:none;}
          }
        }
      }
      .aRoom{
      //        .stain{width:131px;height:131px;background-position:0 0;top:0;bottom:auto;right:17px;left:auto;
      //          .price{font:bold 27px/131px @ptnarrow;display:block;margin:3px 0 0px;letter-spacing:normal;}
      //        }
        .changeOccupantCount{height:auto;background-color:@colorBgGrisM;padding:10px 5px 0;position:relative;
          &>span{margin:0 5px 10px;._verticalCenter(27px);font:bold 17px @ptnarrow;color:@colorBlanc;text-transform:uppercase;display:inline-block;}
        //          .addAction a{position:absolute;top:10px;right:10px;display:block;width:27px;height:27px;text-indent:-9999px;background:url("../../images/vacancesdirectes/common/sprites/sprite-27.png") no-repeat 0 -162px transparent;}
          .addAction{display:none;}
        }
        #occupants{background-color:@colorBgGrisC;padding-top:10px;
          .totalTaxeSejour{margin:0 27px;width:522px;
            td.labelTaxeSejour{padding:0px 5px;width:400px;}
            span{color:@colorGris4;font:bold 14px @ptnarrow;}
          }
        }
        .anOccupant{background-color:@colorBgBlanc;margin:0 0 10px;
          h3{background-image:none !important;background-color:@colorFushia;color:@colorBlanc;padding:5px 35px 5px 0;position:relative;font-size:23px;margin-bottom:10px;
            .occupantHeaderLeft{._verticalCenter(27px);
              small{font:bold 17px @arial;text-transform:none;}
              &:before{content:"";width:27px;height:27px;background:url("../../images/vacancesdirectes/common/sprites/sprite-27.png") no-repeat 0 -189px transparent;float:left;margin:0 10px;}
            }
            .deleteAction a{position:absolute;top:6px;right:-3px;display:block;text-indent:-9999px;width:27px;height:27px;background:url("../../images/vacancesdirectes/common/sprites/sprite-27.png") no-repeat 0 -243px transparent;float:left;margin:0 10px;}
          }
          .occupantFields{padding:10px 27px 0;margin-bottom:0;position:relative;
            .occupantFieldsInfo{background: url("../../images/vacancesdirectes/common/sprites/sprite-27.png") no-repeat scroll 0 -324px transparent;display:block;width:27px;height:27px;position:absolute;top:10px;right:140px;cursor:pointer;
              &.tooltip span.bubble{left:115%;max-width:342px;}
            }
            &.tooltip span.bubble{left:95%;bottom:5px;max-width:362px;}
            &>*{margin:0 5px 10px;}
            input{border:1px solid @colorBorderGris;}
            .control_text{width:120px;margin-right:10px;}
            .control_date{width:120px;}
            #date_sRowID_link{right:0 !important;}
            .tooltip span.bubble{left:130px;}
          }
          table{border-spacing:0;padding-top:0;
            td{padding-bottom:10px;}
            td.price > div{background-color:@colorBgGrisC;}
          }
          h4{display:none;}
        }
      }
      #yourStay{
        table{border-spacing:0 10px;}
      }
      #accomodationOptions{
        tr.products{font-weight:bold;}
      }
      #financialContener{
        &>.stamp{margin-bottom:25px;}
        #client_due_type{
          .field{
            &>*{float:left;min-height:46px;line-height:46px;}
            input{clear:left;margin-right:10px;}
            label{
              &>*{float:left;}
              img{margin-right:10px;}
              .radioDesc{line-height:15px;width:456px;
                .title{font-weight:bold;}
                p{font-style:italic;font-size:11px;}
              }
            }
          }
        }
      }
      #promoContener{
        #promotion{
          .label,
          .field{float:left;}
          input{border:1px solid @colorBorderGris;}
          .label{margin-right:10px;._verticalCenter(27px);}
          .field{}
        }
      }
      #stayPrice{
        .optionLabel{font-weight:bold;}
        .price{color:@colorFushia;width:auto;
          &>div{padding-left:50px;white-space:nowrap;}
        }
      }
    }
  }

// step 2
  &.summary,
  &.editAccount{
    #authentication{margin:15px 0;border:5px solid @colorBgGrisC;padding-bottom:0;
      &.logged{margin-bottom:35px;}
      .stamp{margin:0 -25px;}
      #loginInfoCustomerLayer{padding:10px 20px 5px;clear:both;margin:0 -25px;margin-top:0;
        .whiteBg{margin:5px -15px 0;
          .aField,
          .authenticationChoice{font:normal 12px @arial;text-transform:none;display:block;margin:0;
            .label{font:inherit;text-transform:inherit;color:inherit}
            .field,
            input[type="radio"]:checked + label{ font-weight: bold; }
          }
        }
        #existingCustomerLayer,
        #newCustomerLayer{padding-bottom:0;display:none;
          .whiteBg{
            .aField{margin-bottom:10px;}
            .label{margin-right:10px;text-align:right;}
          }
          .loginButtons{margin-top:20px;text-align:right;}
        }
        #existingCustomerLayer{margin-top:20px;position:relative;
          .aField{
            .label{width:144px;padding:3px 10px 0 0;text-align:right;}
            input{width:288px;}
          }
          .loginButtons{margin-top:0;
            .bt{position:absolute;bottom:34px;right:0;}
          }
        }
        #newCustomerLayer{
          .label{width:144px;padding:3px 10px 0 0;text-align:right;}
          #newAccount{margin-bottom:15px;
            .aField{
              input{width:288px;}
            }
          }
          #address{
            td{display:table-cell;padding:5px 10px 5px 0;vertical-align:middle;}
            input,textarea,.newListSelected{width:288px;text-transform:uppercase;}
            textarea{width:288px;height:62px;}
            .datepicker button{right:0;}
            .label{width:144px;line-height:17px;padding:0 10px 0 0;text-align:right;}
            .firstname input{text-transform:capitalize;}
            .email input{text-transform:lowercase;}
          }
          #others{width:576px;margin:15px 0 20px;
            td{display:table-cell;padding:5px 0;vertical-align:middle;}
            input,textarea,.newListSelected{text-transform:uppercase;}
            .label{width:144px;padding-right:5px;}
          }
        }
        #option{padding-top:0;
          table{width:576px;
            td{display:table-cell;padding:5px 0;vertical-align:middle;}
            input,textarea,.newListSelected{text-transform:uppercase;}
            .label{width:144px;text-align:right;padding-right:5px;}
          }
        }
        .loginButtons{margin-top:20px;}
      }
    }
    #option{
      h2 + p{font-weight:bold;}
      .label{font:inherit;color:inherit;text-transform:inherit;margin-right:10px;vertical-align:top;}
      p.description{text-transform:uppercase;font:bold 12px @arial;color:@colorGris2;margin:20px 0;}
      p{
        .label{width:278px;float:left;text-align:right;}
        .field textarea{width:288px;height:81px;}
      }
      .criterias{
        .criteria{margin-bottom:10px;clear:both;
          .label{float:left;text-align:right;width:278px;height:27px;line-height:13px;}
          input{width:134px;}
        }
      }
    }
    #paiement{
      table{display:block;background-color:@colorBgBlanc;margin:10px 0;
        th{background-color:@colorGris2;color:@colorBlanc;padding:10px;text-align:center;border:1px solid @colorGris2;font-weight:bold;}
        td{margin:10px 0;padding:10px;text-align:left;border:1px solid @colorGris2;
          &:nth-child(1){font-weight:bold;}
          &.amount{width:130px;text-align:right;}
        }
      }
      #payment_layer_ecc{
        .newListSelected{margin-bottom:10px;}
      }
    }
    #termsAndConditions{
      .aField{
        .label{margin-right:0;}
        input[type="checkbox"]{margin:1px 5px 0 0;float:left;}
        label{font-style:italic;font-weight:bold;float:left;width:550px;
          a{color:@colorFushia;}
        }
      }
      small{font-size:10px;}
    }
  }

// step 3
/* --> payment.css */

// step 4
  &.confirmation{
    #reservationSaved{
      h2{margin:15px 0 20px;text-transform:uppercase;font:bold 30px/28px @ptnarrow;}
      .whiteBg{padding:10px 20px 20px;clear:both;margin:10px -15px 0;
        h4{margin-top:20px;}
      }
    }
    .stamp{padding-left:inherit;}
    td{height:27px;}
    #authentication,
    #occupant{font-weight:bold;
      td{color:@colorGris0;
        &.label{color:inherit;text-transform:inherit;font:inherit;display:table-cell;}
      }
      #address,
      #occupant_address{
        margin:10px 0;
      }
    }
    #option{font-weight:bold;
      .label,
      .field{width:276px;}
      .label{vertical-align:top;font:inherit;color:inherit;text-transform:inherit;margin-right:20px;}
      .field{color:@colorGris0;display:inline-block;}
      .criteria{margin-bottom:10px;clear:both;
        .label{float:left;._verticalCenter(27px);}
        input{width:125px;}
      }
      select[name="stat_ORIG_combo"] + .newListSelected{
        .SSContainerDivWrapper{min-width:146px;}
      }
      .aField{
        input[type="checkbox"]{margin-top:1px;margin-left:-1px;}
        label{font-style:italic;font-weight:bold;
          a{color:@colorFushia;}
        }
      }
    }
    #paiement{
      table.paymentList{display:block;background-color:@colorBgBlanc;margin:10px 0;
        th{background-color:@colorGris2;color:@colorBlanc;padding:10px;text-align:center;border:1px solid @colorGris2;}
        td{margin:10px 0;padding:10px;text-align:left;border:1px solid @colorGris2;
          &:nth-child(1){font-weight:bold;}
          &.amount{width:125px;text-align:right;}
        }
      }
      table#payment_layer_cc{font-weight:bold;
        td{color:@colorGris0;
          &.label{color:inherit;text-transform:inherit;font:inherit;display:table-cell;}
        }
      }
    }
  }

  .rsl-date-input,
  .control_date {position:relative;display:inline-block;
    a#date_sRowID_link{display:none;position:absolute;top:-6px;right:15px;width:27px;height:27px;background:url("../../images/vacancesdirectes/common/sprites/sprite-27.png") no-repeat 0 -216px transparent;
      img{display:none;}
    }
  }
  .datepicker button{display:block;width:27px;height:27px;border:0 none;background:url("../../images/vacancesdirectes/common/sprites/sprite-27.png") no-repeat scroll 0 -216px transparent;position:absolute;top:0;right:0;}


  label,input[type="radio"] {vertical-align:middle;}
  input[type="radio"] + label{display:inline-block;margin:3px 5px 0 0;}
  input[type="radio"] {height:auto;}

}

/*RIGHT*/
//#greyBoxes{
  #needHelpBloc{width:288px;height:246px;color:@colorBlanc;background:url("../../images/vacancesdirectes/common/pict/help-bloc.jpg") no-repeat 0 0;
    .stamp{margin-bottom:10px;}
    h2{margin-left:0;position:relative;
      &:before{content:"";background:none;}
    }
    .content{width:113px;margin-left:65px;color:@colorGris2;font:bold 15px/17px @arial;position:absolute;top:70px;left:100px}
    span{font:bold 14px/16px @ptnarrow;text-transform:uppercase;text-align:center;width:160px;position:absolute;top:178px;left:130px;
      a{font:bold 22px/25px @ptnarrow;color:@colorBlanc;text-decoration:none;display:block;}
    }
  }
  #assurThawte{
    &.radiusBox .stamp{padding: 0 13px;}
    &.radiusBox .stamp > h2{font-size: 16px;}
    .content{padding: 10px 0;
      strong{font: bold 15px/17px Arial,Helvetica,sans-serif;margin-bottom: 5px;}
      hr{margin-bottom: 20px;}
      .thawte a{display: block;width: 100%;height:69px;background: url(../../images/vacancesdirectes/common/images/thawteSecure_red.png) no-repeat bottom center;text-indent: -999em;}
      .campezCouvert{display: block;width: 100%;height:57px;background: url(../../images/vacancesdirectes/common/images/campezCouvert.png) no-repeat bottom center;text-indent: -999em;}
      .card{display:inline-block;background-image:url(../../images/vacancesdirectes/common/pict/footerCards.png);background-repeat:none;text-indent:-999em;vertical-align:middle;margin-right:5px;margin-top: 10px;}
      .visa{background-position:0 -40px;width:50px;height:34px;margin-left: 10px;}
      .master{background-position:0 -80px;width:50px;height:34px;}
      .ancv{background-position:0 -120px;width:50px;height:34px;}
      .cheq{background-position:0 -160px;width:50px;height:40px;}
      ul{list-style: inside disc;}
    }
  }
//}

#please_wait_layer{position:absolute;top:0;left:0;width:100%;height:100%;background:url(../../images/vacancesdirectes/common/ui/loadingResalys.gif) no-repeat fixed 50% 50% @colorBgBlanc;text-align:center;font:normal 15px @arial;padding:100px 20px;opacity:0.8;
  #please_wait_layer_content{position:fixed;top:50%;left:50%;padding:33px 20px 20px;width:976px;margin-left:-488px;}
}

#footerContener{overflow:visible;margin-top:20px;clear:both;
  .mentions, .footerNavigation{display:none;
    &.gauche, &.droite, &.pageListe{display:block;}
    &.gauche{float:left;}
    &.droite{float:right;}
  }
  .footerNavigation.gauche a,
  .footerNavigation.droite a{display:block;border:0;text-transform:uppercase;text-decoration:none;font:bold 14px/22px @ptnarrow;padding:3px 12px;._border-radius(7px);color:@colorBlanc;position:relative;}
  .footerNavigation.gauche a{margin:7px 0 7px 15px;padding:0;background-color:transparent;color:@colorGris0;text-decoration:underline;}
  .footerNavigation.droite a{background-color:@colorFushia;font-size:18px;padding:7px 15px;
    &.inactive{background-color:@colorBgGrisM;
      &.tooltip span.bubble{width:380px;white-space:normal;position:absolute;bottom:32px;left:-148px;text-align:left;
        &:after{top:100%;right:auto;margin-top:0;border:solid transparent;content:"";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(140, 138, 138, 0);border-top-color: #8C8A8A;border-width:5px;left:50%;margin-left:-5px;}
      }
      &:hover{background-color:@colorBgGrisC;}
    }
  }
  .footerNavigation.pageListe{._border-radius(3px);._box-shadow(0 1px 2px rgba(0, 0, 0, 0.05));float:right;
    a, b{float:left;padding:0 10px;line-height:24px;text-decoration:none;border:1px solid #ddd;border-left-width:0;
      &:hover{background-color:#f5f5f5;}
      &:first-child{border-left-width: 1px;._border-radius(3px 0 0 3px);}
      &:last-child{
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
      }
    }
    b{background-color: #f5f5f5;}
  }
  .mentions{clear:both;padding-bottom:15px;text-align:center;
    a{color:@colorBleuF;}
  }
}

/*
    Apprise
    The attractive alert alternative for jQuery
    http://thrivingkings.com/read/Apprise-The-attractive-alert-alternative-for-jQuery
*/
.appriseOverlay{position:fixed;top:0;left:0;background:rgba(0,0,0,0.3);display:none;z-index:20;}.appriseOuter{background:#eee;border:1px solid #fff;box-shadow:0 3px 7px #333;-moz-box-shadow:0 3px 7px #333;-webkit-box-shadow:0 3px 7px #333;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-khtml-border-radius:4px;z-index:99999999;min-width:200px;min-height:50px;max-width:75%;position:fixed;display:none;}.appriseInner{color:#333;text-shadow:0 1px 0 #fff;padding:20px;}.appriseInner button{border:1px solid #bbb;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-khtml-border-radius:3px;background:0;color:#232d3d;font-size:12px;font-weight:700;text-shadow:0 1px 0 #fff;cursor:pointer;box-shadow:0 1px 2px #ccc;-moz-box-shadow:0 1px 2px #ccc;-webkit-box-shadow:0 1px 2px #ccc;margin:0 3px;padding:4px 10px;}.appriseInner button:hover{color:#d85054;}.aButtons,.aInput{text-align:center;margin:20px 10px 0;}.aTextbox{border:1px solid #aaa;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;-khtml-border-radius:4px;box-shadow:0 1px 0 #fff;-moz-box-shadow:0 1px 0 #fff;-webkit-box-shadow:0 1px 0 #fff;width:180px;font-size:12px;font-weight:700;padding:5px 10px;}



/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/*Colorbox Bons Plans */
#colorbox.cbBP{overflow:visible;
  #cboxWrapper{background-color:@colorRubricOrange;._border-radius(25px);}
  #cboxTitle{display:none;}
  #cboxLoadedContent{background-color:transparent;border:0;}
  #cboxWrapper, #cboxContent, #cboxLoadedContent{overflow:visible !important;}
  #cboxClose{right:10px;}
}

/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#464545;}
#cboxOverlay.fiveM{background:#fff;}
#colorbox,
#colorbox * {
  -webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing: content-box;
}
#cboxContent{margin-top:32px; overflow:visible;}
.cboxIframe{background:@colorBlanc;}
#cboxError{padding:50px; }

#cboxLoadingOverlay{background:#000;}
#cboxTitle{position:absolute; top:-22px; left:0; color:@colorBlanc; font-size:15px; font-weight:bold;}
#cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
#cboxSlideshow, #cboxPrevious, #cboxNext/*, #cboxClose*/{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(../../images/vacancesdirectes/common/ui/controls.png) no-repeat 0 0;}
#cboxPrevious{background-position:0px 0px; right:44px;}
#cboxPrevious:hover{background-position:0px -25px;}
#cboxNext{background-position:-25px 0px; right:22px;}
#cboxNext:hover{background-position:-25px -25px;}
.fiveM #cboxClose{display: none;}
#cboxClose:hover{/*background-position:-50px -25px;*/}
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
.cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
.cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
.cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}

/*
* Vacances directes select style
---------------------------------------------------------*/

/* Stylish Select 0.4.9 */

// step 1
#authentication #newCustomerLayer{
  ._stylish-select(288px,27px,0px,4);
}
#reservation .aRoom{
  ._stylish-select(54px,27px,10px,5);
}
#reservation #financialContener{
  ._stylish-select(374px,27px,0px,4);
}


// step 2
#option {
  ._stylish-select(288px,27px,0px,4);
}
.paymentMode {
  ._stylish-select(252px,27px,0px,4);
}

// Stylish Select
.stylish-select .SSContainerDivWrapper {
  left:-9999px;
}

._stylish-select(@selectWidth,@selectHeight,@marginRight,@spriteNumber){
  .SSContainerDivWrapper {min-width:@selectWidth;}
  ul.newList a {._verticalCenter(@selectHeight);}
  .newListSelected {width:@selectWidth;._verticalCenter(@selectHeight);margin-right:@marginRight;
    .selectedTxt {width:@selectWidth - @selectHeight - 7px;._verticalCenter(@selectHeight);padding:0 @selectHeight 0 7px;}
    .selectedTxt:after{width:27px;height:@selectHeight;background:url("../../images/vacancesdirectes/common/sprites/sprite-27.png") no-repeat scroll 0 -@selectHeight*@spriteNumber transparent;}
  }
}

.SSContainerDivWrapper {margin:0;padding:0;position:absolute;top:22px;left:0;z-index:100;}
ul.newList {margin:0;padding:0;list-style:none;color:@colorGris2;background:#fff;border:1px solid #ccc;overflow:auto;}
ul.newList * {margin:0;padding:0;}
ul.newList a {color:@colorGris2;text-decoration:none;display:block;padding:0 8px;white-space:nowrap;cursor:pointer;}
.newListSelected {float:left;background-color:@colorBgGrisC;position:relative;
  .selectedTxt:after{content:"";display:block;position:absolute;top:0;right:0;}
}
.newListSelected *{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing: content-box;cursor:pointer;}
ul.newList li a:focus {-moz-outline-style: none;}
.selectedTxt {overflow:hidden;position:absolute;text-overflow:ellipsis;white-space:nowrap;margin-right:0;background-color:@colorBlanc;}
//ul.newList li:first-child{display:none;}
ul.newList.optGroup li a {padding:0 8px 0 18px;}
ul.newList.optGroup li.optGroup-like a {padding:0 8px;font-weight:bold;}
.hiLite {background:#ED145B!important;color:#fff!important;}
.newListHover {background-color:#ccc!important;color:@colorGris2!important;cursor:default;}
input[disabled],
.newListDisabled,
.newListItemDisabled,
.newListOptionDisabled {opacity: 0.6;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter: alpha(opacity=60);}

.newListSelHover,
.newListSelFocus {cursor:default;}

.newListOptionTitle {font-weight:bold;}

.newListOptionTitle ul {margin:3px 0 0;}

.newListOptionTitle li {font-weight:normal;}
.newListSelected{font:bold 12px/27px @arial;color:@colorGris2;color:@colorBgGrisM;
  .SSContainerDivWrapper{
    .newListHover {background-color:#ccc!important;color:@colorGris2!important;}
    ul.newList li a {background-color:@colorBlanc;color:@colorBgGrisM;}
    ul.newList.optGroup li.optGroup-like a {background-color:@colorBgGrisM;color:@colorBlanc;}
    ul.newList li a.newListHover {background-color:@colorBgGrisC!important;color:@colorGris2!important;}
    ul.newList.optGroup li.optGroup-like a.newListHover {background-color:@colorGris2!important;color:@colorBlanc!important;}
  }
}

.ie-lte8{
  #contentContener{
    &.detail,
    &.editAccount{
      #reservation .aRoom .anOccupant .occupantFields .control_text{width:170px;}
      #contentContener.summary #option p .label {width:258px;}
    }
    &.detail{
      #financialContener .radioDesc{width:478px;}
    }
    &.summary #option .criterias .criteria .label{line-height:13px;}
  }

}
.ie-eq7{
  #please_wait_layer {filter: alpha(opacity=80);}
}
.ie-eq8{
  #please_wait_layer {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";}
}

/* Popin forgetPassword */
body.popup{background: @colorBgGrisC;}
#forgetPassword{padding: 15px 15px 0;margin: 0;border-radius: 0;font:12px Arial;
  p{margin: 1em 0 0;line-height: 1.4em;}
  label{width: 110px;}
  [type="text"]{margin-right: 10px;}
}
