/* Project: NOMPROJET - Date: 20120806 - Author: C2iS.fr > TRI */
/* Project: NOMPROJET - Date: 20120806 - Author: C2iS.fr > TRI */
/*Variables*/
/* Gris 1 */
/* Gris 2 */
/* Gris 3 */
/* Gris 1 */
/* bg gris sombre */
/* bg gris moyen sombre */
/* bg gris moyen clair */
/* bg gris clair */
/* bg blanc */
/* bg bleu */
/* border gris */
/* Centrer verticalement dans un conteneur de hauteur fixe */
.bt {
  display: block;
  border: 0;
  text-transform: uppercase;
  text-decoration: none;
  font: bold 14px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  padding: 3px 10px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.bt.gris {
  background-color: #e6e5e5;
  color: #ed145b;
}
.bt.sombre {
  background-color: #464545;
  color: #ffffff;
}
.bt.fushia {
  background-color: #ed145b;
  color: #ffffff;
}
.bt.orange {
  background-color: #f58220;
  color: #ffffff;
}
.bt.trans {
  background: transparent;
  padding: 0;
}
.bt.cfushia {
  color: #ed145b;
}
.bt.big {
  padding: 5px 10px;
}
.bt.small {
  padding: 1px 10px;
  font-size: 12px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/*GLOBAL RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*HTML5 RESET*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
/*GLOBAL STYLING*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* *behavior: url(../js/libs/boxsizing.htc);*/
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #5f5f5f;
}
/*::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }*/
/*LINKS*/
a {
  color: #464545;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
/*DEFAULT ELM*/
b,
strong {
  font-weight: bold;
}
em {
  font-style: normal;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
/*FORMS*/
legend {
  border: 0;
  *margin-left: -7px;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
table button,
table input {
  *overflow: auto;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
/*PLACEHOLDER*/
::-webkit-input-placeholder {
  color: #5f5f5f;
}
*:-moz-placeholder {
  color: #5f5f5f;
}
*:-ms-placeholder {
  color: #5f5f5f;
}
*.placeholder {
  color: #5f5f5f;
}
/* :focus - lighten() for dark bg & light text || darken() for light bg & dark text */
*:focus::-webkit-input-placeholder {
  color: #dfdfdf;
  -webkit-transition: all .5s ease;
}
*:focus:-moz-placeholder {
  color: #dfdfdf;
  transition: all .5s ease;
}
*:focus:-ms-placeholder {
  color: #dfdfdf;
  transition: all .5s ease;
}
/* MICRO CLEARFIX : http://nicolasgallagher.com/micro-clearfix-hack/ */
.clear:before,
.clear:after,
.bloc:before,
.bloc:after {
  content: "";
  display: table;
}
.clear:after,
.bloc:after {
  clear: both;
}
.clear,
.bloc {
  zoom: 1;
}
/* + clearboth */
.clearboth {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.h1-like,
.h2-like,
.h3-like,
.h4-like,
.h5-like,
.h6-like {
  display: block;
}
h1,
.h1-like {
  dismargin: 20px 0 0;
  color: #ed145b;
  font: bold 30px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
h2,
.h2-like {
  color: #464545;
  font: bold 20px Arial, Helvetica, sans-serif;
  line-height: 22px;
}
h3,
.h3-like {
  color: #5f5f5f;
  font: bold 25px/24px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 20px 0 5px;
}
h4,
.h4-like {
  color: #ed145b;
  font: bold 19px/18px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}
h5,
.h5-like {
  color: #5f5f5f;
  font: bold 16px/15px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}
h6,
.h6-like {
  color: #ed145b;
}
#homePage {
  margin: 0;
}
.full-width {
  position: relative;
  min-width: 100%;
  float: left;
  z-index: 0;
}
.fixed-width {
  position: relative;
  width: 976px;
  margin: 0 auto;
}
.column {
  width: 928px;
  position: relative;
}
.column.left {
  width: 616px;
}
.column.right {
  width: 288px;
}
.column .ratio-33 {
  width: 300px;
  margin-right: 16px;
}
.column .ratio-33.clear {
  margin-right: 0;
}
/* STEPS */
#stepNav {
  width: 976px;
  height: 50px;
  font: bold 23px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  position: relative;
  background: #464545;
  margin: 20px 0 0 -24px;
  z-index: 30;
}
#stepNav ul {
  width: 858px;
  margin: 0 auto;
  text-align: center;
}
#stepNav ul li.tab {
  width: 186px;
  margin: 0 12px;
  float: none;
  display: inline-block;
  position: static;
  color: #fff;
  padding: 0;
}
#stepNav ul li.tab.current {
  background: #ed145b;
}
#stepNav ul li.tab span {
  position: relative;
  display: block;
  padding: 0 10px;
  color: #ffffff;
  text-decoration: none;
  height: 50px;
  /* Centrer verticalement une ligne de texte */

  line-height: 50px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

}
#stepNav ul li.tab span > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#stepNav ul li.tab span > img {
  vertical-align: middle;
}
#stepNav ul li.tab.current span {
  text-decoration: none;
}
.radiusBox {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 15px 0;
  position: relative;
}
.radiusBox.bgImg {
  overflow: hidden;
}
.radiusBox.greyC {
  background-color: #e6e5e5;
}
.radiusBox.greyF {
  background-color: #464545;
}
.radiusBox.fushia {
  background-color: #ed145b;
}
.radiusBox.yellow {
  background-color: #ffd503;
}
.radiusBox .stamp {
  color: #ffffff;
  height: 38px;
  /* Centrer verticalement une ligne de texte */

  line-height: 38px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

  padding: 0 20px;
  display: block;
}
.radiusBox .stamp > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
.radiusBox .stamp > img {
  vertical-align: middle;
}
.radiusBox .stamp:before {
  content: url('../../images/vacancesdirectes/common/ui/stamp-left.png');
}
.radiusBox .stamp:after {
  content: url('../../images/vacancesdirectes/common/ui/stamp-right.png');
}
.radiusBox .stamp > h2 {
  text-transform: uppercase;
  font: bold 22px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
}
.radiusBox .stamp.no {
  background: none;
  padding: 0;
  height: 38px;
  /* Centrer verticalement une ligne de texte */

  line-height: 38px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

}
.radiusBox .stamp.no > * {
  vertical-align: middle;
  display: inline-block;
  line-height: 22px;
}
.radiusBox .stamp.no > img {
  vertical-align: middle;
}
.radiusBox .stamp.no > h2 {
  color: #5f5f5f;
}
.radiusBox > h2 {
  color: #5f5f5f;
}
.radiusBox > h2 span {
  color: #009ab0;
}
.radiusBox2 {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 15px 0;
  position: relative;
}
.radiusBox2.bgImg {
  overflow: hidden;
}
.radiusBox2.greyC {
  background-color: #ffffff;
  border: 5px solid #e6e5e5;
}
.radiusBox2.greyF {
  background-color: #ffffff;
  border: 5px solid #464545;
}
.radiusBox2.fushia {
  background-color: #ffffff;
  border: 5px solid #ed145b;
}
.radiusBox2 .stamp {
  color: #ffffff;
  background: url('../../images/vacancesdirectes/common/ui/stamp-half.png') no-repeat top right transparent;
  height: 38px;
  /* Centrer verticalement une ligne de texte */

  line-height: 38px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

  padding: 0 30px;
  margin-top: 10px;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.radiusBox2 .stamp > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
.radiusBox2 .stamp > img {
  vertical-align: middle;
}
.radiusBox2 .stamp:before {
  content: "";
}
.radiusBox2 .stamp:after {
  content: "";
}
.radiusBox2 .stamp span {
  margin-left: -6px;
}
/* packages */
/* Stylish Select 0.4.9 */
.stylish-select .SSContainerDivWrapper {
  left: -9999px;
}
/* Vacances directes select style */
.stylish-select .SSContainerDivWrapper {
  margin: 0;
  padding: 0;
  min-width: 125px;
  position: absolute;
  top: 22px;
  left: 0;
  z-index: 2;
}
.stylish-select ul.newList {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  border: 1px solid #ccc;
  overflow: auto;
}
.stylish-select ul.newList * {
  margin: 0;
  padding: 0;
}
.stylish-select ul.newList a {
  text-decoration: none;
  display: block;
  padding: 0 8px;
  height: 23px;
  /* Centrer verticalement une ligne de texte */

  line-height: 23px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

  white-space: nowrap;
}
.stylish-select ul.newList a > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
.stylish-select ul.newList a > img {
  vertical-align: middle;
}
.stylish-select .newListSelected {
  width: 125px;
  height: 23px;
  float: left;
  margin-right: 10px;
  background-color: #e6e5e5;
  position: relative;
  height: 23px;
  /* Centrer verticalement une ligne de texte */

  line-height: 23px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

}
.stylish-select .newListSelected > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
.stylish-select .newListSelected > img {
  vertical-align: middle;
}
.stylish-select .newListSelected .selectedTxt:after {
  content: "";
  width: 27px;
  height: 23px;
  display: block;
  background: url("../../images/vacancesdirectes/common/ui/arrow-select.png") no-repeat 0 0;
  position: absolute;
  top: 0;
  right: 0;
}
.stylish-select .newListSelected * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.stylish-select ul.newList li a:focus {
  -moz-outline-style: none;
}
.stylish-select .selectedTxt {
  width: 97px;
  overflow: hidden;
  padding: 0 23px 0 5px;
  position: absolute;
}
.stylish-select .hiLite {
  background: #ed145b !important;
  color: #fff!important;
}
.stylish-select .newListHover {
  background-color: #ccc!important;
  color: #000!important;
  cursor: default;
}
.stylish-select .newListDisabled {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.stylish-select .newListItemDisabled {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.stylish-select .newListOptionDisabled {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.stylish-select .newListSelHover,
.stylish-select .newListSelFocus {
  cursor: default;
}
.stylish-select .newListSelHover .selectedTxt:after,
.stylish-select .newListSelFocus .selectedTxt:after {
  background-position: 0 -46px;
}
.stylish-select .newListOptionTitle {
  font-weight: bold;
}
.stylish-select .newListOptionTitle ul {
  margin: 3px 0 0;
}
.stylish-select .newListOptionTitle li {
  font-weight: normal;
}
