/* Project: NOMPROJET - Date: 20120806 - Author: C2iS.fr > TRI */
/* Project: NOMPROJET - Date: 20120806 - Author: C2iS.fr > TRI */
/*Variables*/
/* Gris 1 */
/* Gris 2 */
/* Gris 3 */
/* Gris 1 */
/* bg gris sombre */
/* bg gris */
/* bg gris clair */
/* bg blanc */
/* bg bleu */
/* bg bleu2 */
/* border gris */
/*Centrer verticalement une ligne de texte dans un conteneur de hauteur fixe*/
/*Centrer verticalement plusieurs lignes de texte dans un conteneur de hauteur fixe*/
/*Centrer verticalement une image de taille variable dans un conteneur de hauteur fixe*/
.bt {
  display: block;
  border: 0;
  text-transform: uppercase;
  text-decoration: none;
  font: bold 14px 'PT Sans Narrow', Arial, sans-serif;
  padding: 3px 10px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.bt.gris {
  background-color: #e6e5e5;
  color: #ed145b;
}
.bt.sombre {
  background-color: #464545;
  color: #ffffff;
}
.bt.fushia {
  background-color: #ed145b;
  color: #ffffff;
}
.bt.orange {
  background-color: #f58220;
  color: #ffffff;
}
.bt.trans {
  background: transparent;
  padding: 0;
}
.bt.cfushia {
  color: #ed145b;
}
.bt.big {
  padding: 5px 10px;
}
.bt.small {
  padding: 1px 10px;
  font-size: 12px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/*GLOBAL RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*HTML5 RESET*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
/*GLOBAL STYLING*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* *behavior: url(../js/libs/boxsizing.htc);*/
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #5f5f5f;
}
/*::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }*/
/*LINKS*/
a {
  color: #464545;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
/*DEFAULT ELM*/
b,
strong {
  font-weight: bold;
}
em {
  font-style: normal;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
/*FORMS*/
legend {
  border: 0;
  *margin-left: -7px;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
table button,
table input {
  *overflow: auto;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
/*PLACEHOLDER*/
::-webkit-input-placeholder {
  color: #5f5f5f;
}
*:-moz-placeholder {
  color: #5f5f5f;
}
*:-ms-placeholder {
  color: #5f5f5f;
}
*.placeholder {
  color: #5f5f5f;
}
/* :focus - lighten() for dark bg & light text || darken() for light bg & dark text */
*:focus::-webkit-input-placeholder {
  color: #dfdfdf;
  -webkit-transition: all .5s ease;
}
*:focus:-moz-placeholder {
  color: #dfdfdf;
  transition: all .5s ease;
}
*:focus:-ms-placeholder {
  color: #dfdfdf;
  transition: all .5s ease;
}
/* MICRO CLEARFIX : http://nicolasgallagher.com/micro-clearfix-hack/ */
.clear:before,
.clear:after,
.bloc:before,
.bloc:after {
  content: "";
  display: table;
}
.clear:after,
.bloc:after {
  clear: both;
}
.clear,
.bloc {
  zoom: 1;
}
/* + clearboth */
.clearboth {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
body {
  background: #fff;
  color: #464545;
  font: 12px Arial, sans-serif;
  margin: 0 24px;
}
#homePage {
  margin: 0;
}
.full-width {
  position: relative;
  min-width: 100%;
  float: left;
  z-index: 0;
}
.fixed-width {
  position: relative;
  width: 976px;
  margin: 0 auto;
}
/* packages */
#searchProductFormContener {
  display: none;
}
#homePage #searchResult {
  width: 928px;
  height: 560px;
  position: relative;
}
#homePage #searchResult .aProposalBlock {
  background-color: #e6e5e5;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 15px 0;
  width: 296px;
  margin-right: 20px;
  float: left;
  /* popUp*/

  /* popUp*/

}
#homePage #searchResult .aProposalBlock.aProposalBlockLast {
  margin-right: 0;
}
#homePage #searchResult .aProposalBlock.package .proposalDescriptionTitle {
  background-color: #8dc63f;
}
#homePage #searchResult .aProposalBlock.package .proposalDescriptionTitle .proposalDescriptionDetailsLink {
  color: #8dc63f;
}
#homePage #searchResult .aProposalBlock.bouquet .proposalDescriptionTitle {
  background-color: #f58220;
}
#homePage #searchResult .aProposalBlock.bouquet .proposalDescriptionTitle .proposalDescriptionDetailsLink {
  color: #f58220;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionTitle {
  position: relative;
  background-color: #f58220;
  color: #f58220;
  margin: -20px -20px 0;
  padding: 10px 20px 10px;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionTitle h1 {
  color: #ffffff;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 229px;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionTitle h2 {
  color: #f5bd8c;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionTitle .proposalDescriptionDetailsLink {
  width: 27px;
  height: 27px;
  background: transparent url("../../images/vacancesdirectes/common/sprites/sprite-27.png") no-repeat 0 0;
  position: absolute;
  top: 10px;
  right: 15px;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  cursor: help;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionDetailsPopUp {
  position: absolute;
  width: 744px;
  top: 0;
  left: 50%;
  background: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin: 30px 0px 0px -372px;
  z-index: 2;
  padding-bottom: 25px;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.3);
}
#homePage #searchResult .aProposalBlock .proposalDescriptionDetailsPopUp .titre {
  float: left;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font: bold 23px/24px 'PT Sans Narrow', Arial, sans-serif;
  padding: 7px 25px;
  -webkit-border-radius: 0 0 10px 0;
  border-radius: 0 0 10px 0;
  color: #fff;
  background-color: #f58220;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionDetailsPopUp .left {
  width: 240px;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionDetailsPopUp .right {
  width: 504px;
  border-left: 1px solid #ccc;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionDetailsPopUp .soustitre {
  display: block;
  margin: 20px 40px 15px;
  text-align: center;
  font: 16px/20px Arial, sans-serif;
  color: #28568a;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionDetailsPopUp .promoPrix {
  display: block;
  width: 209px;
  margin: 0 auto;
  text-align: center;
  background: url(../../images/vacancesdirectes/common/pict/arrowLeftPopCE.png) no-repeat 0 0;
  font: bold 21px/28px 'PT Sans Narrow', Arial, sans-serif;
  color: #28568a;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionDetailsPopUp .promoPrix strong {
  color: #f58220;
  font-size: 30px;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionDetailsPopUp .promoPrix em {
  color: #f58220;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionDetailsPopUp .titreDestination {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  -webkit-border-radius: 10px 0 10px 0;
  border-radius: 10px 0 10px 0;
  background-color: #f58220;
  color: #ffffff;
  font: bold 18px 'PT Sans Narrow', Arial, sans-serif;
  padding: 5px 10px;
  margin: 0 0 10px -20px;
  font: bold 10px Arial, sans-serif;
  padding: 5px 30px 5px 10px;
  margin: 0 0 0 -10px;
  -webkit-border-radius: 7px 0 7px 0;
  border-radius: 7px 0 7px 0;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionDetailsPopUp .titreDestination:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-left: 10px solid transparent;
  border-right: 0 solid transparent;
  border-top: 6px solid #23408f;
  z-index: 1;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionDetailsPopUp .titreDestination:after {
  border-top-color: #763905;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionDetailsPopUp ul {
  margin: 20px 0 0 16px;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionDetailsPopUp ul li {
  float: left;
  width: 155px;
  color: #28568a;
  font: 10px/14px Arial, sans-serif;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionDetailsPopUp p {
  margin: 15px 0 -5px 16px;
}
#homePage #searchResult .aProposalBlock.package .titre {
  background-color: #8dc63f;
}
#homePage #searchResult .aProposalBlock.package .promoPrix {
  background: transparent;
}
#homePage #searchResult .aProposalBlock.package .promoPrix strong {
  color: #8dc63f;
}
#homePage #searchResult .aProposalBlock.package .promoPrix em {
  color: #8dc63f;
}
#homePage #searchResult .aProposalBlock.package .titreDestination {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  -webkit-border-radius: 10px 0 10px 0;
  border-radius: 10px 0 10px 0;
  background-color: #8dc63f;
  color: #ffffff;
  font: bold 18px 'PT Sans Narrow', Arial, sans-serif;
  padding: 5px 10px;
  margin: 0 0 10px -20px;
  font: bold 10px Arial, sans-serif;
  padding: 5px 30px 5px 10px;
  margin: 0 0 0 -10px;
  -webkit-border-radius: 7px 0 7px 0;
  border-radius: 7px 0 7px 0;
}
#homePage #searchResult .aProposalBlock.package .titreDestination:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-left: 10px solid transparent;
  border-right: 0 solid transparent;
  border-top: 6px solid #23408f;
  z-index: 1;
}
#homePage #searchResult .aProposalBlock.package .titreDestination:after {
  border-top-color: #3A5318;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionContent {
  width: 100%;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionContent tr:first-child td {
  padding: 20px 0;
  vertical-align: bottom;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionContent .price {
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 44px;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: -13px;
  display: block;
}
#homePage #searchResult .aProposalBlock .proposalDescriptionContent .action .chooseButton {
  display: block;
  border: 0;
  text-transform: uppercase;
  text-decoration: none;
  font: bold 14px 'PT Sans Narrow', Arial, sans-serif;
  padding: 3px 10px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background-color: #464545;
  color: #ffffff;
  text-align: center;
}
/* warning / error */
.warning {
  border: 3px solid #ed145b;
  margin: 0 20px 25px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}
.error {
  margin-bottom: 10px;
  font: 12px Arial, sans-serif;
  color: #f58220;
}
.error li:before {
  content: "-";
  padding-right: 3px;
}
#forgetPassword .error {
  margin: -15px 0 20px;
}
/* // warning */
/* Resa Packages */
.proposal,
.proposals,
#paiement,
#option,
#authentication,
#newCustomerLayer {
  /*clear*/
}
.proposal:before,
.proposals:before,
#paiement:before,
#option:before,
#authentication:before,
#newCustomerLayer:before,
.proposal:after,
.proposals:after,
#paiement:after,
#option:after,
#authentication:after,
#newCustomerLayer:after {
  content: "";
  display: table;
  clear: both;
}
#reservationContener h2 {
  font: bold 28px/18px 'PT Sans Narrow', Arial, sans-serif;
  margin: 40px 0 20px;
  text-transform: uppercase;
}
#reservationContener .proposal {
  background-color: #e6e5e5;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0;
  position: relative;
}
#reservationContener .proposal h3 {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  -webkit-border-radius: 10px 0 10px 0;
  border-radius: 10px 0 10px 0;
  background-color: #009bc9;
  color: #ffffff;
  font: bold 18px 'PT Sans Narrow', Arial, sans-serif;
  padding: 5px 10px;
  margin: 0 0 10px -20px;
}
#reservationContener .proposal h3:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-left: 10px solid transparent;
  border-right: 0 solid transparent;
  border-top: 6px solid #23408f;
  z-index: 1;
}
#reservationContener .proposal img {
  float: left;
  margin: 0 25px 25px 5px;
  border: 5px solid #fff;
  -webkit-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.22);
  box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.22);
  width: 135px;
  height: 98px;
  background: #fff;
}
#reservationContener .proposal .deleteProductIcon {
  width: 19px;
  height: 23px;
  background: url("../../images/vacancesdirectes/common/ui/bin.png") no-repeat 0 0 transparent;
  text-indent: -9999px;
  position: absolute;
  top: 15px;
  right: 15px;
}
#reservationContener .proposal .total {
  float: right;
  width: 118px;
  height: 119px;
  background: url("../../images/vacancesdirectes/common/sprites/spriteSplash.png");
  margin: -10px 20px 0px 0px;
  text-align: center;
  color: #ffffff;
  padding-top: 36px;
}
#reservationContener .proposal .total .label {
  font: bold 24px 'PT Sans Narrow', Arial, sans-serif;
  text-transform: uppercase;
  width: 77px;
  height: 30px;
  margin: 0 auto;
  overflow: hidden;
}
#reservationContener .proposal .total .field {
  font: bold 18px 'PT Sans Narrow', Arial, sans-serif;
  text-transform: uppercase;
}
#reservationContener .proposal .proposalDates,
#reservationContener .proposal .proposalEtab,
#reservationContener .proposal .proposalLength,
#reservationContener .proposal .proposalOccupants,
#reservationContener .proposal .proposalRoomDistribution {
  font-size: 11px;
  color: #5f5f5f;
  text-transform: uppercase;
}
#reservationContener .proposal .proposalEtab {
  color: #f58220;
  font-weight: bold;
}
#reservationContener .proposal .prestations {
  width: 570px;
  margin-top: 5px;
}
#reservationContener .proposal .prestations tr {
  margin-bottom: 2px;
}
#reservationContener .proposal .prestations tr.totalPrice {
  display: none;
}
#reservationContener .proposal .prestations td {
  padding: 10px 12px;
  font-weight: bold;
  font-size: 12px;
  background: #fff;
  border-bottom: 2px solid #E6E5E5;
}
#reservationContener .proposal .prestations td.optionPrice {
  text-align: right;
  font-size: 16px;
}
#reservationContener .proposals > .total {
  background-color: #009bc9;
  position: relative;
  padding: 0 20px;
  float: right;
}
#reservationContener .proposals > .total:before {
  content: url('../../images/vacancesdirectes/common/ui/stamp-left-blanc.png');
  width: 12px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
}
#reservationContener .proposals > .total:after {
  content: url('../../images/vacancesdirectes/common/ui/stamp-right-blanc.png');
  width: 12px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
}
#reservationContener .proposals > .total div {
  display: inline-block;
  color: #ffffff;
  height: 40px;
  text-align: center;
  font: bold 24px/40px 'PT Sans Narrow', Arial, sans-serif;
  text-transform: uppercase;
}
#reservationContener .proposals > .total div.label {
  content: ':';
  margin: 0 3px;
}
#reservationContener #option,
#reservationContener #paiement,
#reservationContener #reservationSaved {
  background-color: #e6e5e5;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0;
  position: relative;
}
#reservationContener #option h3,
#reservationContener #paiement h3,
#reservationContener #reservationSaved h3 {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  -webkit-border-radius: 10px 0 10px 0;
  border-radius: 10px 0 10px 0;
  background-color: #009bc9;
  color: #ffffff;
  font: bold 18px 'PT Sans Narrow', Arial, sans-serif;
  padding: 5px 10px;
  margin: 0 0 10px -20px;
}
#reservationContener #option h3:after,
#reservationContener #paiement h3:after,
#reservationContener #reservationSaved h3:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-left: 10px solid transparent;
  border-right: 0 solid transparent;
  border-top: 6px solid #23408f;
  z-index: 1;
}
#reservationContener #option img,
#reservationContener #paiement img,
#reservationContener #reservationSaved img {
  float: left;
  margin: 0 25px 25px 5px;
  border: 5px solid #fff;
  -webkit-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.22);
  box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.22);
  width: 135px;
  height: 98px;
  background: #fff;
}
#reservationContener #option p,
#reservationContener #paiement p,
#reservationContener #reservationSaved p {
  margin-left: 20px;
  margin-bottom: 10px;
}
#reservationContener #option .labelNote .label,
#reservationContener #paiement .labelNote .label,
#reservationContener #reservationSaved .labelNote .label {
  display: block;
  font: bold 16px 'PT Sans Narrow', Arial, sans-serif;
}
#reservationContener #option .labelNote .field textarea,
#reservationContener #paiement .labelNote .field textarea,
#reservationContener #reservationSaved .labelNote .field textarea {
  width: 400px;
  height: 120px;
  border: 0;
  margin-bottom: 10px;
}
.anOccupant {
  background-color: #e6e5e5;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0;
  position: relative;
}
.anOccupant h3 {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  -webkit-border-radius: 10px 0 10px 0;
  border-radius: 10px 0 10px 0;
  background-color: #009bc9;
  color: #ffffff;
  font: bold 18px 'PT Sans Narrow', Arial, sans-serif;
  padding: 5px 10px;
  margin: 0 0 10px -20px;
  background-image: none !important;
}
.anOccupant h3:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-left: 10px solid transparent;
  border-right: 0 solid transparent;
  border-top: 6px solid #23408f;
  z-index: 1;
}
.anOccupant h3 span {
  font: bold 13px arial;
  text-transform: none;
}
.anOccupant h4 {
  font: bold 16px 'PT Sans Narrow', Arial, sans-serif;
  margin: 10px 0 20px;
}
.anOccupant .occupantFields {
  font: bold 16px/16px 'PT Sans Narrow', Arial, sans-serif;
  margin-right: 15px;
  margin-bottom: 15px;
}
.anOccupant .occupantFields span {
  margin-left: 20px;
}
.anOccupant .occupantFields [type="text"],
.anOccupant .occupantFields [type="password"] {
  border: 0;
  padding: 4px 10px;
  color: #8c8a8a;
  font: bold 16px/16px 'PT Sans Narrow', Arial, sans-serif;
  margin-left: 10px;
}
.anOccupant .occupantFields .rsl-date-input a {
  background: #ffffff;
  padding: 4px 9px;
  margin-left: 1px;
}
#customerAreaContener h2 {
  font: bold 28px/18px 'PT Sans Narrow', Arial, sans-serif;
  margin: 40px 0 20px;
  text-transform: uppercase;
}
#customerAreaContener .reservationList {
  width: 100% !important;
}
#customerAreaContener .reservationList tr:nth-child(odd) {
  background: #e6e5e5;
}
#customerAreaContener .reservationList tr:first-child {
  background: #ffffff;
}
#customerAreaContener .reservationList tr:last-child:nth-child(odd) {
  background: #ffffff;
}
#customerAreaContener .reservationList tr:last-child:nth-child(odd) td {
  background: #e6e5e5;
}
#customerAreaContener .reservationList tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 10px;
  border-radius: 0 0 0 10px;
}
#customerAreaContener .reservationList tr:last-child td:last-child {
  -webkit-border-radius: 0 0 10px 0;
  border-radius: 0 0 10px 0;
}
#customerAreaContener .reservationList th {
  background: #009ab0;
  font: bold 20px/18px 'PT Sans Narrow', Arial, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 10px;
  text-align: center;
}
#customerAreaContener .reservationList th:first-child {
  -webkit-border-radius: 10px 0 0 0;
  border-radius: 10px 0 0 0;
}
#customerAreaContener .reservationList th:last-child {
  -webkit-border-radius: 0 10px 0 0;
  border-radius: 0 10px 0 0;
}
#customerAreaContener .reservationList td {
  height: 36px;
  text-align: center;
  color: #8c8a8a;
  font: 16px/18px 'PT Sans Narrow', Arial, sans-serif;
  padding: 5px 3px;
  vertical-align: middle;
}
#customerAreaContener .reservationList td.allResaAmount {
  text-align: center !important;
}
#customerAreaContener .reservationList td:last-child {
  font-weight: bold;
  text-align: right;
  padding-right: 15px;
}
#customerAreaContener .bt {
  margin: 30px;
}
#customerAreaContener .bt img {
  display: none;
}
#customerAreaContener .bt:before {
  border: 2px solid #FFFFFF;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: "+";
  display: inline-block;
  line-height: 12px;
  margin-right: 3px;
  padding: 0 3px;
}
#authentication,
#forgetPassword {
  background-color: #e6e5e5;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 40px 0 15px;
  position: relative;
  overflow: hidden;
}
#authentication h3,
#forgetPassword h3 {
  background-color: #009ab0;
  position: relative;
  margin-bottom: 25px;
  text-align: center;
}
#authentication h3:before,
#forgetPassword h3:before {
  content: url('../../images/vacancesdirectes/common/ui/stamp-left.png');
  width: 12px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
}
#authentication h3:after,
#forgetPassword h3:after {
  content: url('../../images/vacancesdirectes/common/ui/stamp-right.png');
  width: 12px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
}
#authentication h3 span,
#forgetPassword h3 span {
  color: #ffffff;
  height: 40px;
  text-align: center;
  font: bold 24px/40px 'PT Sans Narrow', Arial, sans-serif;
  text-transform: uppercase;
}
#authentication .connectedAs,
#forgetPassword .connectedAs,
#authentication .formMessage,
#forgetPassword .formMessage {
  font: bold 16px/16px 'PT Sans Narrow', Arial, sans-serif;
  margin-bottom: 25px;
}
#authentication .connectedAs .label,
#forgetPassword .connectedAs .label,
#authentication .formMessage .label,
#forgetPassword .formMessage .label {
  color: #464545;
  opacity: .7;
}
#authentication .connectedAs .field,
#forgetPassword .connectedAs .field,
#authentication .formMessage .field,
#forgetPassword .formMessage .field {
  color: #ed145b;
  font-size: 24px;
  padding-left: 10px;
}
#authentication .aField,
#forgetPassword .aField {
  font: bold 16px/16px 'PT Sans Narrow', Arial, sans-serif;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
#authentication .aField label,
#forgetPassword .aField label,
#authentication .aField .label,
#forgetPassword .aField .label {
  display: block;
  margin-bottom: 5px;
}
#authentication .aField label:after,
#forgetPassword .aField label:after,
#authentication .aField .label:after,
#forgetPassword .aField .label:after {
  content: ":";
  padding-left: 3px;
}
#authentication .aField [type="text"],
#forgetPassword .aField [type="text"],
#authentication .aField [type="password"],
#forgetPassword .aField [type="password"] {
  width: 266px;
  border: 0;
  padding: 4px 10px;
  color: #8c8a8a;
  font: bold 16px/16px 'PT Sans Narrow', Arial, sans-serif;
}
#authentication #option,
#forgetPassword #option {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
#authentication #option p,
#forgetPassword #option p {
  margin: 0 !important;
}
#authentication #option .label,
#forgetPassword #option .label {
  display: inline-block;
  margin-right: 15px;
}
#authentication #option select,
#forgetPassword #option select {
  width: 185px;
  border: 0;
  padding: 4px;
  color: #8c8a8a;
  font: bold 16px/16px 'PT Sans Narrow', Arial, sans-serif;
  margin-bottom: 5px;
  margin-right: 50px;
}
#authentication #address,
#forgetPassword #address,
#authentication #option,
#forgetPassword #option {
  margin-top: 25px;
}
#authentication h4,
#forgetPassword h4 {
  font: 24px/28px 'PT Sans Narrow', Arial, sans-serif;
  margin-bottom: 25px;
  color: #464545;
}
#authentication table,
#forgetPassword table {
  font: bold 16px/16px 'PT Sans Narrow', Arial, sans-serif;
  width: 155px;
}
#authentication table label,
#forgetPassword table label,
#authentication table .label,
#forgetPassword table .label {
  display: block;
  margin-bottom: 5px;
  width: 150px;
}
#authentication table [type="text"],
#forgetPassword table [type="text"],
#authentication table [type="password"],
#forgetPassword table [type="password"],
#authentication table select,
#forgetPassword table select {
  width: 185px;
  border: 0;
  padding: 4px 10px;
  color: #8c8a8a;
  font: bold 16px/16px 'PT Sans Narrow', Arial, sans-serif;
  margin-bottom: 5px;
  margin-right: 50px;
}
#authentication table select,
#forgetPassword table select {
  padding: 4px;
}
#authentication table .rsl-date-input input,
#forgetPassword table .rsl-date-input input {
  width: 150px;
  margin-right: 0;
}
#authentication table .rsl-date-input a,
#forgetPassword table .rsl-date-input a {
  background: #ffffff;
  padding: 4px 9px;
  margin-left: 1px;
}
#authentication .aBtField,
#forgetPassword .aBtField {
  clear: both;
}
#authentication [type="submit"],
#forgetPassword [type="submit"],
#authentication .okButton,
#forgetPassword .okButton {
  float: right;
  margin: 0 14px 15px;
  padding: 5px 35px;
}
#forgetPassword .aField label {
  float: left;
  padding: 7px 10px 0 0;
  text-align: right;
  padding-right: 10px;
  width: 120px;
}
#searchResultPage #headerContener,
#searchResultPage #contentNavigationContener,
#searchResultPage #generic_information_container,
#searchResultPage #searchFormContener {
  display: none;
}
#searchResultPage .searchResultTitle {
  font: bold 28px/18px 'PT Sans Narrow', Arial, sans-serif;
  margin: 40px 0 25px 20px;
  text-transform: uppercase;
}
#searchResultPage .sortContener {
  margin: 0 0 40px 20px;
  color: #5f5f5f;
  font-size: 13px;
}
#searchResultPage .sortContener .newListSelected.sortBy {
  width: 203px;
}
#searchResultPage .sortContener .newListSelected.sortBy .selectedTxt {
  width: 175px;
}
#searchResultPage .sortContener .newListSelected.sortBy .SSContainerDivWrapper {
  min-width: 203px;
}
#searchResultPage .sortContener .newListSelected.sortNb {
  width: 76px;
}
#searchResultPage .sortContener .newListSelected.sortNb .selectedTxt {
  width: 47px;
}
#searchResultPage .sortContener .newListSelected.sortNb .SSContainerDivWrapper {
  min-width: 76px;
}
#searchResultPage .sortContener p > span {
  float: left;
  margin-right: 8px;
}
#searchResultPage .sortContener .newListSelected {
  margin-top: -3px;
}
#searchResultPage .sortContener .chooseButton {
  display: inline-block;
  margin-top: -10px;
  margin-left: 10px;
}
#searchResultPage #searchResult .proposal {
  background-color: #e6e5e5;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0;
  position: relative;
}
#searchResultPage #searchResult .proposal h3 {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  -webkit-border-radius: 10px 0 10px 0;
  border-radius: 10px 0 10px 0;
  background-color: #009bc9;
  color: #ffffff;
  font: bold 18px 'PT Sans Narrow', Arial, sans-serif;
  padding: 5px 10px;
  margin: 0 0 10px -20px;
}
#searchResultPage #searchResult .proposal h3:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-left: 10px solid transparent;
  border-right: 0 solid transparent;
  border-top: 6px solid #23408f;
  z-index: 1;
}
#searchResultPage #searchResult .proposal h3 span {
  margin: 4px 0 0 25px;
  font: bold 15px Arial, sans-serif;
  text-transform: none;
}
#searchResultPage #searchResult .proposal img {
  float: left;
  margin: 0 25px 25px 5px;
  border: 5px solid #fff;
  -webkit-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.22);
  box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.22);
  width: 135px;
  height: 98px;
  background: #fff;
}
#searchResultPage #searchResult .proposal .total {
  float: right;
  width: 118px;
  height: 119px;
  background: url(../../images/vacancesdirectes/common/sprites/spriteSplash.png);
  margin: -10px 20px 0px 0px;
  text-align: center;
  color: #ffffff;
  padding-top: 36px;
}
#searchResultPage #searchResult .proposal .total .label {
  font: bold 24px 'PT Sans Narrow', Arial, sans-serif;
  text-transform: uppercase;
  width: 77px;
  height: 30px;
  margin: 0 auto;
  overflow: hidden;
}
#searchResultPage #searchResult .proposal .total .field {
  font: bold 18px 'PT Sans Narrow', Arial, sans-serif;
  text-transform: uppercase;
}
#searchResultPage #searchResult .proposal .popinIframe {
  display: inline-block;
  margin-bottom: 10px;
}
#searchResultPage #searchResult .proposal .proposalEtab {
  font-size: 11px;
  color: #5f5f5f;
  text-transform: uppercase;
  margin-bottom: 5px;
}
#searchResultPage #searchResult .proposal table {
  width: 570px;
}
#searchResultPage #searchResult .proposal table tr {
  margin-bottom: 2px;
}
#searchResultPage #searchResult .proposal table tr.totalPrice {
  display: none;
}
#searchResultPage #searchResult .proposal table td {
  padding: 10px 12px;
  font-size: 12px;
  background: #fff;
  border-bottom: 2px solid #E6E5E5;
  vertical-align: middle;
}
#searchResultPage #searchResult .proposal table td.description p {
  font-weight: bold;
}
#searchResultPage #searchResult .proposal table td.optionPrice {
  text-align: right;
  font-size: 16px;
}
#searchResultPage #searchResult .proposal table td .bt {
  padding: 5px 3px;
  font-size: 17px;
  text-align: center;
}
#searchResultPage #searchResult .convention {
  float: right;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-border-radius: 0 10px 0 10px;
  border-radius: 0 10px 0 10px;
  background: #8c8a8a;
  color: #ffffff;
  margin: -54px -10px 0px 0px;
  padding: 7px 15px;
}
#footerContener {
  overflow: hidden;
  margin-top: 20px;
  clear: both;
}
#footerContener .mentions,
#footerContener .footerNavigation {
  display: none;
}
#footerContener .mentions.gauche,
#footerContener .footerNavigation.gauche,
#footerContener .mentions.droite,
#footerContener .footerNavigation.droite,
#footerContener .mentions.pageListe,
#footerContener .footerNavigation.pageListe {
  display: block;
}
#footerContener .mentions.gauche,
#footerContener .footerNavigation.gauche {
  float: left;
}
#footerContener .mentions.droite,
#footerContener .footerNavigation.droite {
  float: right;
  margin-top: -14px;
}
#footerContener .footerNavigation.gauche a,
#footerContener .footerNavigation.droite a {
  display: block;
  border: 0;
  text-transform: uppercase;
  text-decoration: none;
  font: bold 14px/22px 'PT Sans Narrow', Arial, sans-serif;
  padding: 3px 16px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background-color: #464545;
  color: #ffffff;
  background-image: url('../../images/vacancesdirectes/common/ui/lrArrowResalys.png');
  background-repeat: no-repeat;
  height: 28px;
}
#footerContener .footerNavigation.gauche a {
  background-position: 5px 0;
  padding-left: 25px;
}
#footerContener .footerNavigation.droite a {
  background-position: 90% 100%;
  padding-right: 25px;
}
#footerContener .footerNavigation.pageListe {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  float: right;
}
#footerContener .footerNavigation.pageListe a,
#footerContener .footerNavigation.pageListe b {
  float: left;
  padding: 0 10px;
  line-height: 24px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}
#footerContener .footerNavigation.pageListe a:hover,
#footerContener .footerNavigation.pageListe b:hover {
  background-color: #f5f5f5;
}
#footerContener .footerNavigation.pageListe a:first-child,
#footerContener .footerNavigation.pageListe b:first-child {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
#footerContener .footerNavigation.pageListe a:last-child,
#footerContener .footerNavigation.pageListe b:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
#footerContener .footerNavigation.pageListe b {
  background-color: #f5f5f5;
}
#footerContener .mentions {
  clear: both;
  padding-bottom: 15px;
  text-align: center;
}
#footerContener .mentions a {
  color: #005ea6;
}
/* Stylish Select 0.4.9 */
.stylish-select .SSContainerDivWrapper {
  left: -9999px;
}
/* Vacances directes select style */
.stylish-select .SSContainerDivWrapper {
  margin: 0;
  padding: 0;
  min-width: 125px;
  position: absolute;
  top: 22px;
  left: 0;
  z-index: 2;
}
.stylish-select ul.newList {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  border: 1px solid #ccc;
  overflow: auto;
}
.stylish-select ul.newList * {
  margin: 0;
  padding: 0;
}
.stylish-select ul.newList a {
  text-decoration: none;
  display: block;
  padding: 0 8px;
  height: 23px;
  line-height: 23px;
  white-space: nowrap;
}
.stylish-select .newListSelected {
  width: 125px;
  height: 23px;
  float: left;
  margin-right: 10px;
  background-color: #e6e5e5;
  position: relative;
  height: 23px;
  line-height: 23px;
}
.stylish-select .newListSelected .selectedTxt:after {
  content: "";
  width: 27px;
  height: 23px;
  display: block;
  background: url("../../images/vacancesdirectes/common/ui/arrow-select.png") no-repeat 0 0;
  position: absolute;
  top: 0;
  right: 0;
}
.stylish-select .newListSelected * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.stylish-select ul.newList li a:focus {
  -moz-outline-style: none;
}
.stylish-select .selectedTxt {
  width: 97px;
  overflow: hidden;
  padding: 0 23px 0 5px;
  position: absolute;
}
.stylish-select .hiLite {
  background: #ed145b !important;
  color: #fff!important;
}
.stylish-select .newListHover {
  background-color: #ccc!important;
  color: #000!important;
  cursor: default;
}
.stylish-select .newListDisabled {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.stylish-select .newListItemDisabled {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.stylish-select .newListOptionDisabled {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.stylish-select .newListSelHover,
.stylish-select .newListSelFocus {
  cursor: default;
}
.stylish-select .newListSelHover .selectedTxt:after,
.stylish-select .newListSelFocus .selectedTxt:after {
  background-position: 0 -46px;
}
.stylish-select .newListOptionTitle {
  font-weight: bold;
}
.stylish-select .newListOptionTitle ul {
  margin: 3px 0 0;
}
.stylish-select .newListOptionTitle li {
  font-weight: normal;
}
