
/*fiche*/
#ficheShare{position:absolute;top:-46px;right:0;padding:5px;background:@colorBgBlanc;.border-radius(10px 10px 0 0);
  .icon{float:left;width:36px;height:25px;text-indent:-999em;padding:0 .2px;border-left:1px solid @colorBgGrisC;
    background-image:url(../../images/vacancesdirectes/common/pict/iconSharing.png);background-repeat:no-repeat;
    &:first-child{border:0;}
  }
  .facebook{background-position:50% 0;width:26px;}
  .twitter{background-position:50% -25px;}
  .email{background-position:50% -50px;}
  .print{background-position:50% -75px;}
}
.keywordsFiche{margin:0 0 20px;
  a{text-decoration:none;
  &:hover{text-decoration:underline;}
  }
}
.geoDataFiche{margin:10px 0;padding-left:35px;text-transform:uppercase;background:url(../../images/vacancesdirectes/common/pict/ficheSituationIcon.png) no-repeat;}
.ratingFiche{float:right;margin-top:-25px;
  .review{width:10px;height:10px;border-radius:50%;vertical-align:-2px;background:@colorBgGrisM;display:inline-block;text-indent:-999em;
    &:first-child{margin-left:10px;}
  }
  .rated{background:@colorBgGrisF;}
  button{color:@colorGris1;text-decoration:underline;border:0;background:transparent;margin:0;
    &:hover{text-decoration:none;}
  }
  .reviewCount{margin-left:10px;}
}

.tabControls{margin:35px 0 10px;
  li{display:inline;
    a{font:bold 12px/35px Arial, sans-serif;float:left;margin-right:1px;background:@colorBgGrisC;color:@colorGris2;.border-radius(10px 10px 0 0);text-transform:uppercase;padding:6px 12px 0;text-decoration:none;position:relative;
      &.active, &:hover{background:@colorBgGrisM;color:@colorBlanc;}
      &.active:after{content:""}
      &.active:after{top:100%;border:solid transparent;content:"";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(140, 138, 138, 0);border-top-color: #8C8A8A;border-width:5px;left:50%;margin-left:-5px;}
    }
  }
}
.tabs{visibility:hidden;
  p{}
}

/* #tabCamp */
.slider{position:relative;width:616px;height:326px;overflow:hidden;
  img{float:left;cursor:help;}
  button{display:block;position:absolute;z-index:2;top:50%;margin-top:-45px;height:70px;width:31px;background:@colorBgGrisF;background-image:url(../../images/vacancesdirectes/common/ui/sliderArrows.png);background-repeat:no-repeat;border:0;cursor:pointer;text-indent:-999em;
      &.prev{left:0;background-position:0 0;}
      &.next{right:0;background-position:100%100%;}
  }
}
#littleTIP{position:absolute;width:100%;background:rgba(0, 0, 0, 0.3);text-align:center;padding:7px 0 6px;left:0;top:0;color:#fff;font-weight:bold;}
.tabCampDiapoOptions{background-color:@colorBgGrisC;padding:2px 10px;margin-bottom:15px;
  span{display:inline-block;font:bold 15px/34px @ptnarrow;color:@colorGris2;text-transform:uppercase;}
  label{color:@colorGris2;margin-left:5px;}
  a{display:inline-block;font:bold 15px/34px@ptnarrow;color:@colorGris2;text-transform:uppercase;text-decoration:none;background-image:url(../../images/vacancesdirectes/common/pict/video360.png);background-repeat:no-repeat;padding-left:32px;
      &.tabCampVideo{background-position:0 0;margin-right:10px;}
      &.tabCamp360{background-position:0 100%;}
  }
}
#tabCamp{
  .bt{margin:20px 0;}
  .tabCampDesc{
    h3{margin-top:0;}
    p{color:@colorGris1}
  }
  .temoignFiche{
    a{color:@colorGris1;text-decoration:underline;margin:0 0 10px;
      &:hover{text-decoration:none;}
    }
    dl{float:left;width:45%;
      &:first-child{margin-right:25px;}
    }
    dt{font-weight:bold;font-size:13px;line-height:12px;margin-bottom:5px;}
    dd{
      &.img{float:left;margin:0 10px 10px 0;}
      &.list{
        ul{list-style-position:inside;}
        &.event{font-size:11px;}
      }
    }
    ul{list-style-type:disc;margin-left:20px;}
    li{margin-bottom:3px;}
  }
  .temoignFicheIt{display:table-cell;border-right:1px solid @colorBorderGris;width:196px;margin-bottom:15px;vertical-align:top;padding:30px 0 10px 6px;background-image:url(../../images/vacancesdirectes/common/sprites/spCloudTemgn.png);background-repeat:no-repeat;font-size:13px;line-height:12px;
      &:nth-child(1){padding-left:0;}
      &:nth-child(3){border-right:0;}
      &.fish{background-position:0 0;}
      &.drink{background-position:-197px 0;}
      &.glass{background-position:-405px 0;}
      span{text-transform:uppercase;display:block;width:115px;text-align:center;color:#fff;}
      .perso{font:bold 22px/16px @ptnarrow;}
      .age{font:bold 15px/16px @ptnarrow;margin-bottom:27px;}
  }
}
/*tabs pagination*/
.paginationTabs{
  .bt{font-size:18px;text-decoration:underline;
    &:hover{text-decoration:none;}
    &.left{
      &:before{content:"<< ";}
    }
    &.right{
      &:after{content:" >>";}
    }
  }
}
.filterBy{background-color:@colorBgGrisF;color:@colorBlanc;padding:15px;.border-radius(10px);margin-bottom:20px;
  span{font-size:13px;font-weight:bold;display:inline-block;margin-right:50px;}
  select{text-transform:uppercase;font:bold 16px/20px @ptnarrow;color:#999;width:220px;margin-right:5px;}
}
.typLocation{padding:0 0 20px;margin-bottom:20px;border-bottom:7px solid @colorBgGrisC;
  > img{margin:0 25px 25px 5px;padding:0 0 5px 5px;.box-shadow(-3px 3px 5px 0px rgba(0,0,0,0.22))}
  > div > .nbPlace{float:left;.border-radius(4px);margin:0 12px 10px 0;background-color:@colorBgGrisC;padding:3px 4px 10px;color:@colorGris1;font-size:9px;font-weight:bold;text-align:center;
    img{display:block;margin-bottom:5px;}
  }
  > div > strong{line-height:1.5;}
}
/*tabs surplace*/
#tabSurplace .right{margin-bottom:20px;}
.colSurPlace{display:table;margin:20px 0;
  dl{display:table-cell;vertical-align:top;border-right:7px solid @colorBgGrisC;padding:0 5px 0 22px;
    &:last-child{border:0;}
    dt{display:block;border:0;text-transform:uppercase;text-decoration:none;font:bold 14px/14px @ptnarrow;padding:3px 20px;.border-radius(7px);background-color:@colorBgGrisC;color:@colorGris2;text-align:center;display:table;vertical-align:middle;margin:0 auto 25px;height:38px;
      span{display:table-cell;vertical-align:middle;}
    }
    dd{margin:0 0 0 10px;
      &.activites{
        strong{color:@colorVert;text-transform:uppercase;}
      }
      &.equipements{
        strong{color:@colorFushia;text-transform:uppercase;}
      }
      &.services{
        strong{color:@colorBleu;text-transform:uppercase;}
      }
      li{display:table;color:@colorGris1;margin-bottom:10px;}
      img{display:table-cell;margin-right:10px;vertical-align:middle;}
      span{display:table-cell;vertical-align:middle;}
    }
  }
}
