.home{

/* COMMON */
.boxborder{margin:0 15px 5px 5px;display:block;}
  #wrap a{text-decoration:none;}
  .fb-like{width:97px;height:20px;background:url("../../images/vacancesdirectes/dyn/ui/facebook-like-button.png") no-repeat 0 0 transparent;text-indent:-9999px;margin-top:7px;}


/* STRUCTURE */
  #wrap .column.left{padding-top:65px}

/* HOME */
  .locationForwards{position:relative;margin-bottom:24px;
    .stamp{margin-bottom:25px;}
    h2{margin-left: 27px;position:relative;
      &:before{content:"";background:url("../../images/vacancesdirectes/common/sprites/sprite-40.png") no-repeat transparent;width:40px;height:40px;position:absolute;top:0;left:-40px;}
    }
    &#topLocations{
      h2:before{background-position:0 0;}
      .element{padding:20px 0;}
      .stamp{margin-bottom:5px;}
    }
    &#lastLocations{
      h2:before{background-position:0 -40px;}
      .element{margin-bottom: 10px;padding: 0 0 10px;border-bottom: 7px solid @colorBgGrisC;
        &.last{border:0 none;}
        .details{width:300px;
          .title, .region, .period{width:245px;}
          .condition{font-size:15px;}
        }
      }
    }
  }
  .element{position:relative;margin:0;
    .fb-like{width:109px;height:20px;margin:0 15px 0 5px;}
    .details{font-size:13px;color:@colorGris1;position:relative;
      .title, .region, .condition, .stain{display:block;}
      .title{font-weight:bold;}
      .period{font-style:italic;}
      .condition{
        .price{color:@colorOrange;font-weight:bold;}
      }
      .counter{width:48px;height:48px;background:url("../../images/vacancesdirectes/common/ui/stain.png") no-repeat 0 -391px transparent;font-family:@ptnarrow;color:@colorOrange;font-size:18px;font-weight:bold;text-transform:uppercase;position:absolute;top:0;right:-8px;text-align:center;._verticalCenter(48px);}
    }
  }
  #destinationsBloc{width:400px;height:253px;float:left;margin:0 24px 12px 0;background:url("../../images/vacancesdirectes/common/pict/destinations-bloc.jpg") no-repeat 0 0 transparent;padding-bottom:5px;
    h2{font:bold 24px/24px @ptnarrow;text-transform:uppercase;margin-bottom:45px;
      span{color:@colorBleu;}
    }
    .left, .right {height:140px;position:relative;}
    .left{width:148px;
      ul li{line-height:13px;}
    }
    .right{width:184px;
      #international{position:absolute;bottom:7px;}
    }
    .country{font:bold 18px/20px @ptnarrow;color:@colorGris1;text-transform:uppercase;display:block;margin-bottom:5px;
    }
    .link{margin:10px 0 0 50px;font-size:13px;margin-left:60px;._verticalCenter(37px);text-decoration:underline;
      &:before{content:"";background:url("../../images/vacancesdirectes/common/ui/car.png") no-repeat 0 0 transparent;width:64px;height:37px;display:block;position:absolute;bottom:0;left:-10px;}
    }
  }
  #forwardBloc{width:504px;height:253px;float:left;margin:0 0 12px 0;background:url("../../images/vacancesdirectes/common/pict/forward-bloc.jpg") no-repeat 0 0 transparent;padding-bottom:5px;
    #forwardBlocTitle{width:120px;height:96px;color:@colorBlanc;position:absolute;top:12px;left:5px;text-align:center;line-height:24px;}
    #forwardBlocSubtitle{width:125px;color:@colorOrange;font:bold 42px/32px @ptnarrow;text-transform:uppercase;position:absolute;bottom:10px;left:5px;text-align:center;}
    #forwardBlocSubtitle span{font-size:30px;display:block;}
    #forwardBlocHeadline{width:172px;height:115px;position:absolute;top:117px;left:137px;padding:0 15px;background:url("../../images/vacancesdirectes/common/ui/cloud.png") no-repeat 0 0 transparent;text-align:center;._verticalCenter(115px,14px);}
    #forwardBlocHeadline span{margin-top:10px;color:@colorBlanc;font-size:16px;}
  }
  #activitiesBloc{width:928px;height:253px;margin:12px 0;background:url("../../images/vacancesdirectes/common/pict/activities-bloc.jpg") no-repeat 0 0 transparent;padding-bottom:5px;
    #activitiesBlocTitle{width:285px;height:24px;color:@colorBlanc;font:bold 24px/24px @ptnarrow;text-transform:uppercase;}
    .blueCloud {position:absolute;padding:0 25px 0 15px;background:url("../../images/vacancesdirectes/common/ui/cloud.png") no-repeat 0 0 transparent;text-align:center;}
    .blueCloud span{color:@colorBlanc;font:bold 15px/15px @ptnarrow;text-transform:uppercase;}
    #activitiesBlocHeadline1{width:172px;._verticalCenter(95px,15px);top:47px;left:70px;background-position:0 -115px;}
    #activitiesBlocHeadline1 span{margin-top:-18px;}
    #activitiesBlocHeadline2{width:172px;._verticalCenter(95px,15px);top:60px;left:415px;background-position:0 -210px;}
    #activitiesBlocHeadline2 span{margin-top:-6px;}
    #activitiesBlocHeadline3{width:172px;._verticalCenter(105px,15px);top:82px;left:680px;background-position:0 -305px;}
    #activitiesBlocHeadline3 span{margin-top:-12px;}
    .activities{position:absolute;top:130px;width:220px;height:100px;}
    .activities li a{color:@colorBlanc;padding-left:15px;border-left:1px solid #f25b8d;font-size:14px;line-height:12px;}
    .activities li a:hover{font-weight:bold;}
    #activities1{left:220px;}
    #activities2{left:365px;}
    #activities3{left:560px;}
  }
  #mapBloc{margin:12px 0;padding:15px 24px 15px 15px;
    #mapView{width:604px;height:392px;background:url("http://pimg.devlint.fr/604x392/ccc/333/google%20map") no-repeat 0 0 transparent;margin-right:24px;}
    #mapContent{width:261px;
      h2,h3{color:@colorFushia;font:bold 24px/24px @ptnarrow;text-transform:uppercase;}
      h3{font-size:20px;}
      #mapFilters{
        li a{._verticalCenter(40px,13px);text-transform:uppercase;border-bottom:1px solid @colorBgGrisM;display:block;position:relative;padding-left:55px;font-size:11px;
          &:before{content:"";background:url("../../images/vacancesdirectes/common/sprites/sprite-50.png") no-repeat 0 0 transparent;width:50px;height:40px;display:block;position:absolute;bottom:0;left:0px;}
          &#filterNew:before{background-position:0 0;}
          &#filterChildren:before{background-position:0 -40px;}
          &#filterWaterParks:before{background-position:0 -80px;}
          &#filterIndoorPools:before{background-position:0 -120px;}
          &#filterWaterfront:before{background-position:0 -160px;}
          &#filterAnimals:before{background-position:0 -200px;}
        }
        li a:hover{color:@colorFushia;background-color:#cfcccc;
          &#filterNew:before{background-position:-50px 0;}
          &#filterChildren:before{background-position:-50px -40px;}
          &#filterWaterParks:before{background-position:-50px -80px;}
          &#filterIndoorPools:before{background-position:-50px -120px;}
          &#filterWaterfront:before{background-position:-50px -160px;}
          &#filterAnimals:before{background-position:-50px -200px;}
        }
      }
    }
  }
}
.ie-lte7 .stain .span{display:inline;}