.home{

/* COMMON */
.boxborder{margin:0 10px 5px;display:block;}
#wrap a{text-decoration:none;}
.element iframe{margin:5px 0 0 10px;}


/* STRUCTURE */
  #wrap{padding:0 0 15px;}

/* HOME */

  /* header */
  #header{margin-bottom:290px;
    #catchline{color:@colorBlanc;font:bold 24px/24px @ptnarrow;text-transform:uppercase;text-align:right;margin:75px 30px 15px;float:left;width:300px;position:relative;
      span{font-size:17px;position:absolute;bottom:-21px;right:0;}
    }
    #telephone{position:absolute;bottom:0;right:0;float:none;margin-bottom:5px;}
    #logoTitle{position:absolute;text-indent:-999em;}
  }

/* slider */
  #sliderWrapper{overflow:hidden;width:100%;position:absolute;top:0;left:0;height:600px;
    #sliderPrev,
    #sliderNext{position:absolute;top:88px;left:20px;width:125px;._verticalCenter(110px,15px);font:@arial 13px/15px @arial;color:@colorOrange;text-align:center;padding:0 5px;cursor:pointer;
      .content{width:115px;
        .headline{font:bold 20px/22px @ptnarrow;text-transform:uppercase;margin-bottom:5px;overflow:hidden;text-overflow:ellipsis;max-height:44px;}
        .price{font:bold 20px/22px @arial;}
        .duration{margin-top:-5px;}
      }
    }
    #sliderPrev{left:20px;
//      &:before{content:"";background: url("../../images/vacancesdirectes/common/sprites/slider.png") 0 0px no-repeat transparent;position:absolute;left:0;top:50%;margin-top:-15px;margin-left:-12px;height:30px;width:12px;}
    }
    #sliderNext{right:20px;left:auto;
//      &:after{content:"";background: url("../../images/vacancesdirectes/common/sprites/slider.png") -12px 0px no-repeat transparent;position:absolute;right:0;top:50%;margin-top:-15px;margin-right:-12px;height:30px;width:12px;}
    }
    #sliderContainer{position:relative;font-family:@ptnarrow;width:976px;height:230px;margin:290px auto 0;z-index:10;
      #sliderBackground{position:absolute;bottom:0;left:0;height:100px;width:976px;background-color:@colorBlanc;z-index:2;display:none;}
      .caroufredsel_wrapper{overflow:visible !important;}
      .slide{position:relative;width:976px;height:230px;margin-bottom:267px;
        .sliderPhoto{position:absolute;top:-40px;right:350px;text-indent: 90px;transform:rotate(18deg);
          img{z-index:0;}
        }
        .sliderPostmark{position:absolute;top:-30px;right:-10px;z-index:1;}
        .sliderBackground{position:absolute;bottom:0;left:0;height:100px;width:976px;background-color:@colorBlanc;z-index:2}
        .sliderStain{position:absolute;text-align:center;
          &.first{left:50px;top:-100px;width:298px;._verticalCenter(286px,15px);background:url("../../images/vacancesdirectes/common/ui/stain-1.png") no-repeat 0 0 transparent;z-index:3;
            .content{width:190px;color:@colorOrange;
              .headline{font:bold 38px/38px @ptnarrow;text-transform:uppercase;overflow:hidden;text-overflow:ellipsis;max-height:76px;}
              .catchline{font:14px/15px @arial;margin-bottom:10px;}
            }
          }
          &.second{left:220px;top:34px;width:188px;._verticalCenter(188px,15px);background:url("../../images/vacancesdirectes/common/ui/stain-2.png") no-repeat 0 0 transparent;z-index:4;
            .content{width:90px;color:@colorBlanc;
              p{font:bold 13px/15px @arial;}
              .price{font:bold 37px/37px @arial;}
              .duration{margin-top:-10px}
            }
//            .bt{position:absolute;bottom:75px;left:-40px;}
          }
        }
      }
    }
    .pagination {
      text-align: center;
      position: relative;
      z-index:10;
      margin-top:-90px;
      margin-left:50px;
      padding-bottom:30px;
    }
    .pagination a {
      background: url("../../images/vacancesdirectes/common/sprites/slider.png") 0 -30px no-repeat transparent;
      width: 24px;
      height: 30px;
      margin: 0 5px 0 0;
      display: inline-block;
    }
    .pagination a.selected {
      background-position: 0px -60px;
      cursor: default;
    }
    .pagination a span {
      display: none;
    }
  }


  .locationForwards{position:relative;padding-bottom:35px;min-height:602px;
    .stamp{margin-bottom:5px;
      h2{._verticalCenter(40px);}
    }
    &>.bt{position:absolute;bottom:15px;right:0;}
    h2{margin-left: 27px;position:relative;
      &:before{content:"";background:url("../../images/vacancesdirectes/common/sprites/sprite-40.png") no-repeat transparent;width:40px;height:40px;position:absolute;top:0;left:-40px;}
    }
    &#topLocations{
      h2:before{background-position:0 0;}
      .element{padding:20px 0;
        .details{width:151px;}
        &:hover{._border-radius(10px);background-color:@colorBgGrisC;}
      }
    }
    &#lastLocations{
      h2:before{background-position:0 -40px;}
      .element{padding: 10px 0 10px 5px;border-bottom: 7px solid @colorBgGrisC;
        &:nth-child(2){border-top: 7px solid @colorBgBlanc;}
        &:nth-last-of-type(1){border-bottom: 7px solid @colorBgBlanc;}
        .details{width:300px;margin:0;
          .title, .region, .period{width:245px;}
          .condition{font-size:15px;}
        }
        &:hover{background-color:@colorBgGrisC;
          .details{
            .counter{background-position:-48px -391px;right:-15px;}
          }
          &:nth-child(2){border-top: 7px solid @colorBgGrisC;}
        }
      }
    }
  }

  aside{
    #searchBloc{position:absolute;margin-top:-258px;}
    #greyBoxes{margin-top:129px;}
  }


  #destinationsBloc{width:400px;height:253px;float:left;margin:0 24px 12px 0;background:url("../../images/vacancesdirectes/common/pict/destinations-bloc.jpg") no-repeat 0 0 transparent;padding-bottom:5px;
    h2{font:bold 24px/24px @ptnarrow;text-transform:uppercase;margin-bottom:45px;
      span{color:@colorBleu;}
    }
    .left, .right {height:140px;position:relative;}
    .left{width:148px;
      ul li{line-height:13px;}
    }
    .right{width:184px;
      #international{position:absolute;bottom:7px;}
    }
    .country{font:bold 18px/20px @ptnarrow;color:@colorGris1;text-transform:uppercase;display:block;margin-bottom:5px;
    }
    .link{margin:10px 0 0 50px;font-size:13px;margin-left:60px;._verticalCenter(37px);text-decoration:underline;
      &:before{content:"";background:url("../../images/vacancesdirectes/common/ui/car.png") no-repeat 0 0 transparent;width:64px;height:37px;display:block;position:absolute;bottom:0;left:-10px;}
    }
  }
  #forwardBloc{width:504px;height:253px;float:left;margin:0 0 12px 0;padding-bottom:5px;
    #forwardBlocTitle{width:120px;height:96px;color:@colorBlanc;position:absolute;top:12px;left:5px;text-align:center;line-height:24px;}
    #forwardBlocSubtitle{width:125px;color:@colorOrange;font:bold 42px/32px @ptnarrow;text-transform:uppercase;position:absolute;bottom:10px;left:5px;text-align:center;}
    #forwardBlocSubtitle span{font-size:30px;display:block;}
    #forwardBlocHeadline{width:172px;height:115px;position:absolute;top:117px;left:137px;padding:0 15px;background:url("../../images/vacancesdirectes/common/ui/cloud.png") no-repeat 0 0 transparent;text-align:center;._verticalCenter(115px,14px);}
    #forwardBlocHeadline span{margin-top:10px;color:@colorBlanc;font-size:16px;}
  }
  #activitiesBloc{width:928px;height:253px;margin:12px 0;background:url("../../images/vacancesdirectes/common/pict/activities-bloc.jpg") no-repeat 0 0 transparent;padding-bottom:5px;
    #activitiesBlocTitle{width:285px;height:24px;color:@colorBlanc;font:bold 24px/24px @ptnarrow;text-transform:uppercase;}
    .blueCloud {position:absolute;padding:0 25px 0 15px;background:url("../../images/vacancesdirectes/common/ui/cloud.png") no-repeat 0 0 transparent;text-align:center;}
    .blueCloud span{color:@colorBlanc;font:bold 15px/15px @ptnarrow;text-transform:uppercase;}
    #activitiesBlocHeadline1{width:172px;._verticalCenter(95px,15px);top:47px;left:70px;background-position:0 -115px;}
    #activitiesBlocHeadline1 span{margin-top:-18px;}
    #activitiesBlocHeadline2{width:172px;._verticalCenter(95px,15px);top:60px;left:415px;background-position:0 -210px;}
    #activitiesBlocHeadline2 span{margin-top:-6px;}
    #activitiesBlocHeadline3{width:172px;._verticalCenter(105px,15px);top:82px;left:680px;background-position:0 -305px;}
    #activitiesBlocHeadline3 span{margin-top:-12px;}
    .activities{position:absolute;top:130px;width:220px;height:100px;}
    .activities li a{color:@colorBlanc;padding-left:15px;border-left:1px solid #f25b8d;font-size:14px;line-height:12px;}
    .activities li a:hover{font-weight:bold;}
    #activities1{left:220px;}
    #activities2{left:365px;}
    #activities3{left:560px;}
  }
  #mapBloc{margin:12px 0;padding:15px 24px 15px 15px;
    #homeMap{/*width:604px;height:392px;background:url("http://pimg.devlint.fr/604x392/ccc/333/google%20map") no-repeat 0 0 transparent;*/margin-right:24px;}
    #mapContent{width:261px;
      h2,h3{color:@colorFushia;font:bold 24px/24px @ptnarrow;text-transform:uppercase;}
      h3{font-size:20px;}
      #mapFilters{
        li a{._verticalCenter(40px,13px);text-transform:uppercase;border-bottom:1px solid @colorBgGrisM;display:block;position:relative;padding-left:60px;font-size:11px;background-repeat:no-repeat;background-position:0 0;
          &:hover, &.active{color:@colorFushia;background-color:#cfcccc;background-position:0 -40px;}
        }
      }
    }
  }
}
.ie-lte7 .stain .span{display:inline;}