@font-face {
    font-family: 'PT Sans Narrow';
    src: url('fonts/PTN57F-webfont.eot');
    src: url('fonts/PTN57F-webfont.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
.w-gte1280 #sliderWrapper .radiusBox.yellow{display:none !important;}