body{background:#f5f5f5 url("../../images/vacancesdirectes/common/pict/bg.jpg") no-repeat 0 0;background-size:100% auto;color:@colorGris2;font:12px Arial, sans-serif;min-width:1000px;}
body.popin{/*background:#fff;*/background-attachment:fixed;min-width:0;}
header, section, footer {position:relative;}

.full-width{position:relative;min-width:100%;float:left;z-index:0;}
.fixed-width{position:relative;width:976px;margin:0 auto;}

/* header */
#header{width:928px;margin:0 auto;font-family:@ptnarrow;z-index:0;
  #logo{display:block;float:left;margin-bottom:25px;}
  #catchline{color:@colorBlanc;font:bold 24px/24px @ptnarrow;text-transform:uppercase;text-align:center;margin-top:80px;}
  #headerRight{float:right;}
  #telephone{width:256px;height:60px;background: url("../../images/vacancesdirectes/common/ui/phone-bg.png") no-repeat 0px 0px transparent;float:right;padding:5px 0px 15px 10px;margin:15px 0 0 15px;
    span{font-size:18px;line-height:19px;color:@colorGris2;
      &:before{content:"";width:40px;height:29px;background:transparent url("../../images/vacancesdirectes/common/ui/phone-icon-header.png") no-repeat 0px 0px;float:left;margin:5px;}
      a{font-weight:bold;color:@colorGris2;text-decoration:none;display:block;}
    }
  }
  #account{float:right;font-size:16px;text-transform:uppercase;background-color:@colorFushia;border-radius:10px;padding:7px 12px;color:#fff;text-decoration:none;margin:20px 0 2px 15px;}
}
/* specifs home */
.home #telephone{clear:both;}

/* nav */
#nav{font:bold 23px @ptnarrow;text-transform:uppercase;position:relative;background:@colorBgGrisF;margin-top:20px;height:50px;z-index:30;
  .topnav{top:-7px;}
  .tab{position:static;color:#fff;float:left;padding:0;cursor:pointer;._border-radius(7px 7px 0 0);z-index:50;margin-right:1px;
    &:hover, &.current{background:@colorFushia;
      small{color: #fff;}
      &>a:after{content:url('../../images/vacancesdirectes/common/pict/Triangle-Tab.png');position:absolute;top:24px;left:50%;margin-left:-12px;height:8px;width:22px;z-index:50;}
    }
    &:hover .subnav{display:block;}
    &>a{position:relative;display:block;padding:0 10px;margin-top:7px;color:@colorBlanc;text-decoration:none;._verticalCenter(50px);
      &#home img{width:27px;height:27px;margin-top:-7px;}
      small {font:bold  15px Arial,sans-serif;color:@colorFushia;}
    }
    .subnav{padding:18px;position:absolute;top:57px;left:0px;width:976px;background:@colorBgBlanc;float:none;box-shadow:0 10px 10px -12px @colorBgGrisF;z-index:20; text-transform:none;z-index:40;display:none;color:@colorGris1;cursor:default;
      p{font:18px/19px Arial,sans-serif;}
      .title{font:bold 22px @ptnarrow;text-transform:uppercase;margin:3px 0 2px;}
      .subtitle{font:bold 18px @ptnarrow;color:@colorFushia;text-transform:uppercase;margin:3px 0 2px;}
      .type{margin:10px 20px;}
      .objective{margin:10px;}
      &#destinations{
        .ratio-33{width:300px;margin-left:16px;
          &:first-child{width:308px;margin-left:0;}
          .radiusBox,
          .radiusBox2{font:12px/13px Arial,sans-serif;
            .view{width:290px;height:90px;margin:-15px -20px 15px;._border-radius(6px 6px 0 0);
              .bg{position:absolute;top:0;left:0;}
            }
            .title{font:bold 18px @ptnarrow;text-transform:uppercase;margin:3px 0 2px;}
            .region{
              .link{padding-bottom:5px;border-bottom:7px solid @colorBorderGris;}
              &:last-child .link{padding-bottom:0;border-bottom:0 none;}
            }
            a{text-decoration:none;}
            .link{text-align:right;}
          }
          .radiusBox{height:511px;
            .title{position:relative;display:inline;
              &:after{content:url('../../images/vacancesdirectes/common/pict/filterCampingIcon.png');position:absolute;bottom:0px;right:-56px;width:46px;height:56px;}
            }
          }
        }
        #campingsList-nav {background-color:@colorFushia;padding:0 20px;margin:10px -20px 10px 40px;
          &:after{content:"";}
          span{margin-right:-6px;}
          .ln-letters{margin-top:-4px;
            a{padding:0;border:0 none;width:16px;._verticalCenter(16px);text-align:center;position:relative;
              &.all{position:absolute;top:-38px;left:-50px;width:288px;height:30px;background-color:transparent;border:0 none;text-indent:-9999px;}
            }
          }
          .ln-letter-count{position:absolute;top:-30px !important;left:auto !important;right:15px;width:28px !important;._verticalCenter(35px);font:bold 15px Arial,sans-serif;color:@colorGris2;}
        }
        ol#campingsList{overflow-x:hidden;height:390px;
          li{position:relative;margin-left:50px;
            &:before{content:"- ";}
            .ln-letter{position:absolute;top:-5px;left:-50px;height:20px;width:20px;font:bold 17px @ptnarrow;}
            &.ln-separator{content:"";position:relative;margin:6px 0 6px -50px;height:1px;width:276px;background-color:@colorBorderGris}
            .ln-letter:before,
            &.ln-separator:before{content:"";}
          }
        }
      }
      &#locations{
        .radiusBox{margin-right:20px;padding:10px;
          &.capacity{width:135px;font-size:13px;text-align:center;
            .view{display:block;width:100px;height:50px;margin:0 auto;}
          }
          &.exclusively{width:320px;margin-top:-22px;
            .view{background:width:50px;height:100px;}
            .content{font-size:18px;position:absolute;top:60px;left:70px;width:200px;._verticalCenter(50px, 20px);}
          }
          .stamp{position:absolute;top:10px;right:0;
            &:after{content:"";}
            span{margin-right:-6px;}
          }
        }
        .radiusBox2{margin-right:12px;height:130px;
          .view{width:216px;height:120px;background: url('../../images/vacancesdirectes/common/pict/stamp.jpg') no-repeat transparent;margin:-15px -20px 15px;._border-radius(6px);
            &#mobilhome{background-position:0px 0px;}
            &#cottage{background-position:0px -120px;}
            &#chalet{background-position:0px -240px;}
            &#caravan{background-position:0px -360px;}
          }
          .title{font:bold 18px @ptnarrow;text-transform:uppercase;margin:3px 0 2px;}
          .stain{position:absolute;bottom:0;right:10px;height:50px;
            &>*{line-height:16px;}
            span{margin-top:-6px;}
            .price{font-size:22px;}
          }
        }
        .radiusBox,
        .radiusBox2{font:12px/13px Arial,sans-serif;
          &:last-child{margin-right:0;}
        }
      }
      &#deals{}
      .proposals{padding:0 20px;
        .title{margin:0;}
        .proposalsDate{padding:0 20px;border-right:7px solid @colorBgGrisC;
          &:last-child{border-right:0 none;}
          .from{font:bold 13px @ptnarrow; color:@colorFushia;display:block;}
          .bt{display:inline;}
        }
      }
      &#holiday{}
      &#weekends{
        .radiusBox{
          .title{color:@colorOrange;}
        }
      }
    }
  }
//  .tab:nth-child(4) .subnav{display:block;}
}

/* lang */
#lang{width:41px;height:27px;background: url('../../images/vacancesdirectes/dyn/ui/lang-flag-fr.png') no-repeat 0px 0px;border-width:4px 6px;border-style:solid;border-color:#a7a9ac;position:relative;display:inline-block;text-indent:-9999px;float:right;margin-top:19px;
  &:after{width:12px;height:4px;content:"";background:url('../../images/vacancesdirectes/common/ui/lang-arrow.png') no-repeat 0px 0px;position:absolute;left:50%;bottom:-8px;margin-left:-6px;}
}
.ie-lte7 #lang{display:inline;}

/* generic */
.left{float:left;}
.right{float:right;}
.h1-like, .h2-like, .h3-like, .h4-like, .h5-like, .h6-like{display:block;}
h1, .h1-like{dismargin:20px 0 0;color:@colorFushia;font:bold 30px @ptnarrow;text-transform:uppercase;}
h2, .h2-like{color:@colorGris2;font:bold 20px 'Arial', sans-serif;line-height:22px;}
h3, .h3-like{color:@colorGris1;font:bold 25px/24px @ptnarrow;text-transform:uppercase;margin:20px 0 5px;}
h4, .h4-like{color:@colorFushia;font:bold 19px/18px @ptnarrow;text-transform:uppercase;margin-bottom:10px;}
h5, .h5-like{color:@colorGris1;font:bold 16px/15px @ptnarrow;text-transform:uppercase;margin-bottom:10px;}
h6, .h6-like{color:@colorFushia;}

.bt{display:block;border:0;text-transform:uppercase;text-decoration:none;font:bold 14px @ptnarrow;padding:3px 10px;._border-radius(7px);
  &.gris{background-color:@colorBgGrisC;color:@colorFushia;}
  &.gris2{background-color:@colorBgGrisC;color:@colorGris2;}
  &.sombre{background-color:@colorBgGrisF;color:@colorBlanc;}
  &.fushia{background-color:@colorFushia;color:@colorBlanc;}
  &.orange{background-color:@colorOrange;color:@colorBlanc;}
  &.trans{background:transparent;padding:0;}
  &.link{background:transparent;padding:0;text-decoration:underline !important;border-radius:0;}
  &.cfushia{color:@colorFushia;}
  &.big{padding:5px 10px;}
  &.small{padding:1px 10px;font-size:12px;._border-radius(10px)}
  &.full{clear:both;width:100%;text-align:center;font-size:26px;margin:15px 0;}
  &.ib{display:inline-block;}
}
.boxborder{margin:0 25px 25px 5px;border:5px solid #fff;._box-shadow(-3px 3px 5px 0px rgba(0,0,0,0.22));
  &.large{border:15px solid @colorBlanc;}
}
.pathway{font:11px/28px Arial,sans-serif;color:@colorBgGrisM;text-align:right;
  li{display:inline;
    &:last-child a{color:@colorFushia;}
  }
  a{text-decoration:none;color:inherit;
    &:hover{text-decoration:underline;}
  }
}
.stamp{position:relative;text-align:center;
  &.blue{background-color:@colorBgBleu;}
  &.grey{background-color:@colorBgGrisM;}
  &.fushia{background-color:@colorFushia;}
  &.orange{background-color:@colorOrange;}
  &:before{content:url('../../images/vacancesdirectes/common/ui/stamp-left-blanc.png');width:12px;height:24px;position:absolute;left:0;top:50%;margin-top:-12px;}
  &:after{content:url('../../images/vacancesdirectes/common/ui/stamp-right-blanc.png');width:12px;height:24px;position:absolute;right:0;top:50%;margin-top:-12px;}

  h2{color:@colorBlanc;text-align:center;text-transform:uppercase;position:relative;display:inline-block;}
}
.radiusBox{._border-radius(10px);padding:15px 20px;margin:15px 0;position:relative;
  &.bgImg{overflow:hidden;}
  &.greyC{background-color:@colorBgGrisC;}
  &.greyF{background-color:@colorBgGrisF;}
  &.fushia{background-color:@colorFushia;}
  &.yellow{background-color:@colorJaune;}
  .stamp{color:@colorBlanc;._verticalCenter(38px);padding:0 20px;display:block;
    &:before{content:url('../../images/vacancesdirectes/common/ui/stamp-left.png');}
    &:after{content:url('../../images/vacancesdirectes/common/ui/stamp-right.png');}
    &>h2{text-transform:uppercase;font: bold 22px @ptnarrow;}
    &.no{background:none;padding:0;._verticalCenter(38px,22px);
     &>h2{color:@colorGris1;}
    }
  }
  &>h2{color:@colorGris1;
    span{color:@colorBleu;}
  }
}
.radiusBox2{._border-radius(10px);padding:15px 20px;margin:15px 0;position:relative;
  &.bgImg{overflow:hidden;}
  &.greyC{background-color:@colorBgBlanc;border:5px solid @colorBgGrisC;}
  &.greyF{background-color:@colorBgBlanc;border:5px solid @colorBgGrisF;}
  &.fushia{background-color:@colorBgBlanc;border:5px solid @colorFushia;}
  .stamp{color:@colorBlanc;background:url('../../images/vacancesdirectes/common/ui/stamp-half.png') no-repeat top right transparent;._verticalCenter(38px);padding:0 30px;margin-top:10px;display:inline-block;text-transform:uppercase;font-family: @ptnarrow;font-size:15px;font-weight:bold;
    &:before{content:"";}
    &:after{content:""}
    span{margin-left:-6px;}
  }
}


.ie-lte8 .stain{width:70px;min-width:70px !important;}

/* structure */
#wrap{padding:15px 0;clear:both;background:@colorBgBlanc;min-height:200px;position:relative;z-index:20;}
.popin #wrap{width:646px;padding:0 15px;margin:0 auto;}
.column{width:928px;margin:0 @gutter;position:relative;
  &.left{width:616px;margin:0 0 0 @gutter;}
  &.right{width:288px;margin:0 @gutter 0 0;}
  .ratio-33{width:300px;margin-right:16px;
    &.clear{margin-right:0;}
  }
}

.bloc{clear:both;._border-radius(7px);padding:10px 15px;
  h3, .h3-like{margin-top:10px !important;}
  &.gris{background-color:@colorBgGrisC;}
  &.sombre{background-color:@colorBgGrisF;color:@colorBlanc;
    h3, p, .bt{color:@colorBlanc !important;}
  }
  hr{height:0;border:5px solid #fff;margin:15px 0;}
}
.element{position:relative;margin:0;padding:20px 0;
  .fb-like{width:109px;height:20px;margin:10px 15px 0 5px;}
  .view{margin:0 15px 10px 5px;}
  .details{font-size:13px;color:@colorGris1;margin-bottom:70px;
    .title, .region, .condition, .stain{display:block;}
    .title{font-weight:bold;}
    .period{font-style:italic;}
    .condition{
      .price{color:@colorOrange;font-weight:bold;}
    }
    .counter{width:48px;height:48px;background:url("../../images/vacancesdirectes/common/ui/stain.png") no-repeat 0 -391px transparent;font-family:@ptnarrow;color:@colorOrange;font-size:18px;font-weight:bold;text-transform:uppercase;position:absolute;top:0;right:-8px;text-align:center;._verticalCenter(48px);}

  }
  .stain{width:90px;._verticalCenter(70px,12px);background-image:url("../../images/vacancesdirectes/common/ui/stain.png");background-repeat:no-repeat;text-align:center;font-size:10px;color:@colorBlanc;left:130px;bottom:20px;position:absolute;
    &>span{margin-top:5px;}
    .price{font-size:27px;font-weight:bold;display:block;margin:8px 0 -8px;letter-spacing:normal;}
  }
  &.promo{
    .details{margin-bottom:90px;}
    .stain{background-position:0 -90px;._verticalCenter(70px,10px);font-size:9px;
      &>span{margin-top:10px;position:relative;z-index:2;}
      .line-through{text-decoration:line-through;}
      .discount{font-size:14px;font-weight:bold;width:68px;._verticalCenter(61px);background:url("../../images/vacancesdirectes/common/ui/stain.png") no-repeat 0 -262px transparent;margin:0;position:absolute;top:-20px;left:-30px;z-index:1;}
    }
  }
  &.noprice{
    .details{margin:0;}
  }
}

.fine{font-size: 50%;}
.multiple-background-false .cover{
  min-height: 100%;
  min-width: 100%;
}
.multiple-background-true .cover{
  background-size: cover;
}


