/* Project: NOMPROJET - Date: 20120806 - Author: C2iS.fr > TRI */
/* Project: NOMPROJET - Date: 20120806 - Author: C2iS.fr > TRI */
/*Variables*/
/* Gris 0 */
/* Gris 1 */
/* Gris 2 */
/* Gris 3 */
/* Gris 1 */
/* bg gris sombre */
/* bg gris moyen sombre */
/* bg gris moyen clair */
/* bg gris clair */
/* bg blanc */
/* bg bleu */
/* border gris */
/* Centrer verticalement dans un conteneur de hauteur fixe */
/*
 * ##################################################
 *                   GLOBAL RESET
 * ##################################################
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*HTML5 RESET*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
/*GLOBAL STYLING*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* *behavior: url(../js/libs/boxsizing.htc);*/
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #5f5f5f;
}
/*::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }*/
/*LINKS*/
a {
  color: #464545;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
/*DEFAULT ELM*/
b,
strong {
  font-weight: bold;
}
em {
  font-style: normal;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
/*FORMS*/
legend {
  border: 0;
  *margin-left: -7px;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
table button,
table input {
  *overflow: auto;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
/*PLACEHOLDER*/
::-webkit-input-placeholder {
  color: #5f5f5f;
}
*:-moz-placeholder {
  color: #5f5f5f;
}
*:-ms-placeholder {
  color: #5f5f5f;
}
*.placeholder {
  color: #5f5f5f;
}
/* :focus - lighten() for dark bg & light text || darken() for light bg & dark text */
*:focus::-webkit-input-placeholder {
  color: #dfdfdf;
  -webkit-transition: all .5s ease;
}
*:focus:-moz-placeholder {
  color: #dfdfdf;
  transition: all .5s ease;
}
*:focus:-ms-placeholder {
  color: #dfdfdf;
  transition: all .5s ease;
}
/* MICRO CLEARFIX : http://nicolasgallagher.com/micro-clearfix-hack/ */
.clear:before,
.clear:after,
.bloc:before,
.bloc:after {
  content: "";
  display: table;
}
.clear:after,
.bloc:after {
  clear: both;
}
.clear,
.bloc {
  zoom: 1;
}
/* + clearboth */
.clearboth {
  clear: both;
}
/* LINK PARENT */
.linkParent {
  cursor: pointer;
}
/*PRINT*/
@media print {
  * {
    position: static !important;
    float: none !important;
    background: transparent !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .noprint {
    display: none;
  }
}
/*
 * ##################################################
 *                      LAYOUT
 * ##################################################
 */
body {
  background: #f5f5f5 url("../../images/vacancesdirectes/common/pict/bg.jpg") no-repeat 0 0;
  background-size: 100% auto;
  color: #464545;
  font: 12px Arial, Helvetica, sans-serif;
  min-width: 1000px;
}
body.popin {
  /*background:#fff;*/
  background-attachment: fixed;
  min-width: 0;
}
header,
section,
footer {
  position: relative;
}
.full-width {
  position: relative;
  min-width: 100%;
  float: left;
  z-index: 0;
}
.fixed-width {
  position: relative;
  width: 976px;
  margin: 0 auto;
}
/* header */
#header {
  width: 928px;
  margin: 0 auto;
  font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  z-index: 0;
}
#header #logo {
  display: block;
  float: left;
  margin-bottom: 25px;
}
#header #catchline {
  color: #ffffff;
  font: bold 24px/24px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 75px 30px 15px;
  float: left;
  width: 300px;
}
#header #catchline span {
  text-align: left;
}
#header #headerRight {
  float: right;
}
#header #telephone {
  width: 256px;
  height: 60px;
  background: url("../../images/vacancesdirectes/common/ui/phone-bg.png") no-repeat 0px 0px transparent;
  float: right;
  padding: 5px 0px 15px 10px;
  margin: 15px 0 0 15px;
}
#header #telephone span {
  font-size: 18px;
  line-height: 19px;
  color: #464545;
}
#header #telephone span:before {
  content: "";
  width: 40px;
  height: 29px;
  background: transparent url("../../images/vacancesdirectes/common/ui/phone-icon-header.png") no-repeat 0px 0px;
  float: left;
  margin: 5px;
}
#header #telephone span a {
  font-weight: bold;
  color: #464545;
  text-decoration: none;
  display: block;
}
#header #account {
  float: right;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #ed145b;
  border-radius: 10px;
  padding: 7px 12px;
  color: #fff;
  text-decoration: none;
  margin: 10px 0 15px 15px;
}
/* specifs home */
.home #telephone {
  clear: both;
}
/* nav */
#nav {
  font: bold 23px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  position: relative;
  background: #464545;
  margin-top: 20px;
  height: 50px;
  z-index: 30;
}
#nav .topnav {
  top: -7px;
}
#nav .tab {
  position: static;
  color: #fff;
  float: left;
  padding: 0;
  cursor: pointer;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  z-index: 50;
  margin-left: 2px;
}
#nav .tab:first-child:after {
  width: 0;
  margin-left: 0;
}
#nav .tab:after {
  content: "";
  width: 2px;
  height: 17px;
  background-color: #8c8a8a;
  float: left;
  margin: -32px 0 0 -2px;
}
#nav .tab:hover,
#nav .tab.current {
  background: #ed145b;
}
#nav .tab:hover small,
#nav .tab.current small {
  color: #fff;
}
#nav .tab:hover > a:after,
#nav .tab.current > a:after {
  content: url('../../images/vacancesdirectes/common/pict/Triangle-Tab.png');
  position: absolute;
  top: 24px;
  left: 50%;
  margin-left: -12px;
  height: 8px;
  width: 22px;
  z-index: 50;
}
#nav .tab:hover .subnav {
  display: block;
}
#nav .tab > a {
  position: relative;
  display: block;
  padding: 0 10px;
  margin-top: 7px;
  color: #ffffff;
  text-decoration: none;
  height: 50px;
  /* Centrer verticalement une ligne de texte */

  line-height: 50px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

}
#nav .tab > a > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#nav .tab > a > img {
  vertical-align: middle;
}
#nav .tab > a#home img {
  width: 27px;
  height: 27px;
  margin-top: -7px;
}
#nav .tab > a small {
  font: bold 15px Arial, Helvetica, sans-serif, sans-serif;
  color: #ed145b;
}
/* lang */
#lang {
  width: 41px;
  height: 27px;
  background: url('../../images/vacancesdirectes/dyn/ui/lang-flag-fr.png') no-repeat 0px 0px;
  border-width: 4px 6px;
  border-style: solid;
  border-color: #a7a9ac;
  position: relative;
  display: inline-block;
  text-indent: -9999px;
  float: right;
  margin-top: 19px;
}
#lang:after {
  width: 12px;
  height: 4px;
  content: "";
  background: url('../../images/vacancesdirectes/common/ui/lang-arrow.png') no-repeat 0px 0px;
  position: absolute;
  left: 50%;
  bottom: -8px;
  margin-left: -6px;
}
.ie-lte7 #lang {
  display: inline;
}
/* generic */
.left {
  float: left;
}
.right {
  float: right;
}
.h1-like,
.h2-like,
.h3-like,
.h4-like,
.h5-like,
.h6-like {
  display: block;
}
h1,
.h1-like {
  dismargin: 20px 0 0;
  color: #ed145b;
  font: bold 30px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
h2,
.h2-like {
  color: #464545;
  font: bold 20px Arial, Helvetica, sans-serif;
  line-height: 22px;
}
h3,
.h3-like {
  color: #5f5f5f;
  font: bold 25px/24px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 20px 0 5px;
}
h4,
.h4-like {
  color: #ed145b;
  font: bold 19px/18px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}
h5,
.h5-like {
  color: #5f5f5f;
  font: bold 16px/15px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}
h6,
.h6-like {
  color: #ed145b;
}
.bt {
  display: block;
  border: 0;
  text-transform: uppercase;
  text-decoration: none;
  font: bold 14px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  padding: 3px 10px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.bt.gris {
  background-color: #e6e5e5;
  color: #ed145b;
}
.bt.gris2 {
  background-color: #e6e5e5;
  color: #464545;
}
.bt.grisC {
  background-color: #8c8a8a;
  color: #ffffff;
}
.bt.sombre {
  background-color: #464545;
  color: #ffffff;
}
.bt.fushia {
  background-color: #ed145b;
  color: #ffffff;
}
.bt.orange {
  background-color: #f58220;
  color: #ffffff;
}
.bt.trans {
  background: transparent;
  padding: 0;
}
.bt.link {
  background: transparent;
  padding: 0;
  text-decoration: underline !important;
  border-radius: 0;
}
.bt.cfushia {
  color: #ed145b;
}
.bt.big {
  padding: 5px 10px;
}
.bt.small {
  padding: 1px 10px;
  font-size: 12px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.bt.full {
  clear: both;
  width: 100%;
  text-align: center;
  font-size: 26px;
  margin: 15px 0;
}
.bt.ib {
  display: inline-block;
}
.boxborder {
  margin: 0 25px 25px 5px;
  border: 5px solid #fff;
  -webkit-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.22);
  box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.22);
}
.boxborder.large {
  border: 15px solid #ffffff;
}
.pathway {
  font: 11px/28px Arial, Helvetica, sans-serif, sans-serif;
  color: #8c8a8a;
  text-align: right;
}
.pathway li {
  display: inline;
}
.pathway li:last-child a {
  color: #ed145b;
}
.pathway a {
  text-decoration: none;
  color: inherit;
}
.pathway a:hover {
  text-decoration: underline;
}
.stamp {
  position: relative;
  text-align: center;
}
.stamp.blue {
  background-color: #009ab0;
}
.stamp.grey {
  background-color: #8c8a8a;
}
.stamp.fushia {
  background-color: #ed145b;
}
.stamp.orange {
  background-color: #f58220;
}
.stamp:before {
  content: url('../../images/vacancesdirectes/common/ui/stamp-left-blanc.png');
  width: 12px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
}
.stamp:after {
  content: url('../../images/vacancesdirectes/common/ui/stamp-right-blanc.png');
  width: 12px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
}
.stamp h2 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
.radiusBox {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 15px 0;
  position: relative;
}
.radiusBox.bgImg {
  overflow: hidden;
}
.radiusBox.greyC {
  background-color: #e6e5e5;
}
.radiusBox.greyF {
  background-color: #464545;
}
.radiusBox.greyF.arrowLeft:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(140, 138, 138, 0);
  border-right-color: #464545;
  border-width: 18px;
  margin-top: -18px;
  margin-left: -18px;
}
.radiusBox.fushia {
  background-color: #ed145b;
}
.radiusBox.fushia.arrowLeft:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(140, 138, 138, 0);
  border-right-color: #ed145b;
  border-width: 18px;
  margin-top: -18px;
  margin-left: -18px;
}
.radiusBox.fushia.arrowBottom:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(140, 138, 138, 0);
  border-top-color: #ed145b;
  border-width: 18px;
  margin-left: -18px;
  margin-bottom: -18px;
}
.radiusBox.yellow {
  background-color: #ffd503;
}
.radiusBox.yellow.arrowLeft:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(140, 138, 138, 0);
  border-right-color: #ffd503;
  border-width: 15px;
  margin-top: -15px;
  margin-left: -15px;
}
.radiusBox.yellow.arrowRight:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(140, 138, 138, 0);
  border-left-color: #ffd503;
  border-width: 15px;
  margin-top: -15px;
  margin-right: -15px;
}
.radiusBox .stamp {
  color: #ffffff;
  height: 38px;
  /* Centrer verticalement une ligne de texte */

  line-height: 38px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

  padding: 0 20px;
  display: block;
}
.radiusBox .stamp > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
.radiusBox .stamp > img {
  vertical-align: middle;
}
.radiusBox .stamp:before {
  content: url('../../images/vacancesdirectes/common/ui/stamp-left.png');
}
.radiusBox .stamp:after {
  content: url('../../images/vacancesdirectes/common/ui/stamp-right.png');
}
.radiusBox .stamp > h2 {
  text-transform: uppercase;
  font: bold 22px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
}
.radiusBox .stamp.no {
  background: none;
  padding: 0;
  height: 38px;
  /* Centrer verticalement une ligne de texte */

  line-height: 38px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

}
.radiusBox .stamp.no > * {
  vertical-align: middle;
  display: inline-block;
  line-height: 22px;
}
.radiusBox .stamp.no > img {
  vertical-align: middle;
}
.radiusBox .stamp.no > h2 {
  color: #5f5f5f;
}
.radiusBox > h2 {
  color: #5f5f5f;
}
.radiusBox > h2 span {
  color: #009ab0;
}
.radiusBox2 {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 15px 0;
  position: relative;
}
.radiusBox2.bgImg {
  overflow: hidden;
}
.radiusBox2.greyC {
  background-color: #ffffff;
  border: 5px solid #e6e5e5;
}
.radiusBox2.greyF {
  background-color: #ffffff;
  border: 5px solid #464545;
}
.radiusBox2.fushia {
  background-color: #ffffff;
  border: 5px solid #ed145b;
}
.radiusBox2 .stamp {
  color: #ffffff;
  background: url('../../images/vacancesdirectes/common/ui/stamp-half.png') no-repeat top right transparent;
  height: 38px;
  /* Centrer verticalement une ligne de texte */

  line-height: 38px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

  padding: 0 30px;
  margin-top: 10px;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.radiusBox2 .stamp > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
.radiusBox2 .stamp > img {
  vertical-align: middle;
}
.radiusBox2 .stamp:before {
  content: "";
}
.radiusBox2 .stamp:after {
  content: "";
}
.radiusBox2 .stamp span {
  margin-left: -6px;
}
/*.stain{width:90px;._verticalCenter(70px,22px);background-image:url("../../images/vacancesdirectes/common/ui/stain.png");background-repeat:no-repeat;text-align:center;font-size:10px;color:@colorBlanc;margin-left:-10px;position:relative;
  &>span{margin-top:10px;}
  .price{font-size:27px;font-weight:bold;}
}
.ie-lte8 .stain{width:70px;min-width:70px !important;}*/
.tooltip {
  outline: none;
  position: relative;
}
.tooltip strong {
  line-height: 30px;
}
.tooltip:hover {
  text-decoration: none;
}
.tooltip span {
  font: bold 12px/35px Arial, Helvetica, sans-serif;
  background: #8c8a8a;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  z-index: 10;
  display: none;
  margin: 0;
  width: 140px;
  line-height: 16px;
  right: -10px;
  bottom: -41px;
  white-space: nowrap;
}
.tooltip span:after {
  bottom: 100%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(140, 138, 138, 0);
  border-bottom-color: #8c8a8a;
  border-width: 5px;
  right: 19px;
  margin-left: -5px;
}
.tooltip:hover span {
  display: inline;
  position: absolute;
}
.callout {
  z-index: 20;
  position: absolute;
  top: 30px;
  border: 0;
  left: 50%;
}
/*CSS3 extras*/
.tooltip span {
  -webkit-box-shadow: 0 10px 10px -12px #464545;
  box-shadow: 0 10px 10px -12px #464545;
}
label,
input[type="radio"] {
  vertical-align: middle;
}
input[type="radio"] + label {
  display: inline-block;
  margin: 3px 5px 0 0;
}
input[type="radio"] {
  height: auto;
}
/* structure */
#wrap {
  padding: 15px 0;
  clear: both;
  background: #ffffff;
  min-height: 200px;
  position: relative;
  z-index: 20;
}
.popin #wrap {
  width: 646px;
  padding: 0 15px;
  margin: 0 auto;
}
.column {
  width: 928px;
  margin: 0 24px;
  position: relative;
}
.column.left {
  width: 616px;
  margin: 0 0 0 24px;
}
.column.right {
  width: 288px;
  margin: 0 24px 0 0;
}
.column .ratio-33 {
  width: 300px;
  margin-right: 16px;
}
.column .ratio-33.clear {
  margin-right: 0;
}
.stylish-select .selectedTxt {
  padding-right: 27px;
}
.fine {
  font-size: 50%;
}
/*.multiple-background-false .cover{
  min-height: 100%;
  min-width: 100%;
}*/
.multiple-background-true .cover {
  background-size: cover;
}
/* LOADING */
#frameResalys {
  margin: 0;
  width: 100%;
  background: url(../../images/vacancesdirectes/common/ui/loadingResalys.gif) no-repeat 50% 35px;
}
/*
 * ##################################################
 *                      BOOKING
 * ##################################################
 */
.booking {
  /* STEPS */

  /* COMMON */

}
.booking #stepNav {
  width: 976px;
  height: 50px;
  font: bold 23px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  position: relative;
  background: #464545;
  margin: 20px 0 20px -24px;
  z-index: 30;
}
.booking #stepNav ul {
  width: 976px;
  margin: 0 auto;
  text-align: center;
}
.booking #stepNav ul li.tab {
  margin: 0 12px;
  float: none;
  display: inline-block;
  position: static;
  color: #ffffff;
  padding: 0;
}
.booking #stepNav ul li.tab.current {
  background: #ed145b;
}
.booking #stepNav ul li.tab span {
  position: relative;
  display: block;
  padding: 0 15px;
  color: #ffffff;
  text-decoration: none;
  height: 50px;
  /* Centrer verticalement une ligne de texte */

  line-height: 50px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

  float: left;
}
.booking #stepNav ul li.tab span > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
.booking #stepNav ul li.tab span > img {
  vertical-align: middle;
}
.booking #stepNav ul li.tab.current span {
  text-decoration: none;
}
.booking #stepNav ul li.tab.current > span:after {
  content: url("../../images/vacancesdirectes/common/pict/Triangle-Tab.png");
  height: 8px;
  left: 50%;
  margin-left: -12px;
  position: absolute;
  top: 50px;
  width: 22px;
  z-index: 50;
}
.booking #stepNav ul li.tab.completed span:before {
  content: "";
  background: url("../../images/vacancesdirectes/common/sprites/sprite-40.png") no-repeat 0 -165px transparent;
  width: 40px;
  height: 50px;
  float: left;
  margin-right: 10px;
}
.booking #nav ul {
  top: 0px;
}
.booking #nav ul li.tab {
  height: 50px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.booking #nav ul li.tab a {
  margin: 0;
}
.booking #nav ul li.tab a span {
  vertical-align: baseline;
}
.booking #nav ul li.tab:hover > a#home:after {
  content: '';
}
.booking #nav ul span {
  margin-left: 5px;
}
.booking h1 {
  margin: 10px 0 20px;
}
.booking h1 span {
  color: #464545;
}
.booking iframe {
  width: 100%;
  min-height: 500px;
}
.booking #basketContainer,
.booking #confirmContainer,
.booking #discoverContainer {
  margin: 0;
  width: 100%;
  background: url(../../images/vacancesdirectes/common/ui/loadingResalys.gif) no-repeat 50% 35px;
}
.booking #discoverContainer {
  margin: 0;
  width: 100%;
  background: url(../../images/vacancesdirectes/common/ui/loadingResalys.gif) no-repeat 50% 35px;
}
.booking #userBox {
  float: right;
}
.booking #userBox span {
  font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-bottom: 3px;
}
.booking .error {
  margin-bottom: 10px;
  font: 12px Arial, Helvetica, sans-serif;
  color: #f58220;
}
.booking .error li:before {
  content: "-";
  padding-right: 3px;
}
/*
 * ##################################################
 *                      COULOIR
 * ##################################################
 */
.stain {
  width: 131px;
  height: 55px;
  /* Centrer verticalement une ligne de texte */

  line-height: 55px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

  background: url("../../images/vacancesdirectes/common/ui/stain.png") no-repeat 0 -439px transparent;
  text-align: center;
  font-size: 10px;
  color: #ffffff;
  left: 130px;
  bottom: 0px;
  position: absolute;
}
.stain > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
.stain > img {
  vertical-align: middle;
}
.stain > span {
  margin-top: 15px;
}
.stain .price {
  font-size: 27px;
  font-weight: bold;
  display: block;
  margin: 8px 0 -8px;
  letter-spacing: normal;
}
input,
textarea {
  font: bold 12px Arial, Helvetica, sans-serif;
  color: #8c8a8a;
}
input[type="text"],
input[type="password"] {
  background-color: #ffffff;
  width: 216px;
  height: 27px;
  /* Centrer verticalement une ligne de texte */

  line-height: 27px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

  padding: 0 7px;
  border: 0 none;
}
input[type="text"] > *,
input[type="password"] > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
input[type="text"] > img,
input[type="password"] > img {
  vertical-align: middle;
}
textarea {
  background-color: #ffffff;
  width: 216px;
  height: 81px;
  padding: 0 7px;
  border: 0 none;
}
.label {
  font: bold 15px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  color: #8c8a8a;
  text-transform: uppercase;
  display: inline-block;
}
h4 {
  font-size: 15px;
  line-height: 17px;
}
#customerAreaContener .paiement h2,
#customerAreaContener .paiementDone h2 {
  color: #8c8a8a;
  text-transform: uppercase;
  font: bold 22px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  height: 40px;
  /* Centrer verticalement une ligne de texte */

  line-height: 40px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

}
#customerAreaContener .paiement h2 > *,
#customerAreaContener .paiementDone h2 > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#customerAreaContener .paiement h2 > img,
#customerAreaContener .paiementDone h2 > img {
  vertical-align: middle;
}
#customerAreaContener .paiement .aField,
#customerAreaContener .paiementDone .aField {
  margin-bottom: 10px;
  height: 27px;
  /* Centrer verticalement une ligne de texte */

  line-height: 27px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

}
#customerAreaContener .paiement .aField > *,
#customerAreaContener .paiementDone .aField > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#customerAreaContener .paiement .aField > img,
#customerAreaContener .paiementDone .aField > img {
  vertical-align: middle;
}
#customerAreaContener .paiement .aField .label,
#customerAreaContener .paiementDone .aField .label {
  font: inherit;
  color: inherit;
  text-transform: inherit;
  min-width: 165px;
  margin-right: 5px;
  float: left;
  font-weight: bold;
}
#customerAreaContener .paiement .aField .field,
#customerAreaContener .paiementDone .aField .field {
  float: left;
}
#customerAreaContener .paiement .aField .field span,
#customerAreaContener .paiementDone .aField .field span {
  float: left;
  margin-right: 10px;
}
#customerAreaContener .paiement .aField:nth-of-type(1),
#customerAreaContener .paiementDone .aField:nth-of-type(1) {
  height: 33px;
  /* Centrer verticalement une ligne de texte */

  line-height: 33px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

}
#customerAreaContener .paiement .aField:nth-of-type(1) > *,
#customerAreaContener .paiementDone .aField:nth-of-type(1) > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#customerAreaContener .paiement .aField:nth-of-type(1) > img,
#customerAreaContener .paiementDone .aField:nth-of-type(1) > img {
  vertical-align: middle;
}
#customerAreaContener .paiement input[type="text"],
#customerAreaContener .paiementDone input[type="text"] {
  width: 241px;
}
.proposal {
  font: normal 14px/17px Arial, Helvetica, sans-serif;
  padding-bottom: 60px;
  text-align: center;
  color: #ffffff;
}
.proposal.arrowLeft:after {
  top: 144px;
}
.proposal .proposalDates {
  font: bold 18px/21px Arial, Helvetica, sans-serif;
}
.proposal .proposalPicture {
  margin: 10px 0 8px;
  border: 5px solid #fff;
  -webkit-box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.22);
  box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.22);
}
.proposal .total span {
  font: bold 16px/17px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
}
.proposal .total span .price {
  font: bold 19px/18px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  margin: 0;
}
.proposal table {
  border-top: 7px solid #ffffff;
  display: block;
  margin: 10px 0;
  padding-top: 10px;
  text-align: left;
}
#greyBoxes #needHelpBloc {
  width: 288px;
  height: 246px;
  color: #ffffff;
  background-image: url("../../images/vacancesdirectes/common/pict/help-bloc.jpg");
  background-repeat: no-repeat;
}
#greyBoxes #needHelpBloc .stamp {
  margin-bottom: 10px;
}
#greyBoxes #needHelpBloc h2 {
  margin-left: 0;
  position: relative;
}
#greyBoxes #needHelpBloc h2:before {
  content: "";
  background: none;
}
#greyBoxes #needHelpBloc .content {
  width: 113px;
  margin-left: 65px;
  color: #464545;
  font: bold 15px/17px Arial, Helvetica, sans-serif;
  position: absolute;
  top: 70px;
  left: 100px;
}
#greyBoxes #needHelpBloc span {
  font: bold 14px/16px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: 160px;
  position: absolute;
  top: 178px;
  left: 130px;
}
#greyBoxes #needHelpBloc span a {
  font: bold 22px/25px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  display: block;
}
/* Stylish Select 0.4.9 */
#authentication #newCustomerLayer .SSContainerDivWrapper {
  min-width: 141px;
}
#authentication #newCustomerLayer ul.newList a {
  height: 27px;
  /* Centrer verticalement une ligne de texte */

  line-height: 27px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

}
#authentication #newCustomerLayer ul.newList a > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#authentication #newCustomerLayer ul.newList a > img {
  vertical-align: middle;
}
#authentication #newCustomerLayer .newListSelected {
  width: 141px;
  height: 27px;
  /* Centrer verticalement une ligne de texte */

  line-height: 27px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

  margin-right: 0px;
}
#authentication #newCustomerLayer .newListSelected > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#authentication #newCustomerLayer .newListSelected > img {
  vertical-align: middle;
}
#authentication #newCustomerLayer .newListSelected .selectedTxt {
  width: 107px;
  height: 27px;
  /* Centrer verticalement une ligne de texte */

  line-height: 27px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

  padding: 0 27px 0 7px;
}
#authentication #newCustomerLayer .newListSelected .selectedTxt > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#authentication #newCustomerLayer .newListSelected .selectedTxt > img {
  vertical-align: middle;
}
#authentication #newCustomerLayer .newListSelected .selectedTxt:after {
  width: 27px;
  height: 27px;
  background: url("../../images/vacancesdirectes/common/sprites/sprite-27.png") no-repeat scroll 0 -108px transparent;
}
#reservation .aRoom .SSContainerDivWrapper {
  min-width: 54px;
}
#reservation .aRoom ul.newList a {
  height: 27px;
  /* Centrer verticalement une ligne de texte */

  line-height: 27px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

}
#reservation .aRoom ul.newList a > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#reservation .aRoom ul.newList a > img {
  vertical-align: middle;
}
#reservation .aRoom .newListSelected {
  width: 54px;
  height: 27px;
  /* Centrer verticalement une ligne de texte */

  line-height: 27px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

  margin-right: 10px;
}
#reservation .aRoom .newListSelected > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#reservation .aRoom .newListSelected > img {
  vertical-align: middle;
}
#reservation .aRoom .newListSelected .selectedTxt {
  width: 20px;
  height: 27px;
  /* Centrer verticalement une ligne de texte */

  line-height: 27px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

  padding: 0 27px 0 7px;
}
#reservation .aRoom .newListSelected .selectedTxt > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#reservation .aRoom .newListSelected .selectedTxt > img {
  vertical-align: middle;
}
#reservation .aRoom .newListSelected .selectedTxt:after {
  width: 27px;
  height: 27px;
  background: url("../../images/vacancesdirectes/common/sprites/sprite-27.png") no-repeat scroll 0 -135px transparent;
}
#reservation #financialContener .SSContainerDivWrapper {
  min-width: 216px;
}
#reservation #financialContener ul.newList a {
  height: 27px;
  /* Centrer verticalement une ligne de texte */

  line-height: 27px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

}
#reservation #financialContener ul.newList a > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#reservation #financialContener ul.newList a > img {
  vertical-align: middle;
}
#reservation #financialContener .newListSelected {
  width: 216px;
  height: 27px;
  /* Centrer verticalement une ligne de texte */

  line-height: 27px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

  margin-right: 0px;
}
#reservation #financialContener .newListSelected > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#reservation #financialContener .newListSelected > img {
  vertical-align: middle;
}
#reservation #financialContener .newListSelected .selectedTxt {
  width: 182px;
  height: 27px;
  /* Centrer verticalement une ligne de texte */

  line-height: 27px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

  padding: 0 27px 0 7px;
}
#reservation #financialContener .newListSelected .selectedTxt > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#reservation #financialContener .newListSelected .selectedTxt > img {
  vertical-align: middle;
}
#reservation #financialContener .newListSelected .selectedTxt:after {
  width: 27px;
  height: 27px;
  background: url("../../images/vacancesdirectes/common/sprites/sprite-27.png") no-repeat scroll 0 -108px transparent;
}
#customerAreaContener .SSContainerDivWrapper {
  min-width: 64px;
}
#customerAreaContener ul.newList a {
  height: 27px;
  /* Centrer verticalement une ligne de texte */

  line-height: 27px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

}
#customerAreaContener ul.newList a > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#customerAreaContener ul.newList a > img {
  vertical-align: middle;
}
#customerAreaContener .newListSelected {
  width: 64px;
  height: 27px;
  /* Centrer verticalement une ligne de texte */

  line-height: 27px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

  margin-right: 10px;
}
#customerAreaContener .newListSelected > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#customerAreaContener .newListSelected > img {
  vertical-align: middle;
}
#customerAreaContener .newListSelected .selectedTxt {
  width: 30px;
  height: 27px;
  /* Centrer verticalement une ligne de texte */

  line-height: 27px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

  padding: 0 27px 0 7px;
}
#customerAreaContener .newListSelected .selectedTxt > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#customerAreaContener .newListSelected .selectedTxt > img {
  vertical-align: middle;
}
#customerAreaContener .newListSelected .selectedTxt:after {
  width: 27px;
  height: 27px;
  background: url("../../images/vacancesdirectes/common/sprites/sprite-27.png") no-repeat scroll 0 -135px transparent;
}
#option .SSContainerDivWrapper {
  min-width: 141px;
}
#option ul.newList a {
  height: 27px;
  /* Centrer verticalement une ligne de texte */

  line-height: 27px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

}
#option ul.newList a > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#option ul.newList a > img {
  vertical-align: middle;
}
#option .newListSelected {
  width: 141px;
  height: 27px;
  /* Centrer verticalement une ligne de texte */

  line-height: 27px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

  margin-right: 0px;
}
#option .newListSelected > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#option .newListSelected > img {
  vertical-align: middle;
}
#option .newListSelected .selectedTxt {
  width: 107px;
  height: 27px;
  /* Centrer verticalement une ligne de texte */

  line-height: 27px;
  /* Centrer verticalement plusieurs lignes de texte */

  /* Centrer verticalement une image de taille variable */

  padding: 0 27px 0 7px;
}
#option .newListSelected .selectedTxt > * {
  vertical-align: middle;
  display: inline-block;
  line-height: auto;
}
#option .newListSelected .selectedTxt > img {
  vertical-align: middle;
}
#option .newListSelected .selectedTxt:after {
  width: 27px;
  height: 27px;
  background: url("../../images/vacancesdirectes/common/sprites/sprite-27.png") no-repeat scroll 0 -108px transparent;
}
#please_wait_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../images/vacancesdirectes/common/ui/loadingResalys.gif) no-repeat fixed 50% 35px #ffffff;
  text-align: center;
  font: normal 15px Arial, Helvetica, sans-serif;
  padding: 100px 20px;
  opacity: 0.8;
}
#footerContener {
  overflow: hidden;
  margin-top: 20px;
  clear: both;
}
#footerContener .mentions,
#footerContener .footerNavigation {
  display: none;
}
#footerContener .mentions.gauche,
#footerContener .footerNavigation.gauche,
#footerContener .mentions.droite,
#footerContener .footerNavigation.droite,
#footerContener .mentions.pageListe,
#footerContener .footerNavigation.pageListe {
  display: block;
}
#footerContener .mentions.gauche,
#footerContener .footerNavigation.gauche {
  float: left;
}
#footerContener .mentions.droite,
#footerContener .footerNavigation.droite {
  float: right;
  margin-top: -14px;
}
#footerContener .footerNavigation.gauche a,
#footerContener .footerNavigation.droite a {
  display: block;
  border: 0;
  text-transform: uppercase;
  text-decoration: none;
  font: bold 14px/22px 'PT Sans Narrow', Arial, Helvetica, sans-serif;
  padding: 3px 16px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  color: #ffffff;
  background-image: url('../../images/vacancesdirectes/common/ui/lrArrowResalys.png');
  background-repeat: no-repeat;
}
#footerContener .footerNavigation.gauche a {
  background-position: 5px 0;
  padding-left: 25px;
  background-color: #464545;
}
#footerContener .footerNavigation.droite a {
  background-image: none;
  background-color: #ed145b;
}
#footerContener .footerNavigation.pageListe {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  float: right;
}
#footerContener .footerNavigation.pageListe a,
#footerContener .footerNavigation.pageListe b {
  float: left;
  padding: 0 10px;
  line-height: 24px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}
#footerContener .footerNavigation.pageListe a:hover,
#footerContener .footerNavigation.pageListe b:hover {
  background-color: #f5f5f5;
}
#footerContener .footerNavigation.pageListe a:first-child,
#footerContener .footerNavigation.pageListe b:first-child {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
#footerContener .footerNavigation.pageListe a:last-child,
#footerContener .footerNavigation.pageListe b:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
#footerContener .footerNavigation.pageListe b {
  background-color: #f5f5f5;
}
#footerContener .mentions {
  clear: both;
  padding-bottom: 15px;
  text-align: center;
}
#footerContener .mentions a {
  color: #005ea6;
}
/*
* Vacances directes select style
---------------------------------------------------------*/
.stylish-select .SSContainerDivWrapper {
  left: -9999px;
}
.SSContainerDivWrapper {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 22px;
  left: 0;
  z-index: 100;
}
ul.newList {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #464545;
  background: #fff;
  border: 1px solid #ccc;
  overflow: auto;
}
ul.newList * {
  margin: 0;
  padding: 0;
}
ul.newList a {
  color: #464545;
  text-decoration: none;
  display: block;
  padding: 0 8px;
  white-space: nowrap;
  cursor: pointer;
}
.newListSelected {
  float: left;
  background-color: #e6e5e5;
  position: relative;
}
.newListSelected .selectedTxt:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
.newListSelected * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
}
ul.newList li a:focus {
  -moz-outline-style: none;
}
.selectedTxt {
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 0;
  background-color: #ffffff;
}
ul.newList li:first-child {
  display: none;
}
ul.newList.optGroup li a {
  padding: 0 8px 0 18px;
}
ul.newList.optGroup li.optGroup-like a {
  padding: 0 8px;
  font-weight: bold;
}
.hiLite {
  background: #ED145B!important;
  color: #fff!important;
}
.newListHover {
  background-color: #ccc!important;
  color: #464545 !important;
  cursor: default;
}
.newListDisabled {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.newListItemDisabled {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.newListOptionDisabled {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.newListSelHover,
.newListSelFocus {
  cursor: default;
}
.newListOptionTitle {
  font-weight: bold;
}
.newListOptionTitle ul {
  margin: 3px 0 0;
}
.newListOptionTitle li {
  font-weight: normal;
}
.newListSelected {
  font: bold 12px/27px Arial, Helvetica, sans-serif;
  color: #464545;
  color: #8c8a8a;
}
.newListSelected .SSContainerDivWrapper .newListHover {
  background-color: #ccc!important;
  color: #464545 !important;
}
.newListSelected .SSContainerDivWrapper ul.newList li a {
  background-color: #ffffff;
  color: #8c8a8a;
}
.newListSelected .SSContainerDivWrapper ul.newList.optGroup li.optGroup-like a {
  background-color: #8c8a8a;
  color: #ffffff;
}
.newListSelected .SSContainerDivWrapper ul.newList li a.newListHover {
  background-color: #e6e5e5 !important;
  color: #464545 !important;
}
.newListSelected .SSContainerDivWrapper ul.newList.optGroup li.optGroup-like a.newListHover {
  background-color: #464545 !important;
  color: #ffffff !important;
}
