/*PLUGINS*/
/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#464545;}
#colorbox,
#colorbox * {
  -webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing: content-box;
}
#cboxContent{margin-top:32px; overflow:visible;}
.cboxIframe{background:@colorBlanc;}
#cboxError{padding:50px; }
#cboxLoadedContent{border:4px solid @colorBgGrisM;}
#cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
#cboxLoadingOverlay{background:#000;}
#cboxTitle{position:absolute; top:-22px; left:0; color:@colorBlanc; font-size:15px; font-weight:bold;}
#cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
#cboxSlideshow, #cboxPrevious, #cboxNext/*, #cboxClose*/{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(../../images/vacancesdirectes/common/ui/controls.png) no-repeat 0 0;}
#cboxPrevious{background-position:0px 0px; right:44px;}
#cboxPrevious:hover{background-position:0px -25px;}
#cboxNext{background-position:-25px 0px; right:22px;}
#cboxNext:hover{background-position:-25px -25px;}
#cboxClose{/*background-position:-50px 0px; */position:absolute;top:-30px;right:0;color:@colorBlanc;font-weight:bold;font-size:30px;}
#cboxClose:hover{/*background-position:-50px -25px;*/}
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
.cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
.cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
.cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}

/**
* Stylish Select 0.4.9 - $ plugin to replace a select drop down box with a stylable unordered list
* http://github.com/scottdarby/Stylish-Select/
*
* Copyright (c) 2009 Scott Darby
*
* Requires: jQuery 1.3 or newer
*
* Dual licensed under the MIT and GPL licenses.
*/

/**
* Hide lists on page load
---------------------------------------------------------*/
@selectWidth: 125px;
@selectTextWidth: 94px;
@selectHeight: 23px;
@selectTextHeight: 20px;

.stylish-select .SSContainerDivWrapper {
  left:-9999px;
}

/*
* Vacances directes select style
---------------------------------------------------------*/

// Stylish Select
.stylish-select{
  .SSContainerDivWrapper {margin:0;padding:0;min-width:@selectWidth;position:absolute;top:22px;left:0;z-index:2;}
  ul.newList {margin:0;padding:0;list-style:none;color:#000;background:#fff;border:1px solid #ccc;overflow:auto;}
  ul.newList * {margin:0;padding:0;}
  ul.newList a {color: #000;text-decoration:none;display:block;padding:0 8px;.verticalCenter(@selectHeight);white-space:nowrap;}
  .newListSelected {width:@selectWidth;color:#000;height:@selectHeight;float:left;margin-right:10px;background-color:@colorBgGrisC;position:relative;.verticalCenter(@selectHeight);
    .selectedTxt:after{content:"";width:27px;height:23px;display:block;background:url("../../images/vacancesdirectes/common/ui/arrow-select.png") no-repeat 0 0;position:absolute;top:0;right:0;}
  }
  .newListSelected *{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing: content-box;cursor:pointer;}
  ul.newList li a:focus {-moz-outline-style: none;}
  .selectedTxt {width:@selectWidth - @selectHeight - 5;overflow:hidden;padding:0 @selectHeight 0 5px;position:absolute;}
  .hiLite {background:#ED145B!important;color:#fff!important;}
  .newListHover {background-color:#ccc!important;color:#000!important;cursor:default;}
  .newListDisabled {opacity: 0.6;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter: alpha(opacity=60);}
  .newListItemDisabled {opacity: 0.6;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter: alpha(opacity=60);}
  .newListOptionDisabled {opacity: 0.6;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter: alpha(opacity=60);}

  .newListSelHover,
  .newListSelFocus {cursor:default;
    .selectedTxt:after{background-position: 0 -2*@selectHeight;}
  }

  .newListOptionTitle {font-weight:bold;}

  .newListOptionTitle ul {margin:3px 0 0;}

  .newListOptionTitle li {font-weight:normal;}
}

// Datepicker
#widget {
  position: relative;
}
#widgetField {
  height: 23px;
  overflow: hidden;
  position: relative;
  width: 260px;
  float:left;
}
#widgetField input {
  background-color: #E6E5E5;
  color: #000000;
  float: left;
  height: 23px;
  line-height: 23px;
  position: relative;
  width: 260px;
  border:0 none;
  cursor:pointer;
  padding: 0 32px 0 5px;
}
#widget input.hidden {
  display:none;
  width: 125px;
  margin:  0 10px 10px 0;
  border: 0 none;
}
#widgetField span {
  background: url("../../images/vacancesdirectes/common/ui/arrow-calendar.png") no-repeat scroll 0 0 transparent;
  float:left;
  width: 27px;
  height: 23px;
  position: absolute;
  top:0;
  right:0;
}
#widgetField:hover span,
#widgetField.opened span { background-position: 0 -46px; }
#widgetCalendar {
  background: none repeat scroll 0 0 @colorGris2;
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 23px;
  width: 540px;
  z-index:10;
  margin:10px 0;
}
#widgetCalendar .datepicker {
  bottom: 0;
  position: absolute;
  top: auto;
}
#widgetCalendar .datepickerContainer, #widgetCalendar .datepickerBorderT, #widgetCalendar .datepickerBorderB, #widgetCalendar .datepickerBorderL, #widgetCalendar .datepickerBorderR, #widgetCalendar .datepickerBorderTL, #widgetCalendar .datepickerBorderTR, #widgetCalendar .datepickerBorderBL, #widgetCalendar .datepickerBorderBR {
  background: none repeat scroll 0 0 transparent !important;
}
input.date {
  span{content:"";width:27px;height:23px;display:block;background:url("../../images/vacancesdirectes/common/ui/arrow-calendar.png") no-repeat 0 0;position:absolute;top:0;right:0;}
}
div.datepicker {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 196px;
  height: 147px;
  position: absolute;
  cursor: default;
  top: 0;
  left: 0;
  display: none;
}
.datepickerContainer {
  background: #121212;
  position: absolute;
  top: 10px;
  left: 10px;
}
.datepickerBorderT {
  position: absolute;
  left: 10px;
  top: 0;
  right: 10px;
  height: 10px;
  background: url(../images/datepicker_t.png);
}
.datepickerBorderB {
  position: absolute;
  left: 10px;
  bottom: 0;
  right: 10px;
  height: 10px;
  background: url(../images/datepicker_b.png);
}
.datepickerBorderL {
  position: absolute;
  left: 0;
  bottom: 10px;
  top: 10px;
  width: 10px;
  background: url(../images/datepicker_l.png);
}
.datepickerBorderR {
  position: absolute;
  right: 0;
  bottom: 10px;
  top: 10px;
  width: 10px;
  background: url(../images/datepicker_r.png);
}
.datepickerBorderTL {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: url(../images/datepicker_tl.png);
}
.datepickerBorderTR {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: url(../images/datepicker_tr.png);
}
.datepickerBorderBL {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: url(../images/datepicker_bl.png);
}
.datepickerBorderBR {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: url(../images/datepicker_br.png);
}
.datepickerHidden {
  display: none;
}
div.datepicker table {
  border-collapse:collapse;
}
div.datepicker a {
  color: #eee;
  text-decoration: none;
  cursor: default;
  outline: none;
}
div.datepicker table td {
  text-align: right;
  padding: 0;
  margin: 0;
}
div.datepicker th {
  text-align: center;
  color: #999;
  font-weight: normal;
}
div.datepicker tbody th {
  text-align: left;
}
div.datepicker tbody a {
  display: block;
}
.datepickerDays a {
  width: 20px;
  line-height: 16px;
  height: 16px;
  padding-right: 2px;
}
.datepickerYears a,
.datepickerMonths a{
  width: 44px;
  line-height: 36px;
  height: 36px;
  text-align: center;
}
td.datepickerNotInMonth a {
  color: #666;
}
tbody.datepickerDays td.datepickerSelected{
  background: @colorFushia;
}
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
  background: #75092d;
}
tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected{
  background: #75092d;
}
div.datepicker a:hover,
div.datepicker a:hover {
//  color: #ed80a4;
  color: @colorFushia;
}
div.datepicker td.datepickerNotInMonth a:hover {
  color: #999;
}
div.datepicker tbody th {
  text-align: left;
}
.datepickerSpace div {
  width: 20px;
}
.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a {
  text-align: center;
  .verticalCenter(23px);
}
.datepickerGoNext a span,
.datepickerGoPrev a span,
.datepickerMonth a span {
  vertical-align:middle;
}
.datepickerGoNext a {
  float: right;
  width: 20px;
}
.datepickerGoPrev a {
  float: left;
  width: 20px;
}
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
  display: none;
}
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
  display: none;
}
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
  display: none;
}
td.datepickerDisabled a,
td.datepickerDisabled.datepickerNotInMonth a{
  color: #333;
}
td.datepickerDisabled a:hover {
  color: #333;
}
td.datepickerSpecial a {
  background: #700;
}
td.datepickerSpecial.datepickerSelected a {
  background: #a00;
}

/* Fix icon position in Chrome & Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  button.Zebra_DatePicker_Icon_Inside     { margin: 0 5px 0 0 }
}

