/*PLUGINS*/
/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#464545;}
#colorbox,
#colorbox * {
  -moz-box-sizing: content-box;
}
#cboxContent{margin-top:32px; overflow:visible;}
.cboxIframe{background:@colorBlanc;}
#cboxError{padding:50px; }
#cboxLoadedContent{border:4px solid @colorBgGrisM;}
#cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
#cboxLoadingOverlay{background:#000;}
#cboxTitle{position:absolute; top:-22px; left:0; color:@colorBlanc; font-size:15px; font-weight:bold;}
#cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
#cboxSlideshow, #cboxPrevious, #cboxNext/*, #cboxClose*/{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(../../images/vacancesdirectes/common/ui/controls.png) no-repeat 0 0;}
#cboxPrevious{background-position:0px 0px; right:44px;}
#cboxPrevious:hover{background-position:0px -25px;}
#cboxNext{background-position:-25px 0px; right:22px;}
#cboxNext:hover{background-position:-25px -25px;}
#cboxClose{/*background-position:-50px 0px; */position:absolute;top:-30px;right:0;color:@colorBlanc;font-weight:bold;font-size:30px;}
#cboxClose:hover{/*background-position:-50px -25px;*/}
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
.cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
.cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
.cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}

/**
* Stylish Select 0.4.9 - $ plugin to replace a select drop down box with a stylable unordered list
* http://github.com/scottdarby/Stylish-Select/
*
* Copyright (c) 2009 Scott Darby
*
* Requires: jQuery 1.3 or newer
*
* Dual licensed under the MIT and GPL licenses.
*/

/**
* Hide lists on page load
---------------------------------------------------------*/
@selectWidth: 125px;
@selectTextWidth: 94px;
@selectHeight: 23px;
@selectTextHeight: 20px;
@selectWrapperWidth: 130px;

.stylish-select .SSContainerDivWrapper {
  left:-9999px;
}

/*
* Vacances directes select style
---------------------------------------------------------*/
.stylish-select .SSContainerDivWrapper {
  margin:0;
  padding:0;
  width:@selectWrapperWidth;
  position:absolute;
  top:22px;
  left:0;
  z-index:2;
}

.stylish-select ul.newList {
  margin:0;
  padding:0;
  list-style:none;
  color:#000;
  background:#fff;
  border:1px solid #ccc;
  overflow:auto;
}

.stylish-select ul.newList * {
  margin:0;
  padding:0;
}


.stylish-select ul.newList a {
  color: #000;
  text-decoration:none;
  display:block;
  padding:3px 8px;
}

.stylish-select .newListSelected {
  width:@selectWidth;
  color:#000;
  height:@selectHeight;
  float:left;
  margin-right:10px;
  background-color:#d8d8d8;
  position:relative;
  .verticalCenter(@selectHeight);
  .selectedTxt:after{content:"";width:27px;height:23px;display:block;background:url("../../images/vacancesdirectes/common/ui/arrow-select.png") no-repeat 0 0;position:absolute;top:0;right:0;}
}

.stylish-select ul.newList li a:focus {
  -moz-outline-style: none;
}

.stylish-select .selectedTxt {
  width:@selectWidth;
  overflow:hidden;
  padding:0 @selectHeight 0 5px;
  position:absolute;
}

.stylish-select .hiLite {
  background:#ED145B!important;
  color:#fff!important;
}

.stylish-select .newListHover {
  background-color:#ccc!important;
  color:#000!important;
  cursor:default;
}

.stylish-select .newListDisabled {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}

.stylish-select .newListItemDisabled {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}

.stylish-select .newListOptionDisabled {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}

.stylish-select .newListSelHover,
.stylish-select .newListSelFocus {
  cursor:default;
  background-color:#dec8cf;
  .selectedTxt:after{background-position: 0 -2*@selectHeight;}
}

.stylish-select .newListOptionTitle {
  font-weight:bold;
}

.stylish-select .newListOptionTitle ul {
  margin:3px 0 0;
}

.stylish-select .newListOptionTitle li {
  font-weight:normal;
}


/* = HEADER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_header td             { color: @colorBlanc }

.Zebra_DatePicker .dp_header .dp_previous,
.Zebra_DatePicker .dp_header .dp_next       { width: 30px }

.Zebra_DatePicker .dp_header .dp_caption    { font-weight: bold }
.Zebra_DatePicker .dp_header .dp_hover      { background: #222; color: @colorBlanc; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px }
.Zebra_DatePicker .dp_header .dp_blocked    { color: #888; cursor: default }

/* = DATEPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_daypicker th          { background: @colorFushia; color:@colorBlanc }
.Zebra_DatePicker td.dp_not_in_month        { background: #F3F3F3; color: #F3F3F3; cursor: default }
.Zebra_DatePicker td.dp_weekend             { background: #D8D8D8 }
.Zebra_DatePicker td.dp_weekend_disabled    { color: #CCC; cursor: default }
.Zebra_DatePicker td.dp_week_number         { background: @colorFushia; color: #555; cursor: text; font-style: italic }

/* = MONTHPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_monthpicker td        { width: 33% }

/* = YEARPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_yearpicker td         { width: 33% }

/* = FOOTER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_footer                { margin-top: 3px }
.Zebra_DatePicker .dp_footer td             { color: @colorBlanc; padding: 2px; font-weight: bold }
.Zebra_DatePicker .dp_footer .dp_hover      { background: #222; color: @colorBlanc; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px }

/* = SOME MORE GLOBALS (MUST BE LAST IN ORDER TO OVERWRITE PREVIOUS PROPERTIES)
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker td.dp_current             { color: #C40000 }
.Zebra_DatePicker td.dp_disabled_current    { color: #E38585 }
.Zebra_DatePicker td.dp_disabled            { background: #F3F3F3; color: #CDCDCD; cursor: default }
.Zebra_DatePicker td.dp_hover               { background: @colorGris1; color: @colorBlanc }
.Zebra_DatePicker.arrival td.arrival-date,
.Zebra_DatePicker td.selected-date,
.Zebra_DatePicker td.dp_selected            { background: @colorFushia; color: @colorBlanc !important }

/* = ICON
----------------------------------------------------------------------------------------------------------------------*/
button.Zebra_DatePicker_Icon                { position: absolute; width: 27px; height: 23px; background: url('../../images/vacancesdirectes/common/ui/arrow-calendar.png') no-repeat 0 0; text-indent: -9000px; border: none; cursor: pointer; margin: 0 0 0 5px; padding: 0; line-height: 0 }
button.Zebra_DatePicker_Icon_Disabled       { background-position: -23px 0; }
button.Zebra_DatePicker_Icon_Inside         { margin: 0 3px 0 0 }

/* Fix icon position in Chrome & Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  button.Zebra_DatePicker_Icon_Inside     { margin: 0 5px 0 0 }
}

