/*PLUGINS*/
/* infoBox */
.infoBox{background:@colorBgGrisC;width:305px;height:130px;margin:0;padding:10px;font-size:11px;
._border-radius(6px);._box-shadow(0 0 10px rgba(0, 0, 0, .5));}

.lt-ie9 .infoBox{border:1px solid #ccc;}
.infoBox:after{content:'';z-index:1;position:absolute;bottom:-20px;left:0;width:100%;height:20px;background:url(../../images/vacancesdirectes/common/map/infobox.png) no-repeat 50% 100%;}

.infoBox .content{postition:relative;height:138px;overflow:hidden;}

.infoBox > img{float:right;margin:-5px -5px 0 0 !important;}
.infoBox .content img{float:left;margin:0 10px 3px 0;}

.infoBox .title{font:bold 16px/18px @ptnarrow;color:@colorFushia;text-transform:uppercase;margin-bottom:10px;}
.infoBox .country, .infoBox .reg, .infoBox .city{color:@colorGris1;font-size:11px;text-transform:uppercase;line-height:1.2em;}
.infoBox .city{color:@colorFushia;}

.infoBox .bt{display:inline-block;font-size:11px;margin-top:5px;}


/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#464545;}
#colorbox,
#colorbox * {
  -webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing: content-box;
}
#cboxContent{margin-top:32px; overflow:visible;}
.cboxIframe{background:@colorBlanc;}
#cboxError{padding:50px; }
#cboxLoadedContent{border:4px solid @colorBgGrisM;}
#cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
#cboxLoadingOverlay{background:#000;}
#cboxTitle{position:absolute; top:-22px; left:0; color:@colorBlanc; font-size:15px; font-weight:bold;}
#cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
#cboxSlideshow, #cboxPrevious, #cboxNext/*, #cboxClose*/{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(../../images/vacancesdirectes/common/ui/controls.png) no-repeat 0 0;}
#cboxPrevious{background-position:0px 0px; right:44px;}
#cboxPrevious:hover{background-position:0px -25px;}
#cboxNext{background-position:-25px 0px; right:22px;}
#cboxNext:hover{background-position:-25px -25px;}
#cboxClose{/*background-position:-50px 0px; */position:absolute;top:-30px;right:0;color:@colorBlanc;font-weight:bold;font-size:30px;}
#cboxClose:hover{/*background-position:-50px -25px;*/}
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
.cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
.cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
.cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}

/**
* Stylish Select 0.4.9 - $ plugin to replace a select drop down box with a stylable unordered list
* http://github.com/scottdarby/Stylish-Select/
*
* Copyright (c) 2009 Scott Darby
*
* Requires: jQuery 1.3 or newer
*
* Dual licensed under the MIT and GPL licenses.
*/

/**
* Hide lists on page load
---------------------------------------------------------*/
@selectWidth: 200px;
@selectTextWidth: 94px;
@selectHeight: 23px;
@selectTextHeight: 20px;

.stylish-select .SSContainerDivWrapper {
  left:-9999px;
}

/*
* Vacances directes select style
---------------------------------------------------------*/

// Stylish Select
.stylish-select{
  .SSContainerDivWrapper {margin:0;padding:0;min-width:@selectWidth;position:absolute;top:22px;left:0;z-index:100;}
  ul.newList {margin:0;padding:0;list-style:none;color:@colorGris2;background:#fff;border:1px solid #ccc;overflow:auto;}
  ul.newList * {margin:0;padding:0;}
  ul.newList a {color:@colorGris2;text-decoration:none;display:block;padding:0 8px;._verticalCenter(@selectHeight);white-space:nowrap;cursor:pointer;}
  .newListSelected {width:@selectWidth;color:@colorGris2;height:@selectHeight;float:left;margin-right:10px;background-color:@colorBgGrisC;position:relative;._verticalCenter(@selectHeight);
    .selectedTxt:after{content:"";width:27px;height:23px;display:block;background:url("../../images/vacancesdirectes/common/ui/arrow-select.png") no-repeat 0 0;position:absolute;top:0;right:0;}
  }
  .newListSelected *{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing: content-box;cursor:pointer;}
  ul.newList li a:focus {-moz-outline-style: none;}
  .selectedTxt {width:@selectWidth - @selectHeight - 10;overflow:hidden;padding:0 @selectHeight 0 10px;position:absolute;text-overflow:ellipsis;white-space:nowrap;}
  ul.newList.optGroup li a {padding:0 8px 0 18px;}
  ul.newList.optGroup li.optGroup-like a {padding:0 8px;font-weight:bold;}
  .hiLite {background:#ED145B!important;color:#fff!important;}
  .newListHover {background-color:#ccc!important;color:@colorGris2!important;cursor:default;}
  .newListDisabled {opacity: 0.6;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter: alpha(opacity=60);}
  .newListItemDisabled {opacity: 0.6;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter: alpha(opacity=60);}
  .newListOptionDisabled {opacity: 0.6;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter: alpha(opacity=60);}

  .newListSelHover,
  .newListSelFocus {cursor:default;
    .selectedTxt:after{background-position: 0 -2*@selectHeight;}
  }

  .newListOptionTitle {font-weight:bold;}

  .newListOptionTitle ul {margin:3px 0 0;}

  .newListOptionTitle li {font-weight:normal;}
}

// Datepicker
#datepicker {
  position: relative;
}
#datepickerField {
  height: 27px;
  overflow: hidden;
  position: relative;
  width: 260px;
  float:left;
}
#datepickerField input {
  background-color: #E6E5E5;
  color: @colorGris2;
  float: left;
  height: 23px;
  line-height: 23px;
  position: relative;
  width: 260px;
  border:0 none;
  cursor:pointer;
  padding: 0 32px 0 5px;
}
#datepickerField span.date {
  cursor:pointer;
}
#datepicker input[type=hidden] {
  display:none;
  width: 125px;
  margin:  0 10px 10px 0;
  border: 0 none;
}
#datepickerField span {
  background: url("../../images/vacancesdirectes/common/ui/arrow-calendar.png") no-repeat scroll 0 0 transparent;
  float:left;
  width: 27px;
  height: 23px;
  position: absolute;
  top:0;
  right:0;
}
#datepickerField:hover span,
#datepickerField.opened span { background-position: 0 -46px; }
#datepickerCalendar {
  background: none repeat scroll 0 0 @colorGris3;
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 18px;
  width: 886px;
  z-index:101;
  margin:5px 0;
}
#datepickerCalendar.opened {border: 1px solid #adadad;}
#datepickerCalendar .datepickerGoPrev a,
#datepickerCalendar .datepickerGoNext a { text-decoration: none; }
#datepickerCalendar .datepickerGoPrev,
#datepickerCalendar .datepickerGoNext{position:absolute;top:30px;z-index:1;}
#datepickerCalendar .datepickerGoPrev{left:10px;}
#datepickerCalendar .datepickerGoNext{right:10px;}
#datepickerCalendar .datepicker {
  bottom: 0;
  position: absolute;
  top: auto;
  width:886px !important;
  z-index:0;
}
#datepickerCalendar .datepickerContainer,
#datepickerCalendar .datepickerBorderBL,
#datepickerCalendar .datepickerBorderB,
#datepickerCalendar .datepickerBorderBR,
#datepickerCalendar .datepickerBorderL,
#datepickerCalendar .datepickerBorderR {
  background: none repeat scroll 0 0 transparent !important;
}
#datepickerCalendar .datepickerBorderTL,
#datepickerCalendar .datepickerBorderT,
#datepickerCalendar .datepickerBorderTR {background: @colorBgGrisC;}
input.date {
  span{content:"";width:27px;height:23px;display:block;background:url("../../images/vacancesdirectes/common/ui/arrow-calendar.png") no-repeat 0 0;position:absolute;top:0;right:0;}
}
div.datepicker {
  position: relative;
  font-family: @arial;
  font-size: 12px;
  width: 196px;
  height: 147px;
  position: absolute;
  cursor: default;
  top: 0;
  left: 0;
  display: none;
}
.datepickerContainer {
  background: @colorGris3;
  position: absolute;
  top: 30px;
  left: 10px;
  width: 866px !important;
}
.datepickerContainer>table>tbody>tr>td thead .datepickerGoPrev,
.datepickerContainer>table>tbody>tr>td thead .datepickerGoNext {display:none;}
.datepickerBorderTL {position: absolute;top: 0;left: 0;width: 10px;height: 30px;background: url(../images/datepicker_tl.png);}
.datepickerBorderT {position: absolute;left: 10px;top: 0;right: 10px;height: 30px;background: url(../images/datepicker_t.png);}
.datepickerBorderTR {position: absolute;top: 0;right: 0;width: 10px;height: 30px;background: url(../images/datepicker_tr.png);}
.datepickerBorderB {position: absolute;left: 10px;bottom: 0;right: 10px;height: 30px;background: url(../images/datepicker_b.png);}
.datepickerBorderL {position: absolute;left: 0;bottom: 10px;top: 10px;width: 10px;background: url(../images/datepicker_l.png);}
.datepickerBorderR {position: absolute;right: 0;bottom: 10px;top: 10px;width: 10px;background: url(../images/datepicker_r.png);}
.datepickerBorderBL {position: absolute;bottom: 0;left: 0;width: 10px;height: 30px;background: url(../images/datepicker_bl.png);}
.datepickerBorderBR {position: absolute;bottom: 0;right: 0;width: 10px;height: 30px;background: url(../images/datepicker_br.png);}
.datepickerHidden {
  display: none;
}
div.datepicker table {
  border-collapse:collapse;
}
div.datepicker a {
  color: @colorGris2;
  text-decoration: none;
  outline: none;
  font-weight:bold;
}
div.datepicker table td {
  text-align: right;
  padding: 0;
  margin: 0;
}
div.datepicker table td.datepickerDisabled a,
div.datepicker table td.datepickerUnselectable a {
  cursor:default;
  font-weight:normal;
}
div.datepicker th {
  text-align: center;
  color: @colorBlanc;
  font-weight: normal;
}
.datepickerViewDays thead tr:first-child {
  background-color: @colorFushia;
  text-transform: uppercase;
  font-family: @ptnarrow;
}
.datepickerViewDays thead tr.datepickerDoW {
  background-color: @colorGris2;
  color: @colorBlanc;
}
div.datepicker tbody th {
  text-align: center;
  font-weight:bold;
}
div.datepicker tbody a {
  display: block;
}
.datepickerDays a {
  width: 25px;
  ._verticalCenter(23px);
  padding:0 6px 0 0;
}
.datepickerYears a,
.datepickerMonths a{
  width: 44px;
  line-height: 36px;
  height: 36px;
  text-align: center;
}
td.datepickerNotInMonth a {
  color: #666;
  visibility: hidden;
}
tbody.datepickerDays td.datepickerSelected a,
tbody.datepickerDays td.datepickerDisabled.datepickerSelected a:hover,
tbody.datepickerDays td.datepickerSelected a:hover{
  color: @colorFushia;
}
tbody.datepickerYears td.datepickerSelected a,
tbody.datepickerMonths td.datepickerSelected a{
  background-color: #75092d;
}
div.datepicker .datepickerDays td.datepickerSpecial.datepickerUnselectable a,
div.datepicker .datepickerDays td.datepickerSpecial.datepickerDisabled a,
div.datepicker .datepickerDays td.datepickerSpecial a:hover,
div.datepicker .datepickerDays td.datepickerSpecial.datepickerDisabled a:hover,
div.datepicker .datepickerDays td.datepickerSpecial.datepickerUnselectable a:hover {
  background-color: #e7cad3;
  color: @colorBlanc;
}
div.datepicker .datepickerDays td.datepickerHighSeason a,
div.datepicker .datepickerDays td.datepickerHighSeason a {
  background-color: transparent;
  color: #c2c2c2;
}
div.datepicker .datepickerDays td a:hover,
div.datepicker .datepickerDays td.datepickerSpecial a:hover {
  background-color: @colorBgBlanc;
  color: @colorFushia;
//  width: 23px;
//  ._verticalCenter(21px);
//  border:1px solid @colorFushia;
//  padding: 0 3px;

}
div.datepicker .datepickerDays td.datepickerDisabled a:hover,
div.datepicker .datepickerDays td.datepickerUnselectable a:hover {
  background-color: transparent;
  color: #c2c2c2;
  border:0 none;
}
div.datepicker td.datepickerNotInMonth a:hover {
  color: #999;
}
/*
div.datepicker .datepickerDays td a:hover {background-color: @colorBgBlanc;}
div.datepicker .datepickerDays td.datepickerDisabled a:hover {background-color: transparent;}
div.datepicker .datepickerDays td.datepickerSpecial.datepickerUnselectable a:hover,
div.datepicker .datepickerDays td.datepickerSpecial.datepickerDisabled a:hover,
div.datepicker .datepickerDays td.datepickerSpecial.datepickerUnselectable a:hover {background-color: @colorFushia;}
*/
.datepickerSpace div {
  width: 0;
}
#datepickerCalendar .datepickerGoNext a,
#datepickerCalendar .datepickerGoPrev a,
#datepickerCalendar .datepickerMonth a {
  font-size:14px;
  text-align: center;
  ._verticalCenter(23px);
}
#datepickerCalendar .datepickerMonth a {cursor:default;}
#datepickerCalendar .datepickerGoNext a,
#datepickerCalendar .datepickerGoPrev a {width: 20px;cursor:pointer;}
#datepickerCalendar .datepickerGoNPrev a{left:0;}
#datepickerCalendar .datepickerGoNext a{right:0;}
#datepickerCalendar .datepickerGoPrev a:hover,
#datepickerCalendar .datepickerGoNext a:hover,
#datepickerCalendar .datepickerMonth a,
#datepickerCalendar .datepickerMonth a:hover {color:@colorBlanc;}
.datepickerInfo,
.datepickerLegend {font-family:@ptnarrow;font-size:14px;position:absolute;left:10px;}
.datepickerInfo {top:5px;color:@colorFushia;font-weight:bold;}
.datepickerLegend {margin-left:28px;bottom:5px;color:@colorGris2;}
.datepickerLegend:before {content:"";width:19px;height:19px;background-color:#e7cad3;position:absolute;top:0;left:-28px}
#datepickerCalendar .bt{position:absolute;right:10px;bottom:5px;}
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
  display: none;
}
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
  display: none;
}
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
  display: none;
}
td.datepickerDisabled a,
td.datepickerUnselectable a,
td.datepickerDisabled.datepickerNotInMonth a{
  color: #c2c2c2;
}
td.datepickerDisabled a:hover,
td.datepickerUnselectable a:hover {
  color: #c2c2c2;
}
div.datepicker .datepickerDays td.datepickerSelected a,
div.datepicker .datepickerDays td.datepickerDisabled.datepickerSelected a,
div.datepicker .datepickerDays td.datepickerDisabled.datepickerSelected a:hover,
div.datepicker .datepickerDays td.datepickerUnselectable.datepickerSelected a,
div.datepicker .datepickerDays td.datepickerUnselectable.datepickerSelected a:hover{
  background-color: @colorFushia;
  color:@colorBlanc;
  font-weight:bold;
}
div.datepicker .datepickerDays td.datepickerDisabled.datepickerSelected a,
div.datepicker .datepickerDays td.datepickerDisabled.datepickerSelected a:hover,
div.datepicker .datepickerDays td.datepickerUnselectable.datepickerSelected a,
div.datepicker .datepickerDays td.datepickerUnselectable.datepickerSelected a:hover{
  font-weight:normal;
}
div.datepicker .datepickerDays td.datepickerNotInMonth.datepickerSelected {
  background-color: @colorFushia;
  color: @colorFushia;
  visibility:hidden;
}
div.datepicker .datepickerDays td.datepickerSpecial.datepickerSelected a {
  background-color: @colorFushia;
  color: @colorGris2;
}
div.datepicker .datepickerDays td.datepickerSpecial.datepickerDisabled a,
div.datepicker .datepickerDays td.datepickerSpecial.datepickerUnselectable a {
  color: @colorBlanc;
}
div.datepicker .datepickerDays td.datepickerSelected a {
  color:@colorGris2;
  font-weight:bold;
}
div.datepicker .datepickerDays td.datepickerSelected a:hover {
  background-color: @colorBlanc;
  color: @colorFushia;
}
tr.datepickerDoW th:first-child,
th.datepickerWeek{display:none;}

/* Fix icon position in Chrome & Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  button.Zebra_DatePicker_Icon_Inside { margin: 0 5px 0 0; }
}


/*
	STYLE SHEET FOR IHWY JQUERY LISTNAV PLUGIN V 2.0, 3/2/2009

	For more information, visit http://www.ihwy.com/Labs/jquery-listnav-plugin.aspx
*/


/* default styling example
----------------------------------------------------------------- */

.listNav { margin:0 0 10px; }

.ln-letters { overflow:hidden; }
.ln-letters a { font-size:0.9em; font-weight:normal; display:block; float:left; padding:2px 6px; border:1px solid silver; border-right:none; text-decoration:none; }
.ln-letters a.ln-last { border-right:1px solid silver; }
.ln-letters a:hover { color:@colorBlanc; font-weight:bold; }
.ln-letters a.ln-selected { background-color:@colorBlanc; color:@colorFushia; ._border-radius(10px); font-weight:bold; }
.ln-letters a.ln-disabled { color:#ccc; font-weight:normal; }
.ln-letter-count { text-align:center; font-size:0.8em; line-height:1; margin-bottom:3px; color:#336699; }


/* demo-specific
----------------------------------------------------------------- */

#demoThree-nav .ln-letters a { border:none; border-top:2px solid pink; color:red; }
#demoThree-nav .ln-letters a.ln-last { border-right:none; }
#demoThree-nav .ln-letters a:hover,
#demoThree-nav .ln-letters a.ln-selected { border-top:2px solid red; background-color:pink; color:White !important; }
#demoThree-nav .ln-letters a.ln-disabled { color:pink; }
#demoThree-nav .ln-letters a.ln-disabled:hover { color:white; }
#demoThree-nav .ln-letter-count { color:red; }

#demoThree li { color:pink; }
#demoThree li a { color:red; text-decoration:none; }
#demoThree li a:hover { text-decoration:underline; }

#demo4 #listWrapper { width:650px }
#demoFour li { float:left; }
#demoFour a { display:block; text-align:center; width:85px; border:1px solid silver; padding:10px; margin:0 10px 10px 0; text-decoration:none }
#demoFour a:hover { background-color:#eee }

/** noUislider 2.5.5
  ** @author: 		@leongersen
 ** @repository:	https://github.com/leongersen/noUiSlider
 **/
.noUiSlider{width:400px;border:1px solid #ccc;height:8px;background:#eee;-webkit-touch-callout:none;
  .noUi-handle{cursor:pointer;
    &:first-child{
      > div{position:absolute;width:0;height:0;top:-7px;left:-8px;z-index:5;
        border-bottom:12px solid transparent;
        border-top:10px solid transparent;
        border-right:18px solid @colorFushia;
        border-radius:150px;
      }
    }
    &:last-child{
      > div{position:absolute;width:0;height:0;top:-7px;left:-8px;z-index:5;
        border-bottom:12px solid transparent;
        border-top:10px solid transparent;
        border-left:18px solid @colorFushia;
        border-radius:150px;
      }
    }
    > div:hover, > div.noUi-activeHandle {}
  }
  .noUi-midBar{height:100%;z-index:0;background:#39c;-webkit-touch-callout:none;}
  .rangeBox{display:block;margin-top:15px;}
}
@media (-webkit-min-device-pixel-ratio:1.2),-moz-touch-enabled,(max-device-width:1024px){
  .noUi-handle > div {height:32px;width:32px;top:-13px;left:-16px;}
}
