.nbResult{font:18px/0px @ptnarrow;color:@colorFushia;width:125px;height:98px;float:left;border-right: 1px solid @colorFushia;text-align:center;text-transform: uppercase;padding-top:22px;margin-bottom:30px;
  .nb{display:block;font:bold 45px Arial, sans-serif;}
}
.typeAff{float:left;width:143px;height:98px;border-right: 1px solid @colorFushia;padding:11px 0 0 23px;
  span{font-weight:bold;color:@colorGris2;display:block;padding-right:15px;margin-bottom:5px;}
  button{width:50px;height:50px;border:0;text-indent:-999em;}
  #btList{background:url(../../images/vacancesdirectes/common/sprites/switchListMap.png) no-repeat 0 100%;
      &.active{background-position:0 0;}
  }
  #btMap{background:url(../../images/vacancesdirectes/common/sprites/switchListMap.png) no-repeat 100% 0;
      &.active{background-position:100% 100%}
  }
}
#widgetRange{float:left;width:326px;margin:10px 0 0 22px;padding:10px;background:@colorBgGrisC;._border-radius(5px);font:bold 15px Arial;color:#575757;height:82px;
  #noUiSlider{width:288px;margin:10px 6px;color:@colorFushia;background:#bcb9b9;padding:0 10px;}
  .noUi-handle{cursor:pointer;z-index:1 !important;
    &:first-child .rangeBox{left:-14px;}
    &:last-child .rangeBox{left:-34px;}
  }
  .rangeBox{width:50px;position:absolute;text-align:center;}
  .noUi-midBar{background-color:@colorFushia;}
}

#filterTri{clear:both;display:none;}
.infoComp{display:none;}

.disclaim{display:none !important;}

#results{clear:both;}
.itemResult{position:relative;border:4px solid @colorBgGrisM;._border-radius(15px);margin-bottom:15px;
  .itemResultTitle{background:@colorBgGrisM;font:bold 25px/28px @ptnarrow;padding:3px 5px 5px;color:@colorBlanc;
    a{color:@colorBlanc;text-transform:uppercase;text-decoration:none;}
    .dates{font:bold 16px/18px @arial;text-transform:none;}
    [type="checkbox"]{float:right;display:none;}
  }
  .itemResultLeft{padding:10px 0 10px 10px;float:left;width:175px;
    .boxborder{margin:0;}
    .ratingFiche{float:none;margin:0;font-size:11px;display:none;
      .reviewCount{margin-left:0;}
      .review:first-child{margin-left:0px;}
    }
  }
  .itemResultCenter{padding:10px;float:left;width:200px;
    .bt{display:inline-block;margin-top:10px;}
    .pictos{margin-top:10px;
      img{}
    }
  }
  .itemResultRight{padding:10px;float:left;width:233px;text-align:right;
    img{float:right;}
    .titDest{font-size:11px;display:block;margin-top:32px;
      a{text-decoration:none;text-transform:uppercase;font-weight:bold;color:@colorGris0;
        &.ville{color:@colorFushia;}
      }
    }
    span.bt{clear:both;display:block;margin-top:15px;font-weight:normal;line-height:1em;cursor:pointer;}
  }
  .itemResultPopDest{position:absolute;left:100%;padding-left:20px;z-index:9;top:-4px;
    > div{width:300px;background-color:@colorBgGrisF;._border-radius(10px);padding:10px 30px;background-image:url(../../images/vacancesdirectes/common/images/infoDestStamp.png);background-repeat:no-repeat;background-position:50% 70px;text-align:center;color:@colorBlanc;
      &:before{content:'';left:-15px;border:solid transparent;height:0;width:0;position:absolute;pointer-events:none;border-right-color:@colorBgGrisF;border-width:18px;top:128px;}
    }
    h3{margin-bottom:10px;color:@colorBlanc;font:21px/21px @ptnarrow;}
    h4{font-weight:normal;color:@colorBlanc;text-align:left;}
    p{margin-bottom:27px;text-align:left;}
    a{color:@colorBlanc;}
    img{float:none;margin:0;}
    .iDestImg1{margin:10px auto;display:block;}
    .iDestImg2{._transform(rotate(12deg));display:block;margin:-35px 0 25px 15px;}
    .infoPop{line-height:13px;margin-bottom:15px;overflow:hidden;text-align:left;
      img{float:left;margin-right:10px;margin-bottom:5px;}
      .bt{margin:5px 0;font-weight:normal;clear:none;text-decoration:underline;font-size:13px;line-height:1em;}
    }
    .imanqPop{float:left;width:100%;margin:10px 0 15px;text-align:left;
      .bt{margin:4px 0 0;font-weight:normal;text-decoration:underline;font-size:13px;line-height:1em;}
    }
    .bt.big{font-weight:bold;margin:20px auto;display:inline-block;padding:7px 15px;}
  }
  .itemResultBottom{min-height:100px;clear:both;background:@colorGris3;padding:20px 10px;position:relative;._border-radius(0 0 15px 15px);
    [type="radio"]{vertical-align:-2px;}
    .linePrice{
      label{float:left;clear:left;width:345px;}
      .stain{display:none;position:absolute;bottom:5px;left:355px;}
      a.bt{display:none;position:absolute;bottom:35px;right:25px;background-color:@colorFushia;color:@colorBlanc;}
      &.checked{
        label{font-weight:bold;}
        .stain, a.bt{display:block;}
      }
    }

    .stain{width:90px;._verticalCenter(70px,22px);background-image:url("../../images/vacancesdirectes/common/ui/stain.png");background-repeat:no-repeat;text-align:center;font-size:10px;color:@colorBlanc;margin-left:-10px;position:relative;
      /*&>span{margin-top:10px;}*/
      .price{font-size:27px;font-weight:bold;}
    }
    .ie-lte8 .stain{width:70px;min-width:70px !important;}


    .stain{display:block;width:131px;height:129px;padding-top:57px;
      > * {margin:0;}
      span{display:block;}
      .promo{position:absolute;top:-10px;left:-10px;width:64px;height:61px;text-indent:-5px;background-image:inherit;background-position:0 -262px;font:bold 15px/61px @arial;}
    }
    .promotion{
      a.bt{background-color:@colorOrange;color:@colorBlanc;}
      .stain{padding-top:47px;background-position:0 -131px;}
    }
    .catalogue{
      .stain{padding-top:39px;}
    }
  }

  .stain{width:90px;._verticalCenter(70px,22px);background-image:url("../../images/vacancesdirectes/common/ui/stain.png");background-repeat:no-repeat;text-align:center;font-size:10px;color:@colorBlanc;margin-left:-10px;position:relative;
    &>span{margin-top:10px;}
    .price{font-size:27px;font-weight:bold;}
  }
/*.ie-lte8 .stain{width:70px;min-width:70px !important;}*/

  &.itemCatalogue{
    .itemResultBottom .linePrice{
      a.bt, .stain{display:block;}
    }
  }
}
/* bouton Afficher plus de resultats */
#btPlusResults{clear:both;margin:20px auto;height:43px;font-size:23px;}

.formSearchRefined{margin:10px auto;padding:10px;
  .criteres{color:@colorFushia;font:18px @ptnarrow;margin:5px 0 10px 0;}
  .sectionTitle{color:@colorGris2;display:block;font:18px @ptnarrow;padding:10px 0 10px 27px;width:100%;cursor:pointer;border-top:7px solid #f1f0f0;background:url(../../images/vacancesdirectes/common/sprites/sprite-filter.png) no-repeat 0 8px;
    &.first{border:0;}
    &.open{background-position:2px -38px;}
  }
  fieldset{padding:0 0 10px 2px;
    label{color:@colorGris2;display: block;font-size:13px;margin: 0 0 2px;}
    input[type="checkbox"]{margin-right: 5px;margin-top: 0;vertical-align: middle;}
    p{color: #666666;font: bold 11px @arial,sans-serif;margin: 0 0 5px;}
  }
  .bt{font-size:21px;margin:10px auto}
}

#resultMap{opacity:0;position:absolute !important;left:-999em;top:-999em;border:10px solid @colorBgGrisC;._border-radius(8px);margin:10px 0;
  ._transition(opacity .5s);
}
#resultMap.active{opacity:1;position:relative !important;top:0;left:0;}