<div class="modal portfolio-popin">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <ul class="nav nav-tabs">
            <li{% if medias.count > 0 %} class="active"{% endif %}><a href="#media" data-toggle="tab">Media</a></li>
            <li{% if medias.count == 0 %} class="active"{% endif %}><a href="#portfolio" data-toggle="tab">Portfolio</a></li>
            <li><a href="#upload" data-toggle="tab">Choose file</a></li>
        </ul>
    </div>
    <div class="modal-body">
        <div class="tab-content">
            <div class="tab-pane {% if medias.count > 0 %} active{% endif %}" id="media">
                <table id="list" class="table table-striped ">
                    <tbody>
                        {% for media in medias %}
                        {% include 'Crud/Portfolio/table_line.twig' with {'line': media, 'used': true} %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane{% if medias.count == 0 %} active{% endif %}" id="portfolio">
                <form class="form-search form-inline portfolio-search-form" action="{{ path('portfolio_search') }}" method="post">
                    <fieldset>
                        <div class="well">
                            {{ form_widget(searchForm) }}
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </fieldset>
                </form>
                {% include 'Crud/Portfolio/table.twig' with {'paginator': paginator, 'mediaIds': mediaIds} %}
            </div>
            <div class="tab-pane" id="upload">
                <div id="dragContainer">
                    Drop images here or click to upload.
                </div>
                <table id="droppedFiles" class="table table-striped">
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="portfolio-validate btn" href="#">Valider</a>
    </div>
</div>
