<nav id="nav">
    <ul class="topnav fixed-width clear">
        <li class="tab">
            <a id="home" href="{{ path( 'homepage' ) }}">
                <img width="27" height="27" src="{{ asset('images/vacancesdirectes/common/pict/home.png') }}" alt="{{ menu.title|trans }}"> <span>{{ 'global.site_name' | trans }}</span></a>
        </li>
    </ul>
</nav>
