<nav id="nav">
    <ul class="topnav fixed-width clear">
        <li class="tab">
            <a id="home" href="{{ path( 'homepage' ) }}">
                <img  src="{{ asset('images/vacancesdirectes/common/pict/home.png') }}" alt="{{ menu.title|trans }}"> <span>Vacances directes.com</span></a>
        </li>
    </ul>
</nav>
