{% if allowedFields|length %}
    <form action="" method="get">
        <ul id="context-selector" class="breadcrumb">
            {% for field in form %}
                {% if field.name != '_token' and field.name in allowedFields %}
                    {% set fieldName = 'context.' ~ field.name %}
                    <li><span>{{ fieldName|trans }}</span>{{ form_widget(field) }}</li>
                {% endif %}
            {% endfor %}
            <li class="pull-right"><button class="btn" type="submit" ><i class="icon-search"></i> {{ "context.validate"|trans }}</button></li>
        </ul>
    </form>
{% endif %}
