<div id="alreadySeenBloc" class="clear radiusBox greyC">
    <div class="no stamp">
        <h2>Vous avez déjà consulté</h2>
    </div>
    <div class="element clear">
        <div class="left">
            <img class="boxborder" src="http://pimg.devlint.fr/119x86/ccc/333/*" width="119" height="86" alt="" />
        </div>
        <div class="details left">
            <span class="title">Nom camping ***</span>
            <span class="region">Région</span>
            <span class="condition">7 nuits pour 6 personnes</span>
        </div>
        <a href="#_" class="stain cover"><span>à partir de<br /><span class="price">152<span class="fine">&nbsp;</span>€</span></span></a>
    </div>
    <div class="element clear">
        <div class="left">
            <img class="boxborder" src="http://pimg.devlint.fr/119x86/ccc/333/*" width="119" height="86" alt="" />
        </div>
        <div class="details left">
            <span class="title">Nom camping ***</span>
            <span class="region">Région</span>
            <span class="condition">7 nuits pour 6 personnes</span>
        </div>
        <a href="#_" class="stain cover"><span>à partir de<br /><span class="price">152<span class="fine">&nbsp;</span>€</span></span></a>
    </div>
    <a href="#_" class="bt link right">Comparer avec ce camping)</a>
</div>