<?xml version="1.0" encoding="UTF-8"?>
<config>
    <propel>
        <datasources default="cungfoo">
            <datasource id="cungfoo">
                <adapter>mysql</adapter>
                <connection>
                    <dsn>mysql:host=127.0.0.1;dbname=cungfoo;charset=utf8</dsn>
                    <user>cungfoo</user>
                    <password>cungfoo++</password>
                </connection>
            </datasource>
        </datasources>
    </propel>
</config>
