{% extends "base.twig" %}

{% block title %}Demandez vos identifiants pour accéder à votre espace{% endblock %}

{% block header %}
    <h1>Votre demande d'identifiant a bien été envoyée</h1>
{% endblock %}

{% block content %}
        TRopdqsfksdjgfkj sdhfj hskjdhf kshdfkj dqshf jqshdfkj qskjdhf kjqsdhf kj hs
{% endblock %}
