{% extends "base.twig" %}

{% block title %}Demandez vos identifiants pour accéder à votre espace{% endblock %}

{% block header %}
    <h1>Votre demande d'identifiant a bien été envoyée</h1>
{% endblock %}

{% block content %}
        <div class="column clearboth">
            <!-- TODO ajout d'un text-->
        </div>
{% endblock %}
