{% extends "base.twig" %}

{% block title %}Demandez vos identifiants pour accéder à votre espace{% endblock %}

{% block header %}
    <h1>Votre demande d'identifiant a bien été envoyée</h1>
{% endblock %}

{% block content %}
        <div class="column clearboth">
            <p>Votre demande d'identifiant a bien été envoyée et sera traitée très prochainement par nos équipes.<br>
            Nous vous enverrons sous 1 à 7 jours votre identifiant et votre mot de passe qui vous permettront d'accèder à votre Espace Partenaire.</p>

            <p>A très bientôt.<br>
            Votre équipe CE.</p>
        </div>
{% endblock %}
