{% extends "base.twig" %}

{% block title %}Demandez vos identifiants pour accéder à votre espace{% endblock %}

{% block header %}
    <h1>Votre demande d'identifiant a bien été envoyée</h1>
{% endblock %}

{% block content %}
        <div class="column clearboth">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mauris nisl, dignissim et volutpat nec, suscipit sed augue. Aenean malesuada sem vel metus bibendum nec dictum lacus consectetur. Nunc euismod ultrices felis, eu varius lectus vulputate in. Etiam volutpat mauris faucibus sapien euismod sit amet tincidunt lectus convallis. Duis ante risus, commodo vitae consequat a, dignissim sed arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id urna nec neque commodo posuere quis non nunc. Nullam sed mauris est, tristique ultrices turpis. Duis sollicitudin justo sed dolor porttitor adipiscing.</p>
        </div>
{% endblock %}
