{% extends "base.twig" %}

{% block title %}Mot de passe oublié ?{% endblock %}

{% block content %}
        <div class="column clearboth" id="discoverContainer">
            <iframe id="frameResalys" name="frameResalys" src="{{ path('resalys_wrapper', query) }}" width="960px" height="700px"></iframe>
        </div>
{% endblock %}
