body {
    padding-top:100px;
}

body.login {
    background-color:whiteSmoke;
}

body h1 {
    text-transform:uppercase;
    font:normal 400 28px/1 Oswald, arial, sans-serif;
}

body h2 {
    text-transform:uppercase;
    font:normal 400 24px/1 Oswald, arial, sans-serif;
}

body .form-signin {
    position:relative;
    max-width:300px;
    padding:19px 29px 29px;
    margin:0 auto 20px;
    background-color:#fff;
    border:1px solid #e5e5e5;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, .05);
    box-shadow:0 1px 2px rgba(0, 0, 0, .05);
}

body .form-signin .form-signin-heading, body .form-signin .checkbox {
    margin-bottom:10px;
}

body .form-signin input[type="text"], body .form-signin input[type="password"] {
    font-size:16px;
    height:auto;
    margin-bottom:15px;
    padding:7px 9px;
}

body .form-signin .version {
    position:absolute;
    color:#B5B5B5;
    bottom:6px;
    right:6px;
}

body #context-selector {
    padding:7px;
}

body #context-selector span {
    margin-right:7px;
}

body #context-selector select {
    margin:0 14px 0 0;
    width:auto;
}

body #context-selector input {
    margin:0 14px 0 0;
    width:auto;
}

body #context-selector input.btn {
    margin:0;
}

body .pagination {
    height:40px;
    margin:1px 0;
}

body .table th.actions-item {
    text-align:right;
}

body .table td.actions-item {
    width:14px;
    text-align:right;
}

body .table .line.disabled {
    opacity:.4;
}

body .cungfoo-autocomplete {
    position:absolute;
    z-index:1000;
    display:none;
    float:left;
    min-width:218px;
    padding:4px 0;
    margin:-9px 0 0;
    list-style:none;
    background-color:#fff;
    border:1px solid #CCC;
}

body .cungfoo-autocomplete li {
    line-height:20px;
}

body .cungfoo-autocomplete li a {
    display:block;
    padding:3px 20px;
    clear:both;
    font-weight:400;
    line-height:20px;
    color:#333;
    white-space:nowrap;
}

body .cungfoo-autocomplete li a:hover {
    color:#fff;
    background-color:#08C;
    text-decoration:none;
}

body .navbar .nav {
    margin-top:14px;
}

body .navbar .brand {
    margin:0;
    padding:0;
}

body .row {
    vertical-align:bottom;
}

body .row .span9 .tabbable {
    margin-left:-240px;
}

body .tab-content {
    overflow:visible;
}

body textarea {
    width:686px;
    min-height:150px;
}

body .redactor_box iframe {
    max-height:500px;
}

body select[multiple=multiple] {
    height:200px;
    width:100%;
}

body .alert-error {
    position:relative;
    display:inline-block;
    margin-left:240px;
    margin-bottom:10px;
}

body .alert-error:after {
    top:100%;
    border:solid transparent;
    content:"";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
    border-color:rgba(140, 138, 138, 0);
    border-top-color:#F2DEDE;
    border-width:10px;
    left:20px;
    margin-left:-5px;
}

#dragContainer {
    display: block;
    text-align: center;
    padding: 45px 0;
    margin: 15px;
    background-color: #dedede;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 3px dashed #cecece;
}

#droppedFiles {
    display: none;
}

#droppedFiles .image {
    height: 64px;
    width: 80px;
    margin: 5px;
    border: 4px solid #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    float: left;
}

.modal {
    width: 940px;
    margin-left: -490px;
}

.modal-body {
    max-height: 600px;
}

.crud-column-media {
    height: 35px;
    width: 50px;
    border: 4px solid #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    float: left;
}

.media-line td {
    line-height: 43px
}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */

