<form action="" method="get">
    <ul id="context-selector" class="breadcrumb">
        {% for field in form %}
            {% if field.name != '_token' %}
            {% set fieldName = 'context.' ~ field.name %}
            <li><span>{{ fieldName|trans }}</span>{{ form_widget(field) }}</li>
            {% endif %}
        {% endfor %}
        <li class="pull-right"><input class="btn" type="submit" value="{{ "context.validate"|trans }}"/></li>
    </ul>
</form>