{% extends "Cungfoo/base.twig" %}

{% block content %}
    {% if error %}
        <div>{{ error }}</div>
    {% endif %}

    <form action="{{ path('admin_login_check') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
{% endblock %}