<div class="content">
    <img src="http://pimg.devlint.fr/124x93/ccc/333/*" alt="LA RIVIÈRE  ***">
    <p class="title">La Marine ****</p>
    <p class="country">France</p>
    <p class="reg">Languedoc-Roussillon</p>
    <p class="city">Le Grau-du-Roi</p>
    <a class="bt sombre" href="#_">Découvrir le camping</a>
</div>