{# Link column \ Called this template with a parameter like this :
    'column' => array('value' => 'foo', 'href' => 'bar'),
#}
<a href="{{ column.href }}" title="{{ column.value }}">{{ column.value }}</a>